<div class='row-fluid dialog_product'>
	<div class="span4">
		<header>
		    <ul class="nav nav-tabs">
		        <li class="active" id ="sort">
		            <a href="#categories" data-toggle="tab">分类</a>
		        </li>
		        <li>
		            <a href="#brands" data-toggle="tab">品牌</a>
		        </li>
		    </ul>
		</header>
		<div class="body tab-content">
            <div id="categories" class="tab-pane active clearfix">
            	<div class='search-header'>
					<div class="input-append controls-row">
	                    <input class="span8" type="search" id="search-input3">
	                    <button type="button" class="btn btn-transparent span4">Search</button>
	                </div>
            	</div>
            	<%= render "category_selector" %>
            </div>
            <div id="brands" class="tab-pane">
            </div>
        </div>
	</div>
	<div class="span4">
		<div class='panel' style="margin-right:13px;">
			<h4><i class='icon-th-large'></i> 分类商品
				<!-- <i class="icon-foursquare"></i> -->
				<button class='btn select_all pull-right' style="margin-bottom:3px;">全选</button>
			</h4>
			<div class='search-header'>
				<div class="input-append controls-row">
	                <input class="span8" type="search" id="search-input1">
	                <button type="button" class="btn btn-transparent span4">Search</button>
	            </div>
	        </div>
			<ul class='category_product_list product_list'>
				<p class='info'><i class="icon-arrow-left"></i> 请从左边分类中选择添加...</p>
			</ul>
			<div class="btn-group btn-group-vertical pull-right position">
				<div class='buttons'>
					<%= link_to '#', :class => 'btn add_to_shop' do %>
					<%= icon 'arrow-right' %>
					<% end %>
				</div>
				<div class='buttons'>
					<%= link_to '#', :class => 'btn remove_from_shop pull-right' do %>
					<%= icon 'arrow-left' %>
					<% end %>
				</div>
			</div>
		</div>

		<script type="text/jstemplate" id="category_product_show" >
			<li id="{{ id }}" class='product_item'>
				<img src="{{ url }}" alt="{{name}}" class='product_img' />
				<h5>{{ name }} <b>{{ brand_name }}</b></h5>
				<span>单价:<i class='icon-jpy'></i> {{ price }}</span>
				<span>库存: {{ inventory }}</span>
			</li>
		</script>

		<script type="text/javascript">
			$('.category_product_list').slimScroll({ height: 500 , railVisible: true});
		</script>
	</div>
	<div class="span4">
		<div class='panel' style="margin-left:8px;">
			<h4><i class='icon-th-large'></i> 库存商品</h4>
			<div class='search-header'>
				<div class="input-append controls-row">
		            <input class="span8" type="search" id="search-input2">
		            <button type="button" class="btn btn-transparent span4">Search</button>
		        </div>
		    </div>
			<ul class='my_product_list product_list'>
			</ul>
		</div>


		<script type="text/jstemplate" id="product_show" >
			<li id="{{ id }}" class='product_item'>
				<img src="{{ url }}" alt="{{name}}" class='product_img' />
				<h5>{{ name }} <b>{{ brand_name }}</b></h5>

				<!--<span>单价 <input name='price' type='number' value='{{ price }}'/></span>-->
				<!--<span>库存 <input name='inventory' type='number' value='{{ inventory }}'/></span>-->
				<section> 单价 <span class='label label-default price'>{{ price }} <i class='icon-edit'></i></span></section>
				<section> 库存 <span class='label label-default inventory'>{{ inventory }} <i class='icon-edit'></i></span></section>
			</li>
		</script>

		<script type="text/javascript">
			var product_view = new ProductView({ el : $(".my_product_list"), models: <%=raw @products.to_json %> , template: $("#product_show").text()});

			new WizardView({
				el: $(".dialog_product"),
				category_product_template: $("#category_product_show").text(),
				shop_id: <%= current_user.shop.try(:id) %>,
				select_handle: function(models){
					_.each(models, function(model){
						product_view.render(model);
					})
				}
			});
			var scroll = $('.my_product_list').slimScroll({ height: 500 , railVisible: true});
			$(".slimScrollDiv").css("overflow","")
		</script>
	</div>
</div>
<script type="text/javascript">
	var bind_editable = function(elem, class_name){
		id = $(elem).attr("id")
		$("."+ class_name , elem).editable({
	        type:  'text',
	        pk:    id,
	        name:  class_name,        
	        url:   "/shop_products/"+ id +"/update_attribute",  
	        title: 'change your '+class_name,
	        ajaxOptions: {
	        	type: 'put',
	        	dataType: 'json'
	    	},
		    validate: function(value) {
			    if(isNaN($.trim(value))) {
			        return 'This must be a number';
			        value = 0.0
			    }
			}  
		})
	};
	$('.my_product_list>li').each(function(i, elem){
		bind_editable(elem, "price")
		bind_editable(elem, "inventory")
	});

	var Filter = function(id_name,target){
		$("#"+id_name).keyup(function(){
			var filter = $(this).val(), count = 0;
			$("."+target+" li").each(function(){
				if ($(this).text().search(new RegExp(filter, "i")) < 0) {
					$(this).fadeOut();
				} else {
					$(this).show()// $(this).show();
					count++;
				}
			});
			var numberItems = count;
			$("#filter-count").text("Number of Comments = "+count);
		})
		false
	};

	$(document).ready(function(){
		Filter("search-input1","category_product_list");
		Filter("search-input2","my_product_list")
	})
	
</script>