<div class='row-fluid dialog_product'>
	<div class="span4">
		<header>
		    <ul class="nav nav-tabs">
		        <li class="active">
		            <a href="#categories" data-toggle="tab">分类</a>
		        </li>
		        <li>
		            <a href="#brands" data-toggle="tab">品牌</a>
		        </li>
		    </ul>
		</header>
		<div class="body tab-content">
            <div id="categories" class="tab-pane active clearfix">
            	<div class='search-header'>
            		<form>
					<div class="input-append">
	                    <input type="search" id="search-input">
	                    <button type="button" class="btn btn-transparent">Search</button>
	                </div>
	                </form>
            	</div>
            	<%= render "category_selector" %>
            </div>
            <div id="brands" class="tab-pane">
            </div>
        </div>
	</div>
	<div class="span4">
		<div class='panel'>
			<h4><i class='icon-th-large'></i> 分类商品</h4>
    		<form class='search-form'>
				<div class="input-append">
	                <input type="search" id="search-input">
	                <button type="button" class="btn btn-transparent">Search</button>
	            </div>
            </form>
			<ul class='category_product_list product_list'>
				<p class='info'><i class="icon-arrow-left"></i> 请从左边分类中选择添加...</p>
			</ul>
			<div class='buttons'>
				<%= link_to '#', :class => 'btn add_to_select' do %>
				<%= icon 'arrow-right' %>
				<% end %>
			</div>
		</div>


		<script type="text/jstemplate" id="category_product_show" >
			<li id="{{ id }}" class='product_item'>
				<img src="{{ url }}" alt="{{name}}" class='product_img' />
				<h5>{{ name }} <b>{{ brand_name }}</b></h5>
				<span>单价: {{ price }}</span>
				<span>库存: {{ inventory }}</span>
			</li>
		</script>

		<script type="text/javascript">
			$('.category_product_list').slimScroll({ height: 500 , railVisible: true});
		</script>
	</div>
	<div class="span4">
		<div class='panel'>
			<h4><i class='icon-th-large'></i> 库存商品</h4>
    		<form class='search-form'>
				<div class="input-append">
	                <input type="search" id="search-input">
	                <button type="button" class="btn btn-transparent">Search</button>
	            </div>
            </form>
			<ul class='my_product_list product_list'>
			</ul>
		</div>


		<script type="text/jstemplate" id="product_show" >
			<li id="{{ id }}" class='product_item'>
				<img src="{{ url }}" alt="{{name}}" class='product_img' />
				<h5>{{ name }} <b>{{ brand_name }}</b></h5>

				<!--<span>单价 <input name='price' type='number' value='{{ price }}'/></span>-->
				<!--<span>库存 <input name='inventory' type='number' value='{{ inventory }}'/></span>-->
				<section> 单价 <span class='label label-default'>{{ price }} <i class='icon-edit'></i></span></section>
				<section> 库存 <span class='label label-default'>{{ inventory }} <i class='icon-edit'></i></span></section>
			</li>
		</script>

		<script type="text/javascript">
			var product_view = new ProductView({ el : $(".my_product_list"), models: <%=raw @products.to_json %> , template: $("#product_show").text()});

			new WizardView({
				el: $(".dialog_product"),
				category_product_template: $("#category_product_show").text(),
				shop_id: <%= current_user.shop.try(:id) %>,
				select_handle: function(models){
					_.each(models, function(model){
						product_view.render(model);
					})
				}
			});

			$('.my_product_list').slimScroll({ height: 500 , railVisible: true});
		</script>
		<!-- <a href="#" class="deleteAll">删除选中</a> -->
	</div>
</div>