<div class="address-panel"> 
<%= simple_form_for :address, :remote => true, :url => search_yellow_page_index_path, :html => { :class => 'form-horizontal',:id => locals[:id] } do |address_form| %>
    <label class="chosen optional control-label" for="address" style="padding-right:10px;">选择省,市,县</label> 
    <div class="controls ">
      	<div class="control-group row">
        <%= address_form.input :province_id,
                     :as => :depend_select,
                     :children => :city_id,
                     :object => @address,
                     :wrapper => :inline,
                     :input_html => { class: "span12"},
                     :wrapper_html => { class: "span3"},
                     :collection => get_city %>

        <%= address_form.input :city_id,
                     :as => :depend_select,
                     :children => :area_id,
                     :target => :province,
                     :object => @address,
                     :wrapper => :inline,
                     :input_html => { class: "span12"},
                     :wrapper_html => { class: "span3"},
                     :collection_url => "/city/" %>

        <%= address_form.input :area_id,
                     :as => :depend_select,
                     :object => @address,
                     :target => :city,
                     :wrapper => :inline,
                     :input_html => { class: "span12"},
                     :wrapper_html => { class: "span3 "},
                     :collection_url => "/city/" %>
        <%= address_form.error :province_id %>
        <button  class="btn">确定</button>
        <%= address_form.input  :type,
                                :as => :hidden,
                                :input_html => { 
                                    :value => locals[:id]
                                },
                                :wrapper_html => {class: "hidden" } %>
        </div> 
    </div>
<% end %>
</div>