<div class="content container-fluid yellow_page">
	<div class="container-fluid ">
	    <div class="row-fluid">	
	    	<div class="span9 widget">
		    	<%= render "advertise_carousel" %> 		     
				<%= render "new_user" %>
				<%#= render "buyer_user" %>
				<%#= render "seller_user" %>
			</div>
			<div class="span3">
				<!--排行榜-->
				<div class="widget top_10">
					<h4>排行榜</h4>
					<ul class="user-list">
						<li id ="#" class="widget row" style="margin-left:0px;margin-bottom:2px;">
							<div class="top_image span4">
								<img src= "/default_img/t5050_default_avatar.jpg"/>
							</div>
							<div class="span6"> 
								<div class="shop_name"><a href="#">天赐宝贝</a></div>
								<div class="follows"><span>关注人数: 100</span></div>
								<a href="#" class="btn btn-warning" style="padding:0px;">+关注</a>
							</div>     
	                    </li>
	                    <li id ="#" class="widget row" style="margin-left:0px;margin-bottom:2px;">
							<div class="top_image span4">
								<img src= "/default_img/t5050_default_avatar.jpg"/>
							</div>
							<div class="span6"> 
								<div class="shop_name"><a href="#">天赐宝贝</a></div>
								<div class="follows"><span>关注人数: 100</span></div>
								<a href="#" class="btn btn-warning" style="padding:0px;">+关注</a>
							</div>     
	                    </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/template" id = "yellow_page_hover_buyer_template" >
    <%= render "yellow_page/hover_buyer_template" %>
</script>

<script type="text/template" id= "yellow_page_hover_seller_template">
    <%= render "yellow_page/hover_seller_template" %>
</script>

<script type="text/template" id= "seller_base_template">
    <%= render "yellow_page/seller_base_template" %>
</script>

<script type="text/template" id= "buyer_base_template">
    <%= render "yellow_page/buyer_base_template" %>
</script>

<script type="text/javascript">
	$(function() {
		new YellowInfoPreviewList({
			el: $(".yellow_page")
		})
		new SearchUserViewList({
			el: $(".yellow_page")
		})
		$(".depend_select>option[value=]").html("--请选择--")
	})
</script>
