<div class='row-fluid'>
	<div class='span8 offset2 dialog'>
		<div class="page-header">
			<h2 class="page-title">买家信息验证</h2>
		</div>
		<fieldset>
		<%= simple_form_for @user_auth,
			url: '/completing_people/authenticate_license',
			html: { method: :put, class: "form-horizontal" } do |f| %>
			<div class="section">
				<!-- <div>基本信息</div> -->
				<div class="row-fluid">
					<div class="span5 reset_avatar main_panle1">
						<span>身份证照</span>
						<div class="photo_span" >
							<img class="bottom normal_picture img-polaroid">
						</div>
						<div id="image_bottom">
							<div class="hidden_one" id="hidden_text">
								<%#= upload_tip %>
							</div>
							<div class="update_photo_panle cant_see_me upload_user_avatar file-box" >
							</div>
						</div>
					</div>

					<div class="span7 input_locate">
						<%= f.input :ower_name, label: '真实姓名' %>
						<%= f.input :ower_shenfenzheng_number, label: '身份证号' %>
						<%= f.input :phone, label: '联系电话' %>
						<%= f.input :company_name, label: '营业店名' %>
						<% address = @user_checking.address || Address.new %>
						<div data-id="<%= address.id %>" class="control-group string required address">
							<div class="hide">
								<%= f.input :address_id, input_html: { value: address.id }  %>
							</div>
							<%= f.label :address_id, wrapper: :inline_label %>
							<div class="controls">
								<input class="string required address_input" size="50" type="text" value="<%= address.address_only %>" readonly="readonly">
								<a class="btn" data-toggle="modal" href="<%= edit_address_completing_person_path %>" data-target="#edit_address">编辑</a>

								<div id="edit_address" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editAddressLabel" aria-hidden="true">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
										<h3 id="editAddressLabel">编辑地址</h3>
									</div>
									<div class="modal-body">

									</div>
									<div class="modal-footer">
										<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
										<button class="btn btn-primary edit-button">保存</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class='pull-right'>*表示必填项,请认真填写有效信息</div>
				<br>
				<div class="row-fluid">
					<div class="pull-left">
						<%#= button_to "跳过", { action: :skip }, class: "btn-link btn-primary" %>
					</div>
					<div class="pull-right">
						<%#= link_to "上一步", previous_wizard_path, class: 'btn btn-primary' %>
						<%= f.submit "完成", class: "btn btn-primary" %>
					</div>
				</div>
			</div>
		<% end %>
		</fieldset>
	</div>
</div>

<script type="text/javascript">
	$(function(){
		new Upload({
			verify_authenticity_token: "<%= form_authenticity_token %>",
			action: "/user_checkings/upload_photo/",
			current_user: {
				id: "<%= current_user.id %>",
				login: "<%= current_user.login %>"
			},
			targets: [{
				el: $(".main_panle1"),
				input_name: "ower_photo",
				photo: "<%= @user_checking.try(:ower_photo) %>"
			}]
		})

		new AddressEditView({
			el: "div.address"
		})
	})
</script>