<div class="container-fluid offset2 span8">
  <div class='row-fluid'>
    <div class='span12'>
      <h2 class="page-title">买家信息验证</h2>
    </div>
  </div>
  <div class='row-fluid wrapper-box'>
    <%= simple_form_for @user_auth,
            url: '/completing_people/authenticate_license',
            html: { method: :put, class: "form-horizontal" } do |f| %>
      <%= f.input :ower_photo, label: '个人图片', as: 'file' %>
      <%= f.input :ower_name, label: '真实姓名', input_html: { class: 'input-block-level' } %>
      <%= f.input :ower_shenfenzheng_number, label: '身份证号', input_html: { class: 'input-block-level' } %>
      <%= f.input :phone, label: '联系电话', input_html: { class: 'input-block-level' } %>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn">下一步</button>
          <%= link_to '跳过', next_wizard_path, :class => 'btn btn-primary' %>
          <%= link_to '上一步', previous_wizard_path, :class => 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
