<div class="container-fluid offset2">
  <div class="page-header">
    <h1>企业信息验证</h1>
  </div>
  <%= simple_form_for @user_auth, 
        url: '/completing_people/authenticate_license', 
        html: { method: :put, class: "span8 form-horizontal" } do |f| %>
    <%= f.input :company_name, label: '企业名称' %>
    <%= f.input :business_license_num, label: '营业执照号' %>
    <%= f.input :company_address, label: '营业地址' %>
    <%= f.input :company_summary, label: '企业简介' %>
    <%= f.input :company_legal, label: '企业法人' %>
    <%= f.input :legal_contact, label: '法人电话' %>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">下一步</button>
        <%= link_to '跳过', next_wizard_path, :class => 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
