<div class='activity' activity-id='<%= activity.id %>' id="activity<%= activity.id %>">
  <div class='out-box'>
    <form>
    <div class='in-box'>
      <%= image_tag activity.photos.avatar, :class => "preview a-#{activity.id}" %>
      <h5 class="right_bottom2 ">原价: <span><%= activity.price %></span></h5>
      <h4 class="right_bottom1 ">现价: <span><%= activity.activity_price %></span></h4>
    </div>
    <div class="corner"><h4>特价</h4></div>
    <div class='info'>
      <h5><%= activity.title %></h5>
      <p class="description" style="word-wrap:break-word;"><%= activity.description %></p>
      <span>参与 <%= activity.participate || 0 %> </span>
      喜欢 <span class='like-count'><%= activity.like || 0 %></span>
    </div>
    <div class="buttons">
      <%#= link_to_mycart to_cart_activity_path(activity), ".preview.a-#{activity.id}", :class =>'btn btn-danger partic-button' do %>
        <%#= icon(:'shopping-cart') + " 参与" %>
      <%# end %>
      <%= link_to '#', class: 'btn btn-danger launch-button' do %>
        <%= icon('shopping-cart') + " 参与" %>
      <% end %>

      <% if activity.likes.exists?(current_user) %>
        <%= link_to '#', class: 'btn unlike-button active' do %>
          <%= "取消喜欢" %>
        <% end %>
      <% else %>
        <%= link_to '#', class: 'btn like-button' do %>
          <%= icon(:heart) + " 喜欢" %>
        <% end %>
      <% end %>
    </div>
    <div class="comments_and_reply">
      <%= render "people/attribution", people: activity.author if activity.author %>
      <%#= render "comments/last_and_reply", target: activity %>
    </div>
    </form>

  </div>
</div>
<script type="text/javascript">
  var effect = "fadeInRight";
  $('.activity')
    .hover(function(event){
      $(event.currentTarget)
        .find(".right_bottom2")
        .addClass("animate1 " + effect);
      $(event.currentTarget)
        .find(".right_bottom1")
        .addClass("animate2 " + effect);
      // $(event.currentTarget)
      //  .find(".preview")
      //  .addClass("animate0 " + "flipInY");
    })
    .mouseleave(function(event){
      $(event.currentTarget)
        .find(".right_bottom2")
        .removeClass("animate1 " + effect);
      $(event.currentTarget)
        .find(".right_bottom1")
        .removeClass("animate2 " + effect);
      // $(event.currentTarget)
      //  .find(".preview")
      //  .removeClass("animate0 " + "flipInY");
    })
</script>