<!-- 竞价 -->
<%= simple_form_for @activity, :remote => true, :url => activities_auction_index_path, :html => { class: 'form-horizontal form_activity_auction'}, :type => :json do |f| %>

  <%= f.input :product,
              :label => "商品",
<<<<<<< HEAD
              :input_html => { class: :product, placeHolder: '请输入商品名称...',autocomplete: 'off',required: true, } %>
=======

              :input_html => { class: :product, placeHolder: '商品名称...',autocomplete: 'off' } %>
>>>>>>> ce24616... fix


  <div class="control-group string optional" style='margin: 0;'>
    <ul class="dropdown-menu product_selector" role="menu" aria-labelledby="dropdownMenu"
        style='display: none; top: 100px; left: 195px; width: 220px; padding: '>
      <!-- <li><a tabindex="-1" href="#">Action</a></li> -->
    </ul>
  </div>

  <%= f.text_field :product_id, type: :hidden %>

  <%= f.input :description,
              :label => '活动名称',
              :warpper => false %>

  <div class="control-group">
    <label class="control-label" for="inputPrice">图片</label>
    <div class="controls">
      <img data-src="holder.js/140x140" class="img-rounded private" alt="140x140" style="" src="<%= default_img_url('100x100') %>">
      <ul class='attachment_panel'></ul>
    </div>
  </div>

  <%= f.input :price,
<<<<<<< HEAD
              :label => '价格',
              :input_html=>{class: :span2},
              required: true %>
=======
              :label => '原价',
              :input_html=>{class: :span2} %>
>>>>>>> ce24616... fix

  <%= f.input :activity_price,
              :label => '竞购价',
              :input_html=>{class: :span2} %>

  <div class="control-group">
    <label class="control-label" for="inputPrice">&nbsp;</label>
    <div class="controls" style="margin-top: 55px;">
      <div id="price_slider"></div>
        <script type="text/javascript">
          $( "#price_slider" ).slider();
        </script>
    </div>
  </div>

  <%= f.input :start_time,
              :as         => :date_picker,
              required: true,
              input_html: { name: 'activity[start_time]' } %>

  <%= f.input :end_time,
              :as         => :date_picker,
              required: true,
              input_html: { name: 'activity[end_time]' } %>


  <script type="text/javascript">

    var activity_view = new ActivityBaseInfoView({
      el: $(".form_activity_auction"),
      params: {
        url_upload: "<%=attachments_path %>",
        default_img_url: "<%=default_img_url('100x100') %>",
        template: '<%=j render "product_upload" %>',
      }
    });

    // 根据用户输入的商品名称、条码，加载商品信息供选择
    $('#activity_product').on('blur',function(e){
      window.setTimeout(function(){
        $('ul.product_selector').hide();
      },500);
    })

    $('#activity_product').on('keyup', function(e){
      var query_name = $('#activity_product').val().trim();
      if(query_name == ""){
        return;
      }
      $.ajax({
        url: "product_search/?q=" + query_name,
        beforeSend: function (xhr) {
          xhr.overrideMimeType("text/json; charset=x-user-defined");
        }
      }).success(function (data) {
        var select_ul = "";
        if (data.length > 0) {
          $.each(data, function(){
            select_ul += '<li product_id="' + this.id + '" '
                          + 'product_price="' + this.price + '" '
                          + '><a tabindex="-1" href="javascript: void(0);">'
                          + this.title + '</a></li>';
          })
        }
        select_ul = select_ul || '<li><a tabindex="-1" href="javascript: void(0);">没有相关商品！</a></li>';
        $('ul.product_selector').html(select_ul);
        $('ul.product_selector').show();
      });
    });

    // 侦测那个商品被选择, 根据选择的商品更新相关信息
    $('ul.product_selector>li').live('click', function(){
      var product_id = $(this).attr('product_id')
      if (!product_id) return;

      var product_name = $(this).text();
      $('#activity_product').val(product_name);
      $('#activity_description').val(product_name + '竞价');

      activity_view.fetch_product(product_id)
    });
  </script>

<% end %>