<!-- 竞价 -->
<%= simple_form_for @activity, :remote => true,:url => activities_auction_index_path, :html => { class: 'form-horizontal form_activity_auction' } do |f| %>

  <%= f.input :product,
              :label => "商品",
              :input_html => { class: :product, placeHolder: '请输入商品名称...' } %>

  <div class="control-group string optional" style='margin: 0;'>
    <ul class="dropdown-menu product_selector" role="menu" aria-labelledby="dropdownMenu"
        style='display: none; top: 100px; left: 195px; width: 220px; padding: '>
      <!-- <li><a tabindex="-1" href="#">Action</a></li> -->
    </ul>
  </div>

  <%= f.text_field :product_id, type: :hidden %>

  <%= f.input :description,
              :label => '活动名称',
              :warpper => false %>

  <div class="control-group">
    <label class="control-label" for="inputPrice">图片</label>
    <div class="controls">
      <img data-src="holder.js/140x140" class="img-rounded private" alt="140x140" style="" src="<%= default_img_url('140x140') %>">
      <ul class='attachment_panel'></ul>
    </div>
  </div>

  <%= f.input :price,
              :label => '价格',
              :input_html=>{class: :span2} %>

  <%= f.input :activity_price,
              :label => '竞购价',
              :input_html=>{class: :span2} %>

  <div class="control-group">
    <label class="control-label" for="inputPrice">&nbsp;</label>
    <div class="controls" style="margin-top: 55px;">
      <div id="price_slider"></div>
        <script type="text/javascript">
        require(['jquery'], function($){
            $( "#price_slider" ).slider();
        });
        </script>
    </div>
  </div>

  <%= f.input :start_time,
              :as         => :date_picker,
              input_html: { name: 'activity[start_time]' } %>

  <%= f.input :end_time,
              :as         => :date_picker,
              input_html: { name: 'activity[end_time]' } %>


  <script type="text/javascript">

    var activity_view = new ActivityBaseInfoView({
      el: $(".form_activity_auction"),
      params: {
        url_upload: "<%=attachments_path %>",
        default_img_url: "<%=default_img_url('140x140') %>",
        version_name: "140x140",
        template: '<%=j render "product_upload" %>',
        input_name: "activity[attachment_ids]"
      }
    })

    // 根据用户输入的商品名称、条码，加载商品信息供选择
    $('#activity_product').on('change', function(e){
      var query_name = $('#activity_product').val()
      $.ajax({
        url: "product_search/?q=" + query_name,
        beforeSend: function (xhr) {
          xhr.overrideMimeType("text/json; charset=x-user-defined");
        }
      }).success(function (data) {
        var select_ul = "";
        if (data.length > 0) {
          $.each(data, function(){
            select_ul += '<li product_id="' + this.id + '" '
                          + 'product_price="' + this.price + '" '
                          + '><a tabindex="-1" href="javascript: void(0);">'
                          + this.title + '</a></li>';
          })
        }
        select_ul = select_ul || '<li><a tabindex="-1" href="javascript: void(0);">没有相关商品！</a></li>';
        $('ul.product_selector').html(select_ul);
        $('ul.product_selector').show();
      });

      // 侦测那个商品被选择, 根据选择的商品更新相关信息
      $('ul.product_selector>li').live('click', function(){
        var product_id = $(this).attr('product_id')
        if (!product_id) return;
        activity_view.fetch_product(product_id)
      })
    });
  </script>

<% end %>