<!-- 竞价 -->
<%= simple_form_for @activity, :remote => true,:url => activities_auction_index_path, :html => { class: 'form-horizontal' } do |f| %>

  <%= f.association :product, :collection => Product.all %>
  <div class="control-group">
    <label class="control-label" for="inputPrice">图片</label>
    <div class="controls">
      <img data-src="holder.js/140x140" class="img-rounded" alt="140x140" style="width: 140px; height: 140px;" src="">
      <img data-src="holder.js/140x140" class="img-rounded" alt="140x140" style="width: 140px; height: 140px;" src="">
      <img data-src="holder.js/140x140" class="img-rounded" alt="140x140" style="width: 140px; height: 140px;" src="">
    </div>
  </div>

  <%= f.input :price,
              :label => '价格',
              :wrapper => false,
              :input_html=>{class: :span2} %>
  <div class="control-group">
    <label class="control-label" for="inputPrice">&nbsp;</label>
    <div class="controls" style="margin-top: 55px;">
      <div id="price_slider"></div>
        <script type="text/javascript">
        require(['jquery'], function($){
            $( "#price_slider" ).slider();
        });
        </script>
    </div>
  </div>

  <%= f.input :start_time,
              :as         => :date_picker,
              input_html: { id: 'start_time', name: 'activity[start_time]' } %>

  <%= f.input :end_time,
              :as         => :date_picker,
              input_html: { id: 'end_time', name: 'activity[end_time]' } %>

<% end %>