<!-- 竞价 -->
<%= simple_form_for @activity, :remote => true, :url => activities_auction_index_path, :html => { class: 'form-horizontal form_activity_auction'}, :type => :json do |f| %>

  <%= f.input :shop_product_id,
              :collection => [],
              :wrapper_html => {
                :class => "shop_product_wrap"
              },
              :input_html => {
                :class => "shop_product_id"
              } %>

  <%= f.input :title,
              :label => '活动名称',
              :warpper => false %>

  <div class="control-group">
    <label class="control-label" for="inputPrice">图片</label>
    <div class="controls">
      <img data-src="holder.js/140x140" class="img-rounded preview" alt="140x140" style="" src="<%= default_img_url('100x100') %>">
      <ul class='attachment-list'></ul>
    </div>
  </div>

  <%= f.input :description, as: :text,
              :lable => '活动描述',
              :input_html=>{class: :span3, rows: 3, "style" => "max-width:380px"} %>

  <%= f.input :price,
              :label => '原价',
              :input_html=>{class: :span2},
              required: true %>

  <%= f.input :activity_price,
              :label => '竞购价',
              :input_html=>{class: :span2} %>

  <%= f.input :start_time,
              :as         => :date_picker,
              required: true,
              input_html: { name: 'activity[start_time]' } %>

  <%= f.input :end_time,
              :as         => :date_picker,
              required: true,
              input_html: { name: 'activity[end_time]' } %>

  <script type="text/javascript">
    var data = <%= @activity.attachments.as_json({version_name: "100x100"}).to_json.html_safe %>
    var activity_view = new ActivityBaseInfoView({
      el: $(".form_activity_auction"),
      params: {
        url_upload: "<%= attachments_path %>",
        default_img_url: "<%= default_img_url('100x100') %>",
        template: '<%= j render "product_upload" %>',
        data: data
      }
    });

    var shop_product_elem = $(".form_activity_auction .shop_product_id")
    shop_product_elem.chosenEx({
      allow_single_deselect : true,
      placeholder_text : "选择一个商品",
      no_results_text : "没有以该关键词开头的商品",
      <% if @activity.shop_product.present? %>
      data: [{
        id: <%= @activity.shop_product_id %>,
        name: "<%= @activity.shop_product.name %>"
      }],
      <% end %>
      remote: {
        url: "/search/shop_products",
        dataType: "json"
      },
      select: function(id){
        activity_view.fetch_product(id)
      }
    });
  </script>

<% end %>