<!-- 竞价 -->
<%= simple_form_for @activity, :remote => true, :url => activities_auction_index_path, :html => { class: 'form-horizontal form_activity_auction'}, :type => :json do |f| %>

  <%= f.input :product,
              :label => "商品",
              :input_html => {
                  class: :typeahead,
                  placeHolder: '商品名称...',
                  autocomplete: 'off',
                  required: true
              } %>

  <ul class="typeahead dropdown-menu typeahead_list"></ul>


  <%= f.text_field :product_id, type: :hidden %>

  <%= f.input :description,
              :label => '活动名称',
              :warpper => false %>

  <div class="control-group">
    <label class="control-label" for="inputPrice">图片</label>
    <div class="controls">
      <img data-src="holder.js/140x140" class="img-rounded private" alt="140x140" style="" src="<%= default_img_url('100x100') %>">
      <ul class='attachment-list'></ul>
    </div>
  </div>

  <%= f.input :price,
              :label => '原价',
              :input_html=>{class: :span2},
              required: true %>

  <%= f.input :activity_price,
              :label => '竞购价',
              :input_html=>{class: :span2} %>

  <div class="control-group">
    <label class="control-label" for="inputPrice">&nbsp;</label>
    <div class="controls" style="margin-top: 55px;">
      <div id="price_slider"></div>
        <script type="text/javascript">
          $( "#price_slider" ).slider();
        </script>
    </div>
  </div>

  <%= f.input :start_time,
              :as         => :date_picker,
              required: true,
              input_html: { name: 'activity[start_time]' } %>

  <%= f.input :end_time,
              :as         => :date_picker,
              required: true,
              input_html: { name: 'activity[end_time]' } %>


  <script type="text/javascript">
    var activity_view = new ActivityBaseInfoView({
      el: $(".form_activity_auction"),
      params: {
        url_upload: "<%=attachments_path %>",
        default_img_url: "<%=default_img_url('100x100') %>",
        template: '<%=j render "product_upload" %>',
      }
    });


    $.fn.typeahead.Constructor.prototype.render = function(items){
      var that = this
      items = $(items).map(function (i, item) {
        i = $(that.options.item).attr('data-value', item.id)
        i.find('a').html(that.highlighter(item))
        return i[0]
      })

      items.first().addClass('active')
      this.$menu.html(items)
      return this
    }
    $(".typeahead").typeahead({
      source: function(query, process){
        $.ajax({
          url: 'product_search',
          data: {q: query},
          success: function(data){
            process(data)
          }
        })
      },
      menu: ".typeahead_list",
      matcher: function (obj) {
        return 1
      },
      sorter: function(items){
        return items
      },
      highlighter: function(item){
        var query = this.query.replace(/[\-\[\]{}()*+?.,\\\^$|#\s]/g, '\\$&')
        return item.title.replace(new RegExp('(' + query + ')', 'ig'), function ($1, match) {
            return '<strong>' + match + '</strong>'
        })
      },
      updater: function (id){
        activity_view.fetch_product(id)
      }
    });
  </script>

<% end %>