<!-- 主展示框 -->
<div id="main-model" class="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3><%= activity.title %></h3>
  </div>
  <div class="modal-body main-show">
    <div class='picture'>
      <% if activity.attachments.length > 1  %>
        <div id="myCarousel" class="carousel slide">
          <div class="carousel-inner">
              <% activity.attachments.each do |picture| %>
                <div class="item">
                  <img class="preview" src="<%=picture.file %>" alt="竞价活动-图片">
                </div>
              <% end %>
          </div>
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
      <% else %>
        <img class="preview" src="<%=activity.photos.default %>" />
      <% end %>
    </div>
    <h4 class="right_bottom2 animate1 fadeInRight">
      原价: <span>￥<%= activity.price %></span>
    </h4>
    <h4 class="right_bottom1 animate2 fadeInRight">
      现价: <span>￥<%= activity.activity_price %></span>
    </h4>
    <h4>商品描述：</h4>
    <span class='describe'>
      <%= activity.description %>
    </span>
    <h4>活动时间：</h4>
    <span class='describe'>
      <%= activity.start_time.strftime('%Y年%m月%d日') %> ——  
      <%= activity.end_time.strftime('%Y年%m月%d日') %>
    </span>
  </div>
  <div class="modal-footer">
    <div class="big_comments_and_reply">
      <div class="comments">
        <% activity.comments.each do |c| %>
        <div class="comment">
          <img class='people-image' src="<%=c.user.photos.header %>">
          <span class='author-name'>
            <a href='/people/<%=c.user.login %>'>
              <%= c.user.login %>
            </a>
          </span>
          <div class="pull-right">
            评论于<%= c.created_at.strftime('%Y-%m-%d %H:%M') %>
          </div>
          <div class="message"><%= raw c.content_html %></div>
        </div>
        <% end %>
      </div>
      <div class="reply_form">
        <div class='user-info'>
          <img src="<%= current_user.photos.header %>">
          <a href="<%= person_path(current_user) %>">
            <%= current_user.login %>
          </a>
        </div>
        <div class='message'>
          <textarea name='message' placeholder="发表评论..."></textarea>
        </div>
        <button class="submit-comment disabled btn btn-danger">评论</button>
      </div>
    </div>
  </div>
</div>