<div class='activity auction' activity-id='{{id}}' id="activity{{id}}" data-token="{{temporary_channel.token}}" data-group="{{temporary_channel.name}}" >
  <div class='out-box'>
    <span class="activity_tag"></span>
    <form>
      <div class='in-box'>
        {{#photos}}
          <img src='{{avatar}}' class="preview a-{{id}}" />
        {{/photos}}
      </div>

      <div class='summary'>
        <h5 class="title href_name" title="{{title}}">{{title}}</h5>
        <p class='describe'>
          单价 <span class='price'>￥{{price}}</span>
          <span class="time-left"></span>
        </p>
      </div>

      <div class='userinfo shopinfo' data-value-id="{{ shop.id }}">
        {{#shop.photos}}
          <a href="/shops/{{shop.name}}">
          <img src='{{icon}}' class="author " />
          </a>
        {{/shop.photos}}
        <p>
          <a href="/shops/{{shop.name}}" class="href_name" title="{{ shop.name }}">
            {{ shop.name }}
          </a>
          {{^is_self}}
            {{#followed}}
              <a href="javascript:void(0)" data-follow-id='{{followed_id}}' data-value-id="{{ shop.id }}" class='btn btn-mini btn-primary pull-right unfollow'>取消关注</a>
            {{/followed}}
            {{^followed}}
              <a href="javascript:void(0)" data-value-id="{{ shop.id }}" class='btn btn-mini btn-primary pull-right follow'>+关注</a>
            {{/followed}}
          {{/is_self}}
        </p>
        <i class='icon-bullhorn join-chat'>聊天</i>
        <span class='title'>参与</span>
        <span>{{ participate}} </span>
        <span class='title'>喜欢</span>
        <span class='like-count'>{{like}}</span>
      </div>

      <div class="buttons" style='z-index:8889;'>
        {{#is_start}}
          <%= link_to 'javascript:void(0)', class: 'btn btn-danger launch-button' do %>
            <%= icon('shopping-cart') + " 购买" %>
          <% end %>
        {{/is_start}}

        {{#likes}}
          <%= link_to '#', title: '取消支持会影响排名喔', 'data-toggle' => 'tooltip' , class: 'btn unlike-button active' do %>
            <%= "取消喜欢" %>
          <% end %>
        {{/likes}}
        {{^likes}}
          <%= link_to '#', title: '喜欢就支持一下', 'data-toggle' => 'tooltip', class: 'btn like-button' do %>
            <%= icon('heart') + " 喜欢" %>
          <% end %>
        {{/likes}}
      </div>
    </form>
  </div>
</div>
