<div id="page" >
	<div class="row-fluid">
		<div class="span9">
			<div class="row-fluid">
				<%= search_field_tag :search %>
			</div>
		</div>
		<div class="span3">
			<div class="row-fluid">
				<%= link_to t(:create), "#/new", :class => 'btn', :id => :new_template %>

			</div>
		</div>
	</div>
	<div class="row-fluid">
		<% table @templates,
			:heads => [:name, :path, :created_at, :updated_at, :util],
			:add_column => [{:util => proc do |row|

				content_tag :div, :class => 'btn-group' do
					id = File.basename(row[:name], '.html.erb')
					link_to(icon(:edit), "#/#{id}/edit", :class => 'btn utils edit') +
					link_to(icon(:remove), "#", :'data-delete-url' => "#{id}", :class => 'btn utils delete')
				end
			end }]  do |t| %>
		<%= t.table_head nil, :class => 'table table-bordered' %>
		<% @templates.each do |record| %>
			<%= t.table_row record %>
		<% end %>
		<%= t.table_footer %>
		<% end %>


	</div>
</div>
<script type="text/javascript">
	Ajaxify.addRoute("default", function(){
		Panama.loadPage("#page", "<%= shop_admins_templates_path %>");
	});

	// new button js process
	Ajaxify.addRoute("new", function(){
		Panama.loadPage("#page", "<%= new_shop_admins_template_path %>");
	});

	// delete button js process
	Ajaxify.addRoute("{id}/edit", function(id) {
		var url = "<%= shop_admins_templates_path %>/" + id + "/edit";
		Panama.loadPage("#page", "<%= shop_admins_templates_path %>/" + id + "/edit");
	});

	$("#table a.utils.delete").on("click", function(){
		var url = "<%= shop_admins_templates_path %>/" + $(this).attr('data-delete-url');
		$.post(url, { _method: "delete"}, $.proxy(function(data,  textStatus, jqxhr){
			if (textStatus === 'success'){
				$(this).parents("tr")
					.css('display', 'block')
					.slideUp(function(){
						this.remove();
					})
			}
		}, this));
	});

	// todo: jquery table freeze

	setTimeout(function(){
		function has_anchor() {
			return /#+/.test(location.href);
		}

		if (!has_anchor()){
			Ajaxify.go("default");
		}

	}, 10);
</script>
