<div class="address-form">
<%= simple_nested_form_for transaction,
					:url => update_address_person_transaction_path(people, transaction),
					:html => { :class => "form-horizontal"},
					:remote=>true do |f| %>
	<div class="address_input">
		<%= f.input :address_id,
					# :as => :chosen,
					:collection => people.addresses,
					:selected => "",
					:include_blank => true,
					:label_method => :location,
					:value_method => :id,
					:input_html => { :class => :span12 } %>
		<div class="btn-group address-add">
			<%= button_tag icon(:list), :class => "btn" %>
		</div>
	</div>

	<div class="address-panel">
	<%= simple_fields_for :address, transaction.address do |address_form| %>
		<div class="control-group <%= transaction.errors[:address].size > 0 ? 'error' : '' %> ">
			<label class="chosen optional control-label" for="transaction_address">选择省,市,县</label>
			<div class="controls controls-row">
				<div class="span8">
				<%= address_form.input :province_id,
									   :as => :depend_select,
									   :children => :city_id,
									   :object => transaction,
									   :wrapper => :inline,
									   :collection => get_city %>
				<%= address_form.error :province_id %>

				<%= address_form.input :city_id,
									   :as => :depend_select,
									   :children => :area_id,
									   :object => transaction,
									   :wrapper => :inline,
									   :collection_url => "/city/" %>
				<%= address_form.error :city_id %>
				
				<%= address_form.input :area_id,
									   :as => :depend_select,
									   :object => transaction,
									   :wrapper => :inline,
									   :collection_url => "/city/" %>
				<%= address_form.error :area_id %>
				</div>
				<%= address_form.input :zip_code, :wrapper => :inline_label, :input_html => { :class => :span2 } %>

			</div>
		</div>

		<%= address_form.input :road, :input_html => { :class => :span12 } %>
	<% end %>
	</div>

<% end %>
</div>

<script type="text/javascript">
    require(['jquery', 'people/address_order'], function ($, view){
        var addressOrderView = new view.AddressOrderView({
        	el: $('.transaction-<%=transaction.id %>-<%= transaction.state %>').find(".address-form>form")
        });
    });
</script>
