<!-- 订单 -->
<%= simple_form_for @transaction, 
					:url => transaction_path(@people, @transaction),
					:html => { :class => "form-horizontal"}   do |f| %>
	<%= f.input :address, 
				:as => :chosen, 
				:collection => @people.addresses, 
				:label_method => :location, 
				:value_method => :id,
				:input_html => { :class => :span12 } %>

	<%= simple_fields_for :addresses do |address_form| %>
		<div class="control-group">
			<label class="chosen optional control-label" for="transaction_address">选择省,市,县</label>
			<div class="controls controls-row">
				<div class="span8">
				<%= address_form.input :province, 
									   :as => :depend_select, 
									   :children => :city, 
									   :wrapper => :inline,
									   :collection => get_city %>
				<%= address_form.input :city, 
									   :as => :depend_select, 
									   :children => :area, 
									   :wrapper => :inline,
									   :collection_url => "/city/" %>
				<%= address_form.input :area, 
									   :as => :depend_select, 
									   :wrapper => :inline,
									   :collection_url => "/city/" %>
				</div>
				<%= address_form.input :zip_code, :wrapper => :inline_label, :input_html => { :class => :span2 } %>

			</div>
		</div>

		<%= address_form.input :road, :input_html => { :class => :span12 } %> 


	<% end %>

<% end %>
<% provide :state_toolbar do %>

<% end %>


<table class="table table-striped">
	<thead>
	<tr>
		<th colspan=2 class="relative">
			<div class="left-frame"></div>
			<% @transaction.items[0...5].each do |item| %>
				<%= image_tag item.product.photos.icon %>
			<% end %>
			<span class='ellipsis'>...</span>
		</th>
		<th>
			<%= @transaction.items_count %>
		</th>
		<th><strong>小计: <%= number_to_currency(@transaction.items.inject(0) {|s, n| s += n.price }) %></strong>
		</th>
		<th><strong>合计: <%= number_to_currency(@transaction.items.inject(0) { |s, n| s += n.price * n.amount  }) %></strong>
		</th>
		<th class="relative">
				<%= link_to '#', :class => "btn btn-large" do %>
					<%= icon :download %>
				<% end %>
			<div class="right-frame"></div>
		</th>
	</tr>
	</thead>
	<% @transaction.items.each do |item| %>
	<tr>
		<td>
			<%= image_tag item.product.photos.icon %>
		</td>
		<td>
			<%= item.title %>
		</td>
		<td>
			<%= item.amount %>
		</td>
		<td>
			<%= item.price %>
		</td>
		<td>
			<%= item.total %>
		</td>
		<td></td>
	</tr>
	<% end %>
</table>
