<!-- 订单 -->
<div class="container-fluid">
<%= simple_form_for transaction,
					:url => transaction_path(people, transaction),
					:html => { :class => "form-horizontal"}   do |f| %>
	<div class="adddress_input">
	<%= f.input :address,
				:as => :chosen,
				:collection => people.addresses,
				:label_method => :location,
				:value_method => :id,
				:input_html => { :class => :span12 } %>
	<div class="btn-group address-add">
		<%= button_tag icon(:list), :class => "btn" %>
	</div>
	</div>

	<div class="address-panel">
	<%= simple_fields_for :addresses do |address_form| %>
		<div class="control-group">
			<label class="chosen optional control-label" for="transaction_address">选择省,市,县</label>
			<div class="controls controls-row">
				<div class="span8">
				<%= address_form.input :province,
									   :as => :depend_select,
									   :children => :city,
									   :wrapper => :inline,
									   :collection => get_city %>
				<%= address_form.input :city,
									   :as => :depend_select,
									   :children => :area,
									   :wrapper => :inline,
									   :collection_url => "/city/" %>
				<%= address_form.input :area,
									   :as => :depend_select,
									   :wrapper => :inline,
									   :collection_url => "/city/" %>
				</div>
				<%= address_form.input :zip_code, :wrapper => :inline_label, :input_html => { :class => :span2 } %>

			</div>
		</div>

		<%= address_form.input :road, :input_html => { :class => :span12 } %>
	<% end %>
	</div>

<% end %>
</div>
<div class="products">
	<div class="products-head">
			<% transaction.items[0...5].each do |item| %>
				<div class="img-header">
				<%= image_tag item.product.photos.header %>
				</div>
			<% end %>
			<span class='ellipsis'>...</span>
			<div class="toolbar ">
			<%= link_to '#', :class => "btn btn-large item-detail" do %>
					<%= icon :download %>
				<% end %>
			</div>
	</div>
	<div class="item-details">
	<% transaction.items.each do |item| %>
	<div class="detail-row">
		<div class="detail-icon">
			<%= image_tag item.product.photos.icon %>
		</div>
		<div class="detail-title">
			<%= item.title %>
		</div>
		<div class="detail-amount">
			<%= item.amount %>
		</div>
		<div class="detail-price">
			<%= item.price %>
		</div>
		<div class="detail-total">
			<%= item.total %>
		</div>
	</div>
	<% end %>
	</div>
</div>
<div class='total'>
<strong>合计: <%= transaction.total %></strong>
</div>
