<!-- 订单 -->
<%= simple_form_for @transaction, 
					:url => transaction_path(@people, @transaction),
					:html => { :class => "form-horizontal"}   do |f| %>
	<%= f.input :address, 
				:as => :chosen, 
				:collection => @people.addresses, 
				:label_method => :location, 
				:value_method => :id,
				:input_html => { :class => 'input-xxlarge' } %>

	<%= simple_fields_for :addresses do |address_form| %>
		<%= address_form.input :province, :as => :chosen %>
		<%= address_form.input :city, :as => :chosen %>
		<%= address_form.input :area, :as => :chosen %>
		<%= address_form.input :road %>

	<% end %>

<% end %>

<table class="table table-striped">
	<thead>
	<tr>
		<th colspan=2 class="relative">
			<div class="left-frame"></div>
			<% @transaction.items[0...5].each do |item| %>
				<%= image_tag item.product.photos.icon %>
			<% end %>
			<span class='ellipsis'>...</span>
		</th>
		<th>
			<%= @transaction.items_count %>
		</th>
		<th><strong>小计: <%= number_to_currency(@transaction.items.inject(0) {|s, n| s += n.price }) %></strong>
		</th>
		<th><strong>合计: <%= number_to_currency(@transaction.items.inject(0) { |s, n| s += n.price * n.amount  }) %></strong>
		</th>
		<th class="relative">
				<%= link_to '#', :class => "btn btn-large" do %>
					<%= icon :download %>
				<% end %>
				<%= link_to trigger_event_person_transaction_path(@people.login, @transaction, :buy), 
					:class => 'btn btn-primary btn-large',
					:remote => true,
					:method => :post do %>
					<%=  raw '购买 ' + caret(:right) %>
				<% end %>
			<div class="right-frame"></div>
		</th>
	</tr>
	</thead>
	<% @transaction.items.each do |item| %>
	<tr>
		<td>
			<%= image_tag item.product.photos.icon %>
		</td>
		<td>
			<%= item.title %>
		</td>
		<td>
			<%= item.amount %>
		</td>
		<td>
			<%= item.price %>
		</td>
		<td>
			<%= item.total %>
		</td>
		<td></td>
	</tr>
	<% end %>
</table>


