<div class="products">
	<div class="products-head">
			<% transaction.items[0...5].each do |item| %>
				<div class="img-header">
				<%= image_tag item.product.photos.header %>
				</div>
			<% end %>
			<span class='ellipsis'>...</span>
			<div class="toolbar ">
			<%= link_to '#', :class => "btn btn-large item-detail" do %>
					<%= icon :download %>
				<% end %>
			</div>
	</div>
	<div class="item-details">
	<% transaction.items.each do |item| %>
	<div class="detail-row" data-value-id="<%=item.id %>">
		<div class="detail-icon">
			<%= image_tag item.product.photos.icon %>
		</div>
		<div class="detail-title">
			<%= item.title %>
		</div>
		<div class="detail-amount">
			<%= item.amount %>
		</div>
		<div class="detail-price">
			<%= number_to_currency(item.price) %>
		</div>
		<div class="detail-total">
			<%= number_to_currency(item.total) %>
		</div>
		<div class='detail-chose'>
			<input type='checkbox' />
		</div>
	</div>
	<% end %>
	</div>
</div>


<div class='total'>

	<strong>合计：
		<span>
			<%= number_to_currency(transaction.stotal) %>
		</span>
	</strong>
</div>
