<li>
    <p class="title"><%= transaction.seller.name.upcase %></p>
    <div class="img">
        <%= image_tag transaction.seller.photos.header %>
        <div class="label label-warning"><%= transaction.state %></div>
    </div>
    <p class="info-text">Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master.</p>
    <div class="stats">
        <p class="time"><%= distance_of_time_in_words Time.now, transaction.created_at %></p>
        <span><%= number_to_currency 100, unit: '¥'  %> <i class="icon-info-sign"></i></span>
        <span>19 <i class="icon-comment"></i></span>
        <span>58 <i class="icon-eye-open"></i></span>
    </div>
</li>