<% seller = transaction.seller %>
<div id="order<%=transaction.id %>" class="transaction transaction-<%=transaction.id %>-<%= transaction.state %>"
   state-id="<%= transaction.id %>"
   state-initial="<%= transaction.state %>"
   state-url="<%= page_person_transaction_path(@people, transaction) %>"
   state-event-url= "<%=trigger_event_person_transaction_path(@people, transaction) %>"
   url-root="<%= person_transaction_path(@people, transaction) %>">
  <div class="wrapper-box">
    <div class='row-fluid'>
      <div class='left span7'>
        <div class="transaction-header">
          <div class="avatar">
            <%= image_tag seller.photos.header, :class => 'img-polaroid' %>
          </div>
          <div class="container-fluid info-header">
            <div class="page-header">
              <div class="trasaction-title">
                <div class="name"><%= seller.name %></div>
                <div class="address"><%= seller.address.location %></div>
              </div>
<!--               <div class="transaction-actions">
                <% if transaction.close_state? %>
                  <button type="button" class="btn_delete">&times;</button>
                <% end %>

              </div>
 -->
<!--               <div class="transaction-number">
                <span class='number'>
                  订单编号: <%=transaction.number %>
                </span>
                <span class='pull-right'><%=transaction.created_at.strftime("%Y-%m-%d %H:%M:%S") %></span>
              </div> -->
            </div>
          </div>
        </div>
        <div class="transaction-body">
          <%= render state, transaction: transaction, people: people %>
          <div class='transaction-actions'>
            <%= render "state_buttons", :transaction => transaction %>
          </div>
        </div>
      </div>
      <div class='span5 chat_wrapper'>
        <div class="transaction-footer">
          <div class="message-toggle"><%= button_tag icon(:comments), :class => "btn" %>
          </div>
          <div class='message_wrap'>
            <iframe name="transaction_<%=transaction.id %>" src="<%= dialogue_person_transaction_path(people, transaction) %>" style="frameborder: 0;">
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>