<!-- 等待收货确认 -->
<div class="container-fluid">
  <%=render_base_template "refunds", :transaction => transaction %>
  <%= render_funcat "refund_display", :locals => {
    :transaction => transaction } %>
  <div class='row-fluid'>
    <div class='span12'>
      还有
      <span class='clock' time="<%= transaction.current_state_detail.expired.to_i %>"></span>来确认收货，超时订单自动确认收货
    </div>
  </div>
  <%=render_base_template "express_company", :transaction => transaction %>
  <%=render_base_template "manner_and_address", :transaction => transaction %>
</div>
<div class="container-fluid">
  <%= render "products", :transaction => transaction %>
</div>