<!-- 等待发货 -->
<div class="container-fluid">
  <div class='row-fluid'>
    <div class='span2 title'>订单编号</div>
    <div class='span4'>
      <%= transaction.number %>
    </div>
    <div class='span6' style='text-align:right;'>
      <a href='javascript:void(0)' class='returned-event'>
        申请退货
      </a>
    </div>
  </div>
  <div class='row-fluid'>
    <div class='span2 title'>运输方式</div>
    <div class='span4'>
      <%=transaction.delivery_manner.name %>
    </div>
    <div class='span2 title'>付款方式</div>
    <div class='span4'>
      <%=transaction.pay_manner.name %>
    </div>
  </div>

  <% unless transaction.delivery_manner.local_delivery? %>
    <div class="row-fluid">
      <div class="span2 title">
        配送方式
      </div>
      <div class="span4">
        <%= transaction.delivery_type.try(:name) %>
      </div>
      <div class="span2 title">
        配送费用
      </div>
      <div class="span4">
        <%= number_to_currency(transaction.try(:delivery_price)) %>
      </div>
    </div>
  <% end %>

  <div class="row-fluid">
    <div class="span2 title">
      收货地址
    </div>
    <div class="span10">
      <%= transaction.address.try(:location) %>
    </div>
  </div>
</div>
<%= render "people/transactions/funcat/refund_display", :transaction => transaction, :people => people %>
<%= render "products", :transaction => transaction, :people => people %>