<!-- 等待付款 -->
<div class="container-fluid">
<div class="info">
  <div class="row-fluid">
    <table class="table table-striped table-images">
      <thead>
        <tr>
          <th>收货地址</th>
          <th>配送方式</th>
          <th>合计(含运费)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= transaction.address.try(:location) %></td>
          <td><%= transaction.delivery_type.try(:name) %></td>
          <td><%= number_to_currency(transaction.stotal) %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row-fluid">
    <div class="product-imgs">
      <% transaction.items[0...8].each do |item| %>
        <%= image_tag item.product.photos.icon, :class => "avatar" %>
        <span class="product-count">x<%= item.amount.to_i %></span>
      <% end %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="pull-right">
      你的余额：<%= number_to_currency(current_user.money) %>
    </div>
  </div>
</div>
  <% if current_user.credits.size > 0 %>
  <hr>
  <div class="row-fluid">
    <%= current_user.credits.each do |card| %>
      <%= content_tag :div, :class => 'bank_card' do %>
        <%= radio_button_tag :bank, card.bank.code %>
        <%= label_tag "bank_#{card.bank.code}" do %>
          <span class="banks bank-<%= bank.code %>"><%= card.bank.name %></span>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <% end %>
  <hr>
  <div class="row-fluid paid_bank">
    <div class="bank-wrapper">

    <% Bank.all.each do |bank| %>
      <%= content_tag :div, :class => 'bank_card' do %>
        <%= radio_button_tag :bank, bank.code %>
        <%= label_tag "bank_#{bank.code}" do %>
          <span class="banks bank-<%= bank.code %>">
            <%= bank.name %>
          </span>
        <% end %>
      <% end %>
    <% end %>
    </div>
    <div class='clearfix'></div>
    <div class="form-actions">
      <%= link_to "payment", kuaiqian_payment_person_transaction_path(current_user, transaction)  %>
    </div>
  </div>
</div>
<script type="text/javascript">
  new TransactionPayment({
    el: $("#order<%=transaction.id %>"),
    model: {
      total: <%= transaction.total %>,
      money: <%= current_user.money || 0 %>
    }
  })
</script>