<!-- 等待付款 -->
<div class="container-fluid">
<% payment_service_for 'payment code', 'hysios',
                            :service => :alipay,
                            :html => { :id => 'payment-form', :method => :get } do |service| %>
  <% service.total_fee 0.02 %>
  <% service.seller :email => 'hysios@msn.com' %>
  <% service.notify_url notify_person_transaction_url(@people, transaction) %>
  <% service.return_url done_person_transaction_url(@people, transaction) %>
  <% service.show_url person_transaction_url(@people, transaction) %>
  <% service.body 'payment body' %>
  <% service.charset "utf-8" %>
  <% service.service ActiveMerchant::Billing::Integrations::Alipay::Helper::CREATE_DIRECT_PAY_BY_USER %>
  <% service.payment_type 1 %>
  <% service.subject 'payment subject' %>
  <% service.sign %>
<% end %>
<%#= button_to_function "Submit", "document.getElementById('payment-form').firstChild.remove();document.getElementById('payment-form').submit()", :class=> 'btn' %>
	<div class="info">
	<div class="row-fluid">
		<div class="span2">
			<label class="control-label">收货地址：</label>
		</div>
		<div class="span6">
			<%= transaction.address.try(:location) %>
		</div>
		<div class="span2">
			<label class="control-label">邮编：</label>
		</div>
		<div class="span2">
			<small><%= transaction.address.try(:zip_code) %></small>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span2">
			<label class="control-label">配送方式：</label>
		</div>
		<div class="span6">
			<%= transaction.delivery_type.try(:name) %>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span2">
			<label class="control-label" for="inputEmail">购买的宝贝：</label>
		</div>
		<div class="span10">
			<% transaction.items[0...10].each do |item| %>
				<%= image_tag item.product.photos.icon %><small>x<%= item.amount.to_i %></small>
			<% end %>
		</div>
	</div>
</div>
	<table class="table table-striped">
		<thead>
		<tr>
			<th colspan=2 class="relative">
				<div class="left-frame"></div>
			</th>

			<th><strong>合计：<%= number_to_currency(transaction.items.inject(0) { |s, n| s += n.price * n.amount  }) %></strong>
			</th>
			<th><strong>你的余额：<%= current_user.money %></strong>
			</th>
			<th class="relative">
				<div class="right-frame"></div>
			</th>
		</tr>
		</thead>
	</table>
	<% if current_user.credits.size > 0 %>
	<hr>
	<div class="row-fluid">
		<%= current_user.credits.each do |card| %>
			<%= content_tag :div, :class => 'bank_card' do %>
				<%= radio_button_tag :bank, card.bank.code %>
				<%= label_tag "bank_#{card.bank.code}" do %>
					<span class="banks bank-<%= bank.code %>"><%= card.bank.name %></span>
				<% end %>
			<% end %>
		<% end %>
	</div>
	<% end %>
	<hr>
	<div class="row-fluid">
		<div class="bank-wrapper">

		<% Bank.all.each do |bank| %>
			<%#= link_to '#' do %>
			<%= content_tag :div, :class => 'bank_card' do %>
				<%= radio_button_tag :bank, bank.code %>
				<%= label_tag "bank_#{bank.code}" do %>
					<span class="banks bank-<%= bank.code %>"><%= bank.name %></span>
				<% end %>
			<% end %>
		<% end %>
		</div>
		<div class='clearfix'></div>
		<div class="form-actions">
		  <a href='#' class="btn btn-primary">转到银行付款</a>
		</div>
	</div>
<!-- 	<div id="creditcard" class="row-fluid">
		<div class="span5">
			<img class="creditcard-preview" src="/assets/creditcard.png"></img>
		</div>
		<div class="span5">
			<form class="form-horizontal">
				<div class="control-group">
					<label class="control-label" for="inputEmail">卡号</label>
					<div class="controls">
						<input name="cardid" class="input-xlarge" type="text" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputEmail">支付密码</label>
					<div class="controls">
						<input name="password" class="input-xlarge" type="password" />
					</div>
				</div>

				<div class="control-group actions">
					<div class="controls pull-right">
						<input class="btn btn-primary" name="commit" type="submit" value="付款">
					</div>
				</div>
			</form>
		</div>
		<div class="span2">
			<blockquote>
不要向他人透露您的密码，也不要设定简单数字排列（如888888）或本人生日日期作为密码，刷卡进入自助银行的门禁无需输入密码
			</blockquote>
		</div>
	</div> -->
</div>