<% transfer = transaction.transfer_sheet %>
<div class="container-fluid">
  <form class='transfer_sheet'>
    <div class='row-fluid'>
      <div class='span2 title'>汇款单号</div>
      <div class='span10 code'>
        <input type='text' name='code' class='span12' value='<%=transfer.try(:code_title) %>' />
      </div>
    </div>
    <div class='row-fluid'>
      <div class='span2 title'>汇款人</div>
      <div class='span4 person' >
        <input type='text' name='person' class='span12' value='<%=transfer.try(:person) %>' />
      </div>
      <div class='span2 title'>汇款银行</div>
      <div class='span4 bank'>
        <input type='text' name='bank' class='span12' value='<%=transfer.try(:bank) %>' />
      </div>
    </div>
  </form>
  <%=render_base_template "delivery_price", :transaction => transaction %>
  <%=render_base_template "manner_and_address", :transaction => transaction %>
</div>
<div class="container-fluid">
  <%= render "products", :transaction => transaction %>
</div>