<% active_section :transaction %>

<div class='row-fluid'>
  <h4 class="page-title">
    担保交易订单
    <small>交易的清单</small>
  </h4>
</div>
<div class='row-fluid transaction-list'>
  <div class='span12'>
    <div class='widget'>
      <div class='row-fluid'>
        <div class='span7'>
          <div class='span7'>
            商品
          </div>
          <div class='span3'>
            单价
          </div>
          <div class='span2'>
            数量
          </div>
        </div>
        <div class='span2'>
          合计
        </div>
        <div class='span2'>
          状态
        </div>
        <div class='span1'>
          操作
        </div>
      </div>
      <% @transactions.each do |t| %>
      <div class='item' id="order_transaction<%=t.id %>" data-value-id="<%=t.id %>">
        <div class='summarize'>
          <div class='row-fluid head'>
            <div class='span3'>
              编号: <%=t.number %>
            </div>
            <div class='span4'>
              在
              <small rel='tooltip' title="<%=I18n.l t.created_at, :format => :long %>">
                <%= time_ago_in_words t.created_at %>
              </small>
              之前交易
            </div>
            <div class='span2'>
              <%= link_to t.seller.name, shop_path(t.seller)  %>
            </div>
          </div>
          <div class='row-fluid products'>
            <div class='span7'>
              <% t.items.each do |item| %>
              <%=render_funcat "product_item", :item => item %>
              <% end %>
            </div>
            <div class='span2'>
              <div>
                <%=number_to_currency t.stotal %>
              </div>
              <div class='delivery_price'>
                (含<%=t.delivery_price || 0 %>运费)
              </div>
            </div>
            <div class='span2'>
              <%=t.state_title %>
            </div>
            <div class='span1'>
              <% if t.close_state? %>
              <a href='javascript:void(0)' class='btn_delete'>
                删除
              </a>
              <% end %>
            </div>
          </div>
        </div>
        <div class='detail'>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<%= paginate @transactions %>
<script type='text/javascript'>
  $(function(){
    var view = new TableListView({
      el: $(".transaction-list"),
      remote_url: "<%= person_transactions_path(@people) %>",
      bindView: function(view){
        var card = new TransactionCard({
          el: view.$(".detail .transaction"),
          realtime: {
          url: '<%= faye_server_uri %>',
          token: '<%= token %>' }
        });
      }
    })
  })
</script>