<% active_section :transaction %>
<div class="sidebar_panel">
  <p id="notice"><%= notice %></p>
  <%= render_funcat 'pay_notify', :locals => {
    :transaction => @transaction,
    :pay_msg => @pay_msg } %>
  <div class="main-sidebar">
    <div class='card_item'>
      <%=render_base_template "header", :row => @transaction %>
    </div>
    <%= render  partial: 'transaction',
                object:  @transaction,
                locals: {
                  state:  @transaction.state,
                  people: @people
    } %>
  </div>
</div>
<script type='text/javascript'>
  $(function(){
    var card = new TransactionCard({
      el: $(".transaction-<%=@transaction.id %>-<%=@transaction.state %>"),
      realtime: {
        url: '<%= realtime_uri %>',
        token: '<%= token %>' }
    });
  })
</script>
