
<div class='row-fluid manner_wrap'>
  <div class='delivery_types_panel span6'>
    <div class="btn-group">
      <input type='hidden' name="transport_type" class='transport_type' />
      <button class="btn chose_item">物流选择</button>
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <% OrderTransportType.all.each do |k, v| %>
        <li data-value-title="<%=v.title %>" data-value-price="<%=number_to_currency v.price %>">
          <a href="javascript:void(0)">
            <%= v.title %>
            <span class='pull-right'>
              <%= number_to_currency v.price %>
            </span>
          </a>
        </li>
        <% end %>
        <li class='custom' data-value-title="自定义" data-value-price="">
          <a href='javascript:void(0)' >
            自定义
          </a>
        </li>
      </ul>
    </div>    
    <span class='custom_delivery_price'>
      <input type='text' name='delivery_price' value="0" />
    </span>
  </div>
  <div class='pay_types_panel span6'>
    <div class="btn-group">
      <input type='hidden' name="pay_type" class='pay_type' />
      <button class="btn chose_item">选择支付方式</button>
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <% OrderPayType.all.each do |k, v| %>
        <li data-value-title="<%=v.title %>" data-value-name="<%=v.name %>">
          <a href="javascript:void(0)">
            <%= v.title %>
          </a>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    var elem = $(".transaction-<%=transaction.id %>-<%= transaction.state %>")
    var delivery = new TransactionManner({
      el: $(".delivery_types_panel", elem),
      keys: ["title", "price"],
      select: function(data){  
        var custom = this.$(".custom_delivery_price")
        var transport_type = this.$("input.transport_type")
        this.$chose.html(data.title +" "+data.price)
        if(data.title == "自定义"){
          custom.show()
          $("input:text", custom).focus()
        }else{                    
          custom.hide()
        }
        transport_type.val(data.title)
      }
    })

    var pay = new TransactionManner({
      el:  $(".pay_types_panel", elem),
      keys: ["title", "name"],
      select: function(data){
        this.$chose.html(data.title)
        $(".transaction-actions .btn_event", elem).attr("event-name", data.name)
        this.$("input.pay_type").val(data.title)
      }
    })
    pay.default_item(<%=raw OrderPayType.get("在线支付").to_json %>)
  })
</script>