<div class='paymanner'>
  <label class="chosen control-label">支付方式</label>
  <div class="controls controls-row">
    <div class='paymanner_panel'>
      <span class='chose_name'>
        <%= PayManner.default.try(:name) || "未设定" %>
      </span>
      <a href='javascript:void(0)' class='mdify_show'>修改</a>
    </div>
    <div class='chose_paymanner_panel'>
      <ul>
        <% PayManner.avaliable.each do | pay_manner | %>
        <li>
          <div>
            <span class='title' >
              <input type="radio" name='order_transaction[pay_manner_id]' value='<%=pay_manner.id %>'  <%='checked' if pay_manner.default_state %>/>
              <span class='name'><%=pay_manner.name %></span>
            </span>
            <input type='hidden' value="<%=pay_manner.code %>" class='code' />
            <span class='describe'>
              <%=pay_manner.description %>
            </span>
          </div>
          <div class='guide'>
            <%=render "people/transactions/pay_manners/#{pay_manner.code}" %>
          </div>
        </li>
        <% end %>
      </ul>
      <input type='button' value='确认' class='mdify btn btn-large btn-primary btn-small' />
    </div>
  </div>
</div>


<script type='text/javascript' >
    new TransactionPayManner({
      el: $(".transaction-<%=transaction.id %>-<%= transaction.state %>")
    })
</script>

