<div class='row-fluid product'>
  <div class='span2'>
    <img src="<%=item.photos.header %>" alt="<%=item.title %>" class='preview' />
  </div>
  <div class='span5'>
    <%=item.title %>
  </div>
  <div class='span3'>
    <%=number_to_currency(item.price) %>
  </div>
  <div class='span2'>
    <%=item.amount %>
  </div>
</div>