<div class="progress progress-mini progress-striped active">
</div>
<script type="text/javascript">

    var complete_states = []
    <% transaction.state_details.each do |item| %>
      complete_states.push({
        state: "<%=item.state %>",
        created_at: "<%=item.created_at %>"
      })
    <% end %>

    new StateProgress({
      el: $(".transaction-<%=transaction.id %>-<%= transaction.state %> .state-progress>.progress"),
      localName: <%=t("order_states.buyer").to_json.html_safe %>,
      complete_states: complete_states
    })
</script>