<!-- 聚焦 -->
<%= simple_form_for @activity,
                    :url => activities_focus_path,
                    :remote => true,
                    :html => { class: 'form-horizontal form_activity_focus' },
                    :type => :json do |f| %>

  <%= f.input :shop_product_id,
              :collection => [],
              :wrapper_html => {
                :class => "shop_product_wrap"
              },
              :input_html => {
                :class => "shop_product_id",
                :id => "activity_focus_shop_product_id"
              } %>

  <div class="activity_info">
  <%= f.input :title,
              :label => '活动名称',
              :warpper => false %>

  <div class="control-group">
    <label class="control-label" for="inputPrice">图片</label>
    <div class="controls">
      <img data-src="holder.js/140x140" class="img-rounded preview" alt="140x140" style="" src="<%= default_img_url('100x100') %>">
      <ul class='attachment-list'></ul>
    </div>
  </div>

  <div class='bettwen-warp'>
    <div class="row-fluid bettwen ">
      <%=f.input  :people_number,
                :label => "人数",
                :input_html => {
                  :class => "span12 activity_people_number",
                  :name => "activity[people_number][0]",
                  "type" => "number"
                },
                :required => true,
                :wrapper_html => {
                  :class => "span5"
                } %>


      <%= f.input :activity_price,
                :label => "价格",
                :input_html => {
                  :class => "span12 activity_activity_price",
                  :name => "activity[activity_price][0]",
                   "type" => "number"
                },
                :wrapper_html => {
                  :class => "span5"
                },
                required: true %>
      <div class='span2 bar'>
        <button class="btn add_range" type="button">
          <i class="icon-plus"></i>
        </button>
      </div>
    </div>
  </div>

  <%= f.input :start_time,
              :as      => :date_picker,
              required: true,
              :label   => '开始时间',
              id: "activity_focus_start_time",
              input_html: {
                name: 'activity[start_time]',
                value: (DateTime.now + (Settings.activity_start_time(1)).days).strftime('%Y-%m-%d')
              } %>

  <%= f.input :end_time,
              :as      => :date_picker,
              required: true,
              :label   => '结束时间',
              id: "activity_focus_end_time",
              input_html: {
                name: 'activity[end_time]',
                value: (DateTime.now + (Settings.activity_end_time(8)).days).strftime('%Y-%m-%d')
              } %>
  </div>

  <script type="text/javascript">
    var view = new ActivityFocusView({
      el: $(".form_activity_focus"),
      params: {
        url_upload: "<%= attachments_path %>",
        default_img_url: "<%= default_img_url('100x100') %>",
        template: '<%= j render "product_upload" %>',
        data: <%= @activity.attachments.as_json({version_name: "100x100"}).to_json.html_safe %>
      }
    });

    var ps_elem = $(".form_activity_focus .shop_product_id")
    ps_elem.chosenEx({
      allow_single_deselect : true,
      placeholder_text : "选择一个商品",      
      <% if @activity.shop_product.present? %>
        data: [{
          id: <%= @activity.shop_product_id %>,
          name: "<%= @activity.shop_product.name %>"
        }],
      <% end %>
      remote: {
        url: "/search/shop_products",
        dataType: "json",
        no_results_text : "没有以该关键词开头的商品, 请到<a href='/shops/<%=current_user.shop.name %>/admins/shop_products'>商品管理</a>中添加"
      },
      select: function(id){
        view.fetch_product(id)
      }
    });
  </script>
<% end %>
