<!-- 聚焦 -->
<%= simple_form_for @activity,
                    :url => activities_focus_path,
                    :remote => true,
                    :html => { class: 'form-horizontal m_f_30 form_activity_focus' },
                    :type => :json do |f| %>

  <%= f.input :shop_product_id,
              :collection => [],
              :wrapper_html => {
                :class => "shop_product_wrap"
              },
              :input_html => {
                :class => "shop_product_id",
                :id => "activity_focus_shop_product_id"
              } %>

  <%= f.input :title,
              :label => '活动名称',
              :warpper => false %>

  <div class="control-group">
    <label class="control-label" for="inputPrice">图片</label>
    <div class="controls">
      <img data-src="holder.js/140x140" class="img-rounded preview" alt="140x140" style="" src="<%= default_img_url('100x100') %>">
      <ul class='attachment-list'></ul>
    </div>
  </div>

  <div class="row bettwen">
  <%=f.input  :people_number,
              :label => "人数",
              :input_html => {
                :class => "span2 activity_people_number",
                :name => "activity[people_number][0]"
              },
              :required => true,
              :wrapper_html => {
                :class => "span3"
              } %>


  <%= f.input :activity_price,
              :label => "价格",
              :input_html => {
                :class => "span2 activity_activity_price",
                :name => "activity[activity_price][0]"
              },
              :wrapper_html => {
                :class => "span3"
              },
              required: true %>
  </div>

  <div class="control-group addLine">
    <div class="pull-right" style="padding-right:100px;">
      <button class="btn add_range" type="button">
        <i class="icon-plus"></i>添加
      </button>
    </div>
  </div>

  <%= f.input :start_time,
              :as      => :date_picker,
              required: true,
              :label   => '开始时间',
              id: "activity_focus_start_time",
              input_html: { name: 'activity[start_time]'} %>

  <%= f.input :end_time,
              :as      => :date_picker,
              required: true,
              :label   => '结束时间',
              id: "activity_focus_end_time",
              input_html: { name: 'activity[end_time]'} %>

  <script type="text/javascript">
    var i = 0
    $(".add_range").bind("click", function(){
      i = i+1;
      one_line = $(".bettwen").last().clone(true);
      one_line.find("#activity_people_number").attr("name", "activity[people_number][" + i +"]");
      one_line.find("#activity_activity_price").attr("name", "activity[activity_price][" + i +"]");
      $(".addLine").prepend(one_line);
    });

    var data1 = <%= @activity.attachments.as_json({version_name: "100x100"}).to_json.html_safe %>
    var activity_view1 = new ActivityBaseInfoView({
      el: $(".form_activity_focus"),
      params: {
        url_upload: "<%= attachments_path %>",
        default_img_url: "<%= default_img_url('100x100') %>",
        template: '<%= j render "product_upload" %>',
        type: "focus" ,
        data: data1
      }
    });

    var shop_product_elem1 = $(".form_activity_focus .shop_product_id")
    shop_product_elem1.chosenEx({
      allow_single_deselect : true,
      placeholder_text : "选择一个商品",
      no_results_text : "没有以该关键词开头的商品",
      <% if @activity.shop_product.present? %>
        data: [{
          id: <%= @activity.shop_product_id %>,
          name: "<%= @activity.shop_product.name %>"
        }],
      <% end %>
      remote: {
        url: "/search/shop_products",
        dataType: "json"
      },
      select: function(id){
        activity_view1.fetch_product(id)
      }
    });
  </script>
<% end %>
