<div class='activity' activity-id='{{ id }}' id="activity{{ id }}">
  <div class='out-box'>
    <form>
      <div class='in-box'>
        {{#photos}}
          <img src='{{avatar}}' class="preview a-{{id}}" />
        {{/photos}}
      </div>

      <div class='summary'>
        <h5 class="title">{{ title }}</h5>
        <p class="describe">
          {{ description }}
        </p>
      </div>

      <div class='userinfo'>
        {{#shop.photos}}
          <img src='{{icon}}' class="author img-circle" />
        {{/shop.photos}}
        <p>
          <a href="/shops/{{shop.name}}">
            {{ shop.name }}
          </a>
        </p>
        <span class='title'>参与</span>
        <span>{{ participate}} </span>
        <span class='title'>支持</span>
        <span class='like-count'>{{like}}</span>
      </div>

      <div class="buttons">
        {{#is_start}}
          <%= link_to '#', class: 'btn btn-danger launch-button' do %>
            <%= icon('shopping-cart') + " 查看" %>
          <% end %>
        {{/is_start}}

        {{#likes}}
          <%= link_to '#', class: 'btn unlike-button active' do %>
            <%= "取消支持" %>
          <% end %>
        {{/likes}}
        {{^likes}}
          <%= link_to '#', class: 'btn like-button' do %>
            <%= icon(:'thumbs-up') + " 支持" %>
          <% end %>
        {{/likes}}
      </div>
    </form>
  </div>
</div>
