<% activity_rules = activity.activity_rules.order("dvalue DESC") %>
<div class="container activity-focus">
  <div class="row-fluid ">
    <div class="offset1 span7">
      <%=render "/activities/focus/main.html", :activity  => activity, :activity_rules => activity_rules %>
    </div>

    <div class="span3">
      <%=render "/activities/focus/right_bar.html", :activity  => activity, :product_item => product_item %>
    </div>
  </div>
</div>
<%= render "/activities/share_activity_to_circles.html" %>
<script type="text/template" id="comment-template">
  <%=render "/activities/comment.html" %>
</script>
<%=render "/activities/focus/foot_js.html", activity: activity, activity_rules: activity_rules %>