<div class="product_item">
	<tr id= "product_item<%= product_item.id %>"> 
		<td><%= image_tag product_item.product.photos.icon %></td>
		<td><%= product_item.title %></td>
		<td><%= product_item.amount %></td>
		<td><%= product_item.total %></td>
	</tr>
</div>
