<%= widget_div :class => "nav_item" do %>
    <a href="#" class='handle' >My Cart</a>
    <span id="shop_count" class="badge badge-important"><%= @my_cart.items_count %></span>
<% end %>

<div id="cart_box">
    <div class="tool">
        <%= link_to t(:clear_list),
                    cart_clear_list,
                    :class => 'btn',
                    :remote => true,
                    :metohd => :post %>
        <%= link_to_if @my_cart.items.count > 0,
                    t(:checkout),
                    person_cart_index_path(current_user.login),
                    :class => 'btn btn-primary' do %>
        <%= link_to t(:checkout),
                    person_cart_index_path(current_user.login),
                    :class => 'btn btn-primary disabled' %>
        <% end %>
        <table class="cart_top">
            <tr>
                <td>图片</td>
                <td>标题</td>
                <td>数量</td>
                <td>价格</td>
            </tr>
        </table>
    </div>


    <table class="cart_main">
        <%= render :partial => "cart/product_item", :collection => @my_cart.items %>
    </table>
    <table class="cart_bottom">
        <tr>
            <td class="product_total">总价：0</td>
        </tr>
    </table>
    </div>
</div>
<%= javascript_include_tag "my_cart" %>