<%= content_tag :div, :id => name do %>
<div class="well">
<ul class="nav nav-list">
    <% sections(:top).each do |section| %>
        <%= render :partial => "section", :locals => section %>
    <% end %>
    <li class="nav-header">订单<li>
    <% sections(:transactions).each do |section| %>
        <%= render :partial => "section", :locals => section %>
    <% end %>
    <li class="nav-header">物流<li>
    <% sections(:transportation).each do |section| %>
        <%= render :partial => "section", :locals => section %>
    <% end %>
    <li class="nav-header">售后<li>
    <% sections(:service).each do |section| %>
        <%= render :partial => "section", :locals => section %>
    <% end %>
    <li class="nav-header">商品<li>
    <% sections(:products).each do |section| %>
        <%= render :partial => "section", :locals => section %>
    <% end %>
    <li class="nav-header">设计</li>
    <% sections(:design).each do |section| %>
        <%= render :partial => "section", :locals => section %>
    <% end %>
    <li class="nav-header">管理</li>
    <% sections(:admins).each do |section| %>
        <%= render :partial => "section", :locals => section %>
    <% end %>
</ul>
<hr style='margin:10px 0;' />
  <div style='padding:0 20px 0px 20px'>
    <div style='display:inline-block'>
      <a href="<%=shop_admins_followings_path(current_shop) %>">
        <span class='follow-number'><%=current_shop.followers.count %></span><br />
        <span>被关注</span>
      </a>
    </div>
    <div style='display:inline-block;margin-left:20px'>
      <a href='javascript:void(0)'>
        <span class='follow-number'>6000</span><br />
        <span>订单</span>
      </a>
    </div>
  </div>
</div>
<% end %>

<script type="text/javascript">
    var section = "<%= current_section %>";
    $("#<%= name%> ul li#" + section ).addClass("active");
</script>

