<div class='row-fluid'>
  <div class='span7 widget'>
    <section>
      <header>
        <h4><i class="icon-user"></i>个人账户</h4>
      <header>
      <div class='body'>
        <div class='row-fluid'>
          <div class='span4'>
            <img src="<%=@people.photos.header %>" class='img-circle' alt='头像' />
          </div>
          <div class='span8'>
            <p>
              用户名 <%=@people.login %>
            </p>
            <p>
              E-mail <%=@people.email %>
            </p>
            <% if can?(:manage, User) %>
            <p>
              余额 <%=@people.money %>
            </p>
            <% end %>
          </div>
        </div>
      </div>
    </section>
    <div class='body'>
      <% if can?(:manage, User) %>
      <section>
        <header>
          <h4><i class="icon-list-ol"></i>进出帐</h4>
        <header>
      </section>
      <div class='body'>
        <table class='table table-striped table-images'>
          <thead>
            <tr>
              <th>流水号</th>
              <th>金额</th>
              <th>支付类型</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% if !@people.money_bills.present? %>
              <tr><td colspan="4">您还没有交易记录</td></tr>
            <% else %>
              <% @people.money_bills.each do |bill| %>
                <tr>
                  <td><%=bill.serial_number %></td>
                  <td><%=bill.money %></td>
                  <td><%=bill.owner_name %></td>
                  <td><%=bill.owner_value %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
      <% end %>
    </div>
  </div>
  <div class='span5'>

  </div>
</div>