 <% admin_active_section :shop_info %>

<div class='row-fluid'>
  <div class='span8 widget shop_info'>
    <a href="/shops/<%= @user_checking.shop.name %>/admins/apply_update" class="btn pull-right">申请审核</a>
    <h4>商店信息</h4>
    <hr />
    <div class="row-fluid section">
      <div class="span5">
        <div class="reset_avatar main_panle1">
          <div class="photo_span cell" >
            <span>商店图标</span>
            <img class="bottom normal_picture img-polaroid"/>
          </div>
          <div id="image_bottom">
            <div class="hidden_one offset2" id="hidden_text">
              <%#= upload_tip %>
            </div>
            <div class="update_photo_panle cant_see_me upload_user_avatar file-box offset2" >
            </div>
          </div>
        </div>
      </div>
      <div class="span7 input_locate">
        <div class="row-fluid">
          <% shop = @user_checking.user.shop  %>
          <div class="span3 column_name"><span>商店名称</span></div>
          <div class="span9"><%= shop.name %></div>
        </div>
        <div class="row-fluid">
          <div class="span3 column_name"><span>商店简介</span> </div>
          <div class="span9"><%=shop.shop_summary %></div>
        </div>
      </div>
    </div>

    <h4>营业信息</h4>
    <hr />
    <div class="row-fluid section">
      <div class="span5">
        <div class="reset_avatar main_panle2">
          <div class="photo_span cell" >
            <span>营业执照</span>
            <img class="bottom normal_picture img-polaroid"/>
          </div>
          <div id="image_bottom">
            <div class="hidden_one offset2" id="hidden_text">
              <%#= upload_tip %>
            </div>
            <div class="update_photo_panle cant_see_me upload_user_avatar file-box offset2" >
            </div>
          </div>
        </div>
      </div>
      <div class="span7 input_locate">
        <% address = current_shop.user.user_checking.address %>
        <div class="row-fluid">
          <div class="span3 column_name" ><span>实体店名</span></div>
          <div class="span9"><%= @shop_auth.company_name %></div>
        </div> 
        <div class="row-fluid">
          <div class="span3 column_name"><span>营业地址</span></div>
          <div class="span9"><%=address.try(:address_only) %></div>
        </div>
        <div class="row-fluid">
          <div class="span3 column_name"><span>营业执照号</span></div> 
          <div class="span9"><%= @shop_auth.company_license %></div>
        </div>
      </div>
    </div>

    <h4>个人信息</h4>
    <hr />
    <div class="row-fluid section">
      <div class="span5">
        <div class="reset_avatar main_panle3">
          <div class="photo_span cell" >
            <span>身份证照</span>
            <img class="bottom normal_picture img-polaroid" />
          </div>
          <div id="image_bottom">
            <div class="hidden_one offset2" id="hidden_text">
              <%#= upload_tip %>
            </div>
            <div class="update_photo_panle cant_see_me upload_user_avatar file-box offset2" >
            </div>
          </div>
        </div>
      </div>
      <div class="span7 input_locate">
        <div class="row-fluid">
          <div class="span3 column_name"><span>法人姓名</span></div>
          <div class="span9"><%=@shop_auth.ower_name %></div>
        </div>
        <div class="row-fluid">
          <div class="span3 column_name"><span>身份证号</span></div>
          <div class="span9"><%=@shop_auth.ower_shenfenzheng_number %></div>
        </div>
        <div class="row-fluid">
          <div class="span3 column_name"><span>联系电话</span></div>
          <div class="span9"><%=@shop_auth.phone %></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    new Upload({
      verify_authenticity_token: "<%=form_authenticity_token %>",
      action: "/user_checkings/upload_photo/",
      current_user: { id: "<%=current_user.id %>",
        login: "<%= current_user.login %>",
      },
      targets: [
        { el: $(".main_panle1"), input_name: "photo", photo: "<%= @user_checking.user.shop.try(:photo) %>" },
        { el: $(".main_panle2"), input_name: "company_license_photo", photo: "<%= @user_checking.try(:company_license_photo) %>" },
        { el: $(".main_panle3"), input_name: "ower_photo", photo: "<%= @user_checking.try(:ower_photo) %>" }
      ]
    })
  });
</script>