<!DOCTYPE HTML>
<html>
<body>
	<div class="container-fluid">
		<div class="page-header">
			<div class="offset1 span10">
				<div class='dialog'>
					<h2>尊敬的<%= @user_name %>先生/女士：</h2>
					<p>很遗憾的通知您，您的验证申请没有通过审核，原因如下：</p>
					<p style="background-color: rgba(63, 184, 175, 0.91); min-height: 100px;">
						<%= @rejected_reason.html_safe %>
					</p>
					<p>请您返回
						<a href=<%= @url %>>验证界面</a>
						，完善您的资料，我们将尽快进行再次审核。
					</p>
				</div>
				<div>
					<!-- <p>关于用户验证：</p>
					<p>①为什么注册用户要通过验证？</p>
					<p>答：</p>
					<p>答：</p> -->
					<p>本邮件由系统发出，请勿回复。</p>
				</div>
				<div>
					<p>万流市场运营团队</p>
					<p><% time_now = Time.now %><%= time_now.year %>年<%= time_now.month %>月<%= time_now.day %>日</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>