<% active_section :person_info %>

<div class='row-fluid'>
  <div class='span7'>
    <div class='widget people_info'>
      <section>
        <div>
          <div class='span9'>
            <h4><i class="icon-user"></i>个人账户</h4>
          </div>
          <div class='span3'>
            <div class="btn-follow">
              <% if current_user.present? %>
                <% unless @people.id == current_user.id %>
                  <% unless current_user.is_follow_user?(@people.id) %>
                    <span class="label label-success lf follow" data-value="<%= @people.id %>">+关注</span>
                  <% else %>
                    <span class="label label-important lf unfollow" data-value="<%= @people.followers.find_by(user_id: current_user.id).id %>">取消关注</span>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class='body'>
          <div class='row-fluid'>
            <div class='span8'>
              <dl class="dl-horizontal">
                <dt>用户名</dt>
                <dd><%= @people.login %></dd>
              </dl>
              <dl class="dl-horizontal">
                <dt>E-mail</dt>
                <dd><%= @people.email %></dd>
              </dl>
              <% if can?(:manage, User) %>
                <dl class="dl-horizontal">
                  <dt>余 额</dt>
                  <dd><%= number_to_currency(@people.money) %> (不可用<%= number_to_currency(@people.unavailable_money) %>)</dd>
                </dl>
              <% end %>
            </div>
          </div>
          <% if can?(:manage, User) %>
          <%=render :partial => "toolbar", :locals => {
            :people => @people
          } %>
          <% end %>
        </div>
      </section>
    </div>
    <% if can?(:manage, User) %>
      <div class='widget'>
        <section>
          <header>
            <h4><i class="icon-list-ol"></i>进出帐</h4>
          <header>
        </section>
        <%=render :partial => "bill", :locals => {
          :transfer_moneys => @transfer_moneys
        } %>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    <% if current_user.present? %>
      new Followers({
        login: "<%= current_user.login %>",
        people_id: "<%= @people.id %>",
        follow_type: "User",
        el: $(".people_info .btn-follow") })
      new PeopleSideView({ el: $("#people-sidebar") })
    <% end %>
  })
</script>
