<% active_section :direct_transaction %>
<div class='row-fluid'>
  <h4 class="page-title">
    直接交易订单
    <small>交易的清单</small>
  </h4>
</div>

<div class='row-fluid direct_transaction_list'>
  <div class='span12 left'>
    <div class='people-groups'>
    </div>

    <div class='threeD-viewport'>
       <div class='directs'>
        <%= render :partial => "direct_transactions/mini_row", :collection => @direct_transactions, :as => :row %>
      </div>
    </div>

    <div class='boxes'>
      <div class='upbox'></div>
      <div class='currentbox'></div>
      <div class='downbox'></div>
    </div>
    <%= paginate @direct_transactions %>
  </div>
  <div class='direct-detail'></div>
</div>

<script type='text/javascript'>
  $(function(){

    var view = new TransactionTwoColumnsViewport({
      el: $(".direct_transaction_list"),
      secondContainer: ".direct-detail",
      warpClass: ".directs",
      remote_url: "<%= person_direct_transactions_path(@people) %>",
      registerView: function(view){
        new DirectTransactionView({
          el: $(".direct", view.$detail),
          login: "<%=current_user.login %>"
        })
      }
    });

    // new DirectTransactionList({
    //   el: $(".direct_transaction_list"),
    //   login: "<%=current_user.login %>",
    //   remote_url: "<%= person_direct_transactions_path(@people) %>"
    // })
  })
</script>