<% active_section :direct_transaction %>
<div class='row-fluid'>
  <h4 class="page-title">
    直接交易订单
    <small>交易的清单</small>
  </h4>
</div>

<div class='row-fluid direct_transaction_list'>
  <div class='span12'>
    <div class='widget'>
      <div class='row-fluid'>
        <div class='span7'>
          <div class='span7'>
            商品
          </div>
          <div class='span3'>
            单价
          </div>
          <div class='span2'>
            数量
          </div>
        </div>
       <div class='span2'>
          合计
        </div>
        <div class='span2'>
          状态
        </div>
        <div class='span1'>
          操作
        </div>
      </div>
      <% if @direct_transactions.length > 0 %>
        <% @direct_transactions.each do |t| %>
        <div class="item" data-value-id="<%=t.id %>">
          <div class='summarize'>
            <div class='row-fluid head'>
              <div class='span3'>
                编号: <%=t.number %>
              </div>
              <div class='span4'>
                在
                <small rel='tooltip' title="<%=I18n.l t.created_at, :format => :long %>">
                  <%= time_ago_in_words t.created_at %>
                </small>
                之前成交
              </div>
              <div class='span2'>
                <%= link_to t.seller.name, shop_path(t.seller)  %>
              </div>
            </div>
            <div class='row-fluid products'>
              <div class='span7'>
                <% t.items.each do |item| %>
                <%=render_funcat "product_item", locals => {:item => item} %>
                <% end %>
              </div>
              <div class='span2'>
                <%=number_to_currency t.total %>
              </div>
              <div class='span2'>
                <%=t.state_title %>
              </div>
              <div class='span1'>
                <% if t.state == :uncomplete %>
                <a href='javascript:void(0)' class='btn_delete'>删除</a>
                <% end %>
              </div>
            </div>
          </div>
          <div class='detail'>
          </div>
        </div>
        <% end %>
      <% else %>
        <div class='row-fluid'>
          <div class='span12 widget'>
            暂时没有直接交易信息
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= paginate @direct_transactions %>

<script type='text/javascript'>
  $(function(){

    new DirectTransactionList({
      el: $(".direct_transaction_list"),
      login: "<%=current_user.login %>",
      remote_url: "<%= person_direct_transactions_path(@people) %>"
    })
  })
</script>