<div class='widget circle-description'>
  <h4>
    所属者<%=@circle.owner_title %>
    <% if @circle.is_manage?(current_user.id) %>
    <a href='#mySetting' data-toggle="modal" data-placement="top" title="" data-original-title="设置" class='setting'>
      <span class='icon-cog'></span>
    </a>
    <% end %>
  </h4>
  <div><%= render "setting", circle: @circle %></div>
  <div class='owner' data-value-id='<%=@circle.owner_id %>'>
    <span class='user'>
      <a href="<%=owner_url(@circle.owner) %>" >
        <img src="<%=@circle.owner.photos.icon %>" />
        <% if @circle.owner.is_a?(Shop) %>
          <%=@circle.owner.name %>
        <% else %>
          <%=@circle.owner.login %>
        <% end %>
      </a>
    </span>

    <div class="btn-group following">
      <button class="btn btn-primary follows_count"><%=@circle.owner.followers.count %></button>
      <% if @circle.owner.is_follower?(current_user.id) %>
        <button data-value-id="<%=current_user.follow_shop_or_user(@circle.owner_id,@circle.owner_type).id  %>" class='btn btn-primary unfollow' />取消关注</button>
      <% else %>
        <button class='btn btn-primary follow' />关注</button>
      <% end %>
    </div>
  </div>
  <h4>商圈简介</h4>
  <div class='description'>
    <p>
      <% if @circle.description.blank? %>
        暂无描述
      <% else %>
        <%=@circle.description %>
      <% end %>
    </p>
  </div>
  <% if @circle.is_manage?(current_user.id) %>
  <div>
    <input type='button' value="邀请更多人" class='btn invite' />
    <input type='button' value="分享此圈" class='btn shared' />
  </div>
  <% end %>
</div>