<div class='widget circle-description'>
  <div class="span10" style="font-size:18px;font-weight:bold;">
    所属<%=@circle.owner_title %>
  </div>
  <% if @circle.is_manage?(current_user.id) %>
    <div class="span2">
      <a href='#mySetting' data-toggle="modal" data-placement="top" title="" data-original-title="设置" class='setting'>
        <h4>
          <span class='icon-cog'></span>
        </h4>
      </a>
    </div>
    <div>
      <%=render "setting", circle: @circle %>
    </div>
  <% else %>
    <div class='span2'></div>
  <% end %>
  <div class='owner' data-value-id='<%=@circle.owner_id %>'>
    <span class='user'>
      <a href="<%=owner_url(@circle.owner) %>" >
        <img src="<%=@circle.owner.photos.icon %>" />
        <% if @circle.owner.is_a?(Shop) %>
          <%=@circle.owner.name %>
        <% else %>
          <%=@circle.owner.login %>
        <% end %>
      </a>
    </span>

    <div class="btn-group following">
      <button class="btn btn-primary follows_count"><%=@circle.owner.followers.count %></button>
      <% if @circle.owner.is_follower?(current_user.id) %>
        <button data-value-id="<%=current_user.follow_shop_or_user(@circle.owner_id, @circle.owner_type).id  %>" class='btn btn-primary unfollow' />取消关注</button>
      <% else %>
        <button class='btn btn-primary follow' />关注</button>
      <% end %>
    </div>
  </div>
  <h4>商圈简介</h4>
  <div class='description'>
    <p>
      <% if @circle.description.blank? %>
        暂无描述
      <% else %>
        <%=@circle.description %>
      <% end %>
    </p>
  </div>
  <div class='bottom_bar'>
    <% if @circle.is_manage?(current_user.id) %>
      <a href='#invite_dialog' data-toggle="modal" data-placement="top" title="" data-original-title="邀请更多人" class='btn invite'>
      邀请更多人</a>
      <%= render "/communities/invite/new" %>
    <% end %>
    <% if @circle.is_member?(current_user.id) %>
      <a href="<%= all_circles_person_communities_path(current_user) %>" data-toggle="modal" class="btn" data-target="#SelectCircle">分享此圈</a>
      <%= render "/communities/circles/select_circle_to_share"%>
      <% unless @circle.is_manage?(current_user.id) %>
        <button class='btn pull-right quit_circle'>退出</button>
      <% end %>
    <% end %>
  </div>
</div>