<!-- Modal -->
<div id="mySetting" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="circleSettingLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="circleSettingLabel">商圈设置</h4>
  </div>
  <div class="modal-body circle_setting">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">修改商圈</a></li>
        <li><a href="#tab2" data-toggle="tab">更改配置</a></li>
      </ul>
      <div class="tab-content offset1 cirlce_info">
        <div class="tab-pane active" id="tab1">
          <div><span class="m_r">商圈</span>
            <input type="text" class="circle_name" value="<%=circle.name %>"/>
          </div>
          <div class="row-fluid">
            <span class="span1 circle_icon">封面</span>
            <%= render "/circles/update_photo",circle: circle %>
          </div>
          <div><%= render "/circles/update_address",circle: circle %></div>
          <div class="settings">
            <span class="m_r">设置</span>
            <span>限制地区</span>
            <input type="checkbox" <% if circle.setting.try(:limit_city)  %> checked= 'checked' <% end %> class="limit_area m_r" />
            <span>申请加入</span>
            <input type="checkbox" <% if circle.setting.try(:limit_join) %> checked= 'checked' <% end %> class="limit_join " />
          </div>
          <div><span class="m_r">简介</span>
            <textarea class="introduce"><%=circle.description %></textarea>
          </div>
          <div class="foot">
            <div class="pull-left">
              <%= button_to '解散商圈', { action: :destroy_circle }, class: 'btn btn-danger', confirm: '确定要解散商圈吗？此操作不可恢复。', method: :delete %>
            </div>
            <div class="pull-right save">
              <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
              <button class="btn btn-primary update_circle">保存</button>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="tab2">
          <div class="circle_categories">
            <span class="manage_category">管理分类<button class="btn new_input pull-right">+添加</button></span>
            <ul class="categories">
              <% if circle.categories.length > 0 %>
                <% circle.categories.each do |category| %>
                  <li data-value-id="<%=category.id %>" class="category span11">
                    <div class="replace span6">
                      <input type="text" class="circle_category_input" value="<%=category.name %>" />
                      <span class="m_r category_name"><%=category.name %></span>
                    </div>
                    <div class="operation span5">
                      <i class="icon-remove"></i><i class="icon-edit"></i>
                    </div>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    new CircleCategoryList({
      el: $(".circle_categories"),
      circle_id: <%=circle.id  %>
    })
    new CircleUpdate({
      el: $(".cirlce_info"),
      circle_id: <%=circle.id  %>
    })
  })
</script>