<div class="section">
	<h4>个人信息</h4>
	<hr />
	<%= simple_form_for @user_auth,
	url: url,
	html: { method: :put, class: "form-horizontal user_auth" } do |f| %>
		<div class="row-fluid top_head">
			<div class="span2 title">
				<span>身份证照</span>
			</div>
			<div class="span3 reset_avatar main_panle">
				<div class="photo_span" >
					<img class="bottom normal_picture img-polaroid">
				</div>
				<div id="image_bottom">
					<div class="hidden_one " id="hidden_text">
					</div>
					<div class="update_photo_panle cant_see_me upload_user_avatar file-box" >                
					</div>
				</div>
			</div>
			<div class="span6 input_locate">
				<%= f.input :ower_name, required: true, label: '真实姓名' %>
				<%= f.input :ower_shenfenzheng_number, required: true, label: '身份证号' %>
				<%= f.input :phone, required: true, label: '联系电话' %>
			</div>
		</div>
	<% end %>
</div>

<script type="text/javascript">
	$(function(){
		new Upload({
			verify_authenticity_token: "<%= form_authenticity_token %>",
			action: "/user_checkings/upload_photo/",
			current_user: { 
				id: "<%=current_user.id %>", 
				login: "<%= current_user.login %>",
			},
			targets: [{ 
				el: $(".main_panle"), 
				input_name: "ower_photo", 
				photo: "<%= @user_checking.try(:ower_photo) %>"
			}]
		})   
	})
</script>