<div class="panel">
  <h3>退货详情</h3>
  <div class="panel_contents">
    <div class="attributes_table order_refund" id="attributes_table_order_refund_30">
      <table border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
          <th>编号</th>
          <td><%=@order_refund.number %></td>
        </tr>
        <tr>
          <th>退货原因</th>
          <td><%=@order_refund.order_reason.name %></td>
        </tr>
        <tr>
          <th>订单</th>
          <td>
            <a href="/system/order_transactions/<%=@order_refund.order_transaction_id %>">
              <%= @order_refund.order.number %>
            </a>
          </td>
        </tr>
        <tr>
          <th>总金额</th>
          <td>
            <%=@order_refund.stotal %>
          </td>
        </tr>
        <tr>
          <th>状态</th>
          <td>
            <%=@order_refund.state_title %>
          </td>
        </tr>
        <tr>
          <th>买家</th>
          <td>
            <a href="<%=person_path(@order_refund.buyer) %>">
              <%=@order_refund.buyer.login %>
            </a>
          </td>
        </tr>
        <tr>
          <th>卖家</th>
          <td>
            <a href="<%=shop_path(@order_refund.seller) %>">
              <%=@order_refund.seller.name %>
            </a>
          </td>
        </tr>
        <tr>
          <th>拒绝理由</th>
          <td>
            <%=@order_refund.refuse_reason %>
          </td>
        </tr>
        <tr>
          <th>接单员</th>
          <td><%=@order_refund.operator.try(:login) %></td>
        </tr>
        <tr>
          <th>快递单号</th>
          <td>
            <%=@order_refund.delivery_code %>
          </td>
        </tr>
        <tr>
          <th>运费</th>
          <td><%=@order_refund.delivery_price %></td>
        </tr>
        <tr>
          <th>订单退货状态</th>
          <td><%=t("order_states.buyer.#{@order_refund.order_state}") %></td>
        </tr>
        <tr>
          <th>运输公司</th>
          <td>
            <%=@order_refund.transport_type %>
          </td>
        </tr>
        <tr>
          <th>退货描述</th>
          <td><%=@order_refund.decription %></td>
        </tr>
        <tr>
          <th>创建时间</th>
          <td><%=@order_refund.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        </tr>
        <tr>
          <th>更新时间</th>
          <td><%=@order_refund.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        </tr>
      </tbody></table>
    </div>
  </div>
</div>