<div class='nav_item'>
  <%= link_to "javascript:void(0)", class: 'chat_nav' do %>
    <%= icon(:comment) + ' ' + t(:chat) %>
  <% end %>
</div>
<div class='chat_friend_panel'>
  <div class='title'>
    最近联系
    <a href='javascript:void(0)' class='close_list'></a>
  </div>
  <div class='friend_list'>
  </div>
</div>
<%=javascript_include_tag "chats/contact" %>
<script type="text/javascript">
    chat_view = new ChatContact({
      el: $(".chat_friend_panel"),
      faye_url: "<%=realtime_uri %>",
      current_user: {
        id: "<%=current_user.id %>",
        login: "<%=current_user.login %>",
        token: "<%=current_user.im_token %>"
      }
    })

    $(".chat_nav").click(function(){
      chat_view.toggle();
    })

    $("[data-event='chat']").click(function(event){
      user_id = $(event.currentTarget).attr("data-value")
      chat_view.show_dialogue(user_id)
    })
</script>