<%= simple_form_for @product,
    :url => admins_products(@product),
    :remote => true,
    :html => {
        :class => "form-horizontal"
    } do |f| %>
    <%= f.input :name %>
    <div class="control-group string required">
        <label class="string required control-label" for="product_name"><abbr title="required">*</abbr> Category</label>
        <div class="controls">
            <%= breadcrumb_button(dom_id(@product, :category), @product.category.ancestors + [@product.category]) %>

            <script type="text/javascript">
                var button = ".<%= dom_id(@product, :category) %>";

                require(['jquery', 'twitter/bootstrap/modal'], function($){
                    var dialog_base_top = 0;
                    var window_top = 0;
                    var scrollDialog = function(e){
                        dialog_base_top = parseInt($("#CategoryModal").css('top'));
                        scroll_top = dialog_base_top + (e.wheelDelta);

                        $("#CategoryModal").css('top', scroll_top);
                        e = e || window.event;
                        if (e.preventDefault)
                            e.preventDefault();
                        e.returnValue = false;
                    };

                    $("#CategoryModal").on('show', function() {
                        dialog_base_top = $(this).position().top;
                        window_top = $(window).scrollTop();
                        $(this)
                            .find(".modal-body")
                            .load("<%= category_page_shop_admins_products_path%>");

                        window.onmousewheel = document.onmousewheel = scrollDialog;

                    });


                    $("#CategoryModal").on('hide', function(){
                        window.onmousewheel = document.onmousewheel = undefined;
                    });

                    $(button).click(function(){
                        $('#CategoryModal').modal('show');
                    });
                })
            </script>
        </div>
    </div>

    <%= f.association :shops_category, :as => :chosen %>
    <%= f.association :attachments,
                      :as           => :album,
                      :upload_url   => shop_admins_attachments_path(current_shop),
                      :collection   => @product.format_attachment %>

		<%= render_styles %>

    <%= f.input :price %>
    <%#= f.association :category, :collection => category_root, :value => Category.root , :as => :columnview %>
    <%= f.input :summary , as: :text %>
    <%= f.button :submit, :save %>

    <%= link_to_if(@product.new_record?, :cancel, '#', :class => 'btn cancel') do
        link_to :close, '#', :class => 'btn close'
    end %>
<% end %>


<%= register_javascript :product_form_editor, :only => :ajax do %>
<script type="text/javascript">

	require(['lib/table_bander'], function(tblBander){
		var bander = new tblBander.TableBander({
			// els : [$('div.colours'), $('div.sizes')],
			els    : [<%= filter_attribtues.map{ |item| "$('div.#{item.downcase}')" }.join(', ').html_safe %>],
			fields : [{title: '价格', value: 'price'}, {title: '数量', value: 'quantity'}],
			depth  : ['colour', 'size']
		})
	})

	<%= data_2_talbe %>

	require(['lib/colorpicker/js/bootstrap-colorpicker'], function(){
    $('.color').colorpicker();
  })

    require(['jquery', 'backbone', 'rails.view', 'nested_form'], function($, Backbone, Rails){
        var form = new Rails.FormView("form#<%= options_dom_id(@product) %>", {
            model: <%= raw @product.to_json %>
        });
    })

</script>
<% end %>

<!-- Modal -->
<div id="CategoryModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">产品类型</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>