<%= simple_form_for @product,
    :url => admins_products(@product),
    :remote => true,
    :html => {
        :class => "form-horizontal"
    } do |f| %>
    <%= f.input :name %>
    <div class="control-group string required">
        <label class="string required control-label" for="product_name"><abbr title="required">*</abbr> 类别</label>
        <div class="controls">
            <%= breadcrumb_button(dom_id(@product, :category), @product.category_ancestors_and_self ) %>
            
        </div>
    </div>

    <%= f.association :shops_category, :as => :chosen %>
    <%= f.association :attachments,
                      :as           => :album,
                      :upload_url   => shop_admins_attachments_path(current_shop),
                      :collection   => @product.format_attachment %>

    <%= f.input :price %>
    <%#= f.association :category, :collection => category_root, :value => Category.root , :as => :columnview %>

    <div class="additional_properties">
    <%= render_content(@content, locals: { category: @category }) %>
    <div class="product_prices"></div>

    </div>

    <%= f.input :summary , as: :text %>
    <%= f.button :submit, :save %>

    <%= link_to_if(@product.new_record?, :cancel, '#', :class => 'btn cancel') do
        link_to :close, '#', :class => 'btn close'
    end %>
<% end %>


<%= register_javascript :product_form_editor, :only => :ajax do %>
<script type="text/javascript">

	require(['lib/colorpicker/js/bootstrap-colorpicker'], function(){
    $('.color').colorpicker();
  })

    require(['jquery', 'backbone', 'rails.view', 'nested_form'], function($, Backbone, Rails){
        var form = new Rails.FormView("form#<%= options_dom_id(@product) %>", {
            model: <%= raw @product.to_json %>
        });
    })

</script>
<% end %>

<!-- Modal -->
<div id="CategoryModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-header modal-fixed">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <button type="button" class="close modal-resize" modal-size="0.8" aria-hidden="true">口</button>
    <h3 id="myModalLabel">产品类型</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer modal-fixed">
    <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
    <button class="btn btn-primary save_category">保存</button>
  </div>
</div>

<script type="text/javascript">

    var widths = new Array();
    var heights = new Array();
    var offsets = new Array();

    var widths_max = new Array();
    var heights_max = new Array();
    var offsets_max = new Array();

    function save_size(percentage){
        if (percentage == 1) {
            $(".modal-fixed").each(function(e,el){
                widths_max[e] = $(el).width();
                heights_max[e] = $(el).height();
                offsets_max[e] = $(el).offset();
            });
            offsets_max[offsets_max.length] = $(".category_list").offset();
        }else{
            $(".modal-fixed").each(function(e,el){
                widths[e] = $(el).width();
                heights[e] = $(el).height();
                offsets[e] = $(el).offset();
            });
            offsets[offsets.length] = $(".category_list").offset();
        }
    }

    function fix_modal(widths, heights, offsets){
        $(".modal-fixed").each(function(e,el){
            $(el).css("position","fixed");
            $(el).css("z-index",8888);
            $(el).css("width",widths[e]);
            $(el).css("height",heights[e]);
            $(el).offset(offsets[e]);
        });
        $(".category_list").offset(offsets[offsets.length-1]);
        $("#CategoryModal .modal-body").css("top",$("#CategoryModal .modal-header").outerHeight());

        $("#CategoryModal .search").css("background-color","white");
        $("#CategoryModal .search").css("top",50);
    }

    function setModalSize(percentage){
        browser_width = $(window).width();
        header_height = $("#CategoryModal .modal-header").height();
        footer_height = $("#CategoryModal .modal-footer").height();

        $("#CategoryModal").css("width",browser_width*percentage);
        $("#CategoryModal").css("margin-left",-(browser_width/2)*percentage);
        $("#CategoryModal").css("height",$(window).height());
        
        $("#CategoryModal .modal-body").css("min-height",$(window).height()-header_height-footer_height-76);
        $("#CategoryModal .modal-body").css("overflow-y","hidden");
        $("#CategoryModal").css("overflow-y","scroll");
        $("#CategoryModal").css("padding-right",$(window).width()*((1-percentage)/2));
        
        $("#CategoryModal").css("background","rgba(255,255,255,0)");
        $("#CategoryModal .modal-header").css("background-color","white");
        $("#CategoryModal .modal-body").css("background-color","white");
        $(".modal-resize").attr("modal-size",percentage); 
    }

    var button = ".<%= dom_id(@product, :category) %>";

    require(['jquery','twitter/bootstrap/modal'], function($){
        $("#CategoryModal").on('show', function() {
            $(this).find(".modal-body")
                .load("<%= category_page_shop_admins_products_path %>");
        });

        $("#CategoryModal").on('shown',function(){
            $("body").css("position","fixed");
            window.onresize = function(){
                setModalSize($(".modal-resize").attr("modal-size"));
            };
        });

        $("#CategoryModal .save_category").on('click', function(){
            $('#CategoryModal').modal('hide');
            category_id = $(".category_select").attr("data-select");
            $(".breadcrumb").load("/shops/<%= current_shop.name %>/admins/categories/category_full_name?category_id="+category_id,function(response, status, xhr) {
                    if(status == "success"){
                        $(".breadcrumb").html(breadcrumb(response));
                    }
            });
        });

        function breadcrumb(category_full_name){
            html = '<a href="#" data-toggle="modal"></a>';
            $(category_full_name.split("|")).each(function(e,el){
                if(e+1 < (category_full_name.split("|")).length){
                    html += '<li><a href="#">'+el+'</a><span class="divider">|</span></li>';
                }else{
                   html += '<li class="active">'+el+'</li>';
                } 
            });
            return html;
        }

        $("#CategoryModal").on('hide', function(){
            $("body").css("position","static");
        });

        $(button).click(function(e){
            $('#CategoryModal').modal('show');
        });

        $(".modal-resize").click(function(){
            if($(".modal-resize").attr("modal-size") != 1){
                setModalSize(1);
                fix_modal(widths_max, heights_max, offsets_max);
            }else{
                setModalSize(0.75);
                fix_modal(widths, heights, offsets);
            }
            return false;
        });
    })
</script>