<%= simple_form_for form, 
    :url => admins_products(form), 
    :remote => true,
    :html => {
        :class => "form-horizontal"
    } do |f| %>
    <%= f.input :name, :as => :chosen, :url => "http://192.168.2.235:3002/products/search", :remote_key => "title", :remote_value => "id" %> 

    <div class='control-group'>        
        <ul class='attachment-list'>                 
        </ul>
    </div>
    
    <%= f.input :price %>
    <%= f.association :category, 
        :collection => current_shop.category.descendants, :as => :chosen %>
    <%= f.input :summary , as: :text %>
    <%= f.button :submit, :save %>

    <%= link_to_if(form.new_record?, :cancel, '#', :class => 'btn cancel') do 
        link_to :close, '#', :class => 'btn close'
    end %>

    <%#= f.association :photos %>
<% end %>


<%= register_javascript :product_form_editor, :only => :ajax do %>
<script type="text/javascript">
    require(['jquery', 'backbone', 'rails.view', 'nested_form'], function($, Backbone, Rails){
        var form = new Rails.FormView("form#<%= options_dom_id(form) %>", {
            model: <%= raw form.to_json %>
        });
    })
</script>
<% end %>

<script type='text/javascript'>
    require(["admins/shops/product_upload", "models/attachment"], function(view, models){                      
        new view.ProductUpload({ 
            el : $("form .attachment-list"), 
            shop_name : "<%=current_shop.name %>" ,
            default_img_url : "<%=default_img_url('100x100') %>",
            data : <%= raw form.format_attachment.to_json %>,
            models : models
        })
    })
</script>
