<%= simple_form_for form, 
	:url => admins_products(form), 
	:remote => true,
	:html => {
		:class => "form-horizontal"
	} do |f| %>
	<%= f.input :name, :as => :chosen, :url => "http://192.168.2.235:3002/products/search", :remote_key => "title", :remote_value => "id" %>
	<%= image_tag form.preview.url("100x100") %>
	<%= f.input :colours, :collection => @colours.map{|color| color[:name]}, :as => :check_boxes, :wrapper_html => {:class => "colours"} %>
	<%= f.input :sizes, :collection => @sizes, :as => :check_boxes, :wrapper_html => {:class => "sizes"} %>
	<div class="sub_products"></div>
	<%= f.input :preview , as: :file %>
	<%= f.input :price %>
	<%= f.association :category, 
		:collection => current_shop.category.descendants, :as => :chosen %>
	<%= f.input :summary , as: :text %>
	<%= f.button :submit, :save %>

	<%= link_to_if(form.new_record?, :cancel, '#', :class => 'btn cancel') do 
		link_to :close, '#', :class => 'btn close'
	end %>

	<%#= f.association :photos %>
<% end %>


<%= register_javascript :product_form_editor, :only => :ajax do %>
<script type="text/javascript">
	require(['jquery', 'backbone', 'rails.view'], function($, Backbone, Rails){
		var form = new Rails.FormView("form#<%= options_dom_id(form) %>", {
			model: <%= raw form.to_json %>
		});
	})

	require(['lib/table_creater'], function(TableCreater){
		var options = {
			depth     : ['color', 'size'],
			structure : [['red', 'blue', 'white'], ['M', 'ML', 'L', 'XL', 'XXL']],
			data      : ['price', 'quantity']
		}
		var table = new TableCreater.tableCreater($('.sub_products'), options)
	})
</script>
<% end %>