<%= simple_form_for @product,
    :url => admins_products(@product),
    :remote => true,
    :html => {
        :class => "form-horizontal"
    } do |f| %>
    <div id="product_id" class="hide"><%= @product.id %></div>
    <%= f.input :name %>
    <%= f.association :category, :as => :chosen, :collection => @category_root.descendants %>
    <%= f.association :shops_category, :as => :chosen %>
    <%= f.association :attachments,
                      :as           => :album,
                      :upload_url   => shop_admins_attachments_path(current_shop),
                      :collection   => @product.format_attachment %>

    <%= f.input :price %>
    <%#= f.association :category, :collection => category_root, :value => Category.root , :as => :columnview %>
    <div class="additional_properties">
    <%= render_content_ex(@content, locals: { category: @category }) %>
    <div class="product_prices"></div>

    </div>

    <%= f.input :summary , as: :text %>
    <%= f.button :submit, :save %>

    <%= link_to_if(@product.new_record?, :cancel, '#', :class => 'btn cancel') do
        link_to :close, '#', :class => 'btn close'
    end %>
<% end %>


<%= register_javascript :product_form_editor, :only => :ajax do %>
<script type="text/javascript">

	require(['lib/table_bander'], function(tblBander){
		var bander = new tblBander.TableBander({
			// els : [$('div.colours'), $('div.sizes')],
			els    : [<%= filter_attribtues.map{ |item| "$('div.#{item.downcase}')" }.join(', ').html_safe %>],
			fields : [{title: '价格', value: 'price'}, {title: '数量', value: 'quantity'}],
			depth  : ['colour', 'size']
		})
	})


	require(['lib/colorpicker/js/bootstrap-colorpicker'], function(){
      $('.color').colorpicker();
    })

    require(['jquery', 'backbone', 'rails.view', 'nested_form'], function($, Backbone, Rails){
        var form = new Rails.FormView("form#<%= options_dom_id(@product) %>", {
            model: <%= raw @product.to_json %>
        });
    })

</script>
<% end %>

<!-- Modal -->
<div id="CategoryModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">产品类型</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>