<td>
 	<%= picture_and_name(@product) %>
</td>
<td>
	<%= @product.price %>
</td>
<td>
</td>
<td>
</td>
<td>
	<%= content_tag :div, :class => 'btn-group' do %>
	<%= link_to(icon(:edit), "#/#{@product.id}/edit", :class => 'btn utils edit') %>
	<%= link_to(icon(:remove), "#", :'data-delete-url' => "#{@product.id}", :class => 'btn utils delete') %>
	<% end %>
</td>
<td class="hide">
	<%= @product.id %>
</td>

<%= register_javascript :product_row_show, :only => :ajax do %>
<% end %>