<div class='row-fluid'>
  <div class="bank-wrapper">
    <table class="table">
      <thead>
        <tr>
          <th>银行</th>
          <th>收款方</th>
          <th>收款帐号</th>
        </tr>
      </thead>
      <tbody>
        <% TransferAccount.all.each do |ta| %>
          <tr>
            <td>
              <%= content_tag :div, :class => 'bank_card' do %>
                <%= label_tag "bank_#{ta.bank.code}" do %>
                  <span class="banks bank-<%= ta.bank.code %>">
                    <%= ta.bank.name %>
                  </span>
                <% end %>
              <% end %>
            </td>
            <td class='ta_name'>
              <%= ta.try(:name) || "暂无" %>
            </td>
            <td class='ta_number'>
              <%= ta.try(:number) || "暂无" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>