<% buyer = refund.order.buyer %>
<div id="refund<%=refund.id %>"
  class="transaction order_refund refund-<%=refund.id %>-<%=refund.state %>"
  state-id='<%=refund.id %>'
  state-url="<%=card_shop_admins_order_refund_path(current_shop, refund) %>"
  state-initial="<%=refund.state %>"
  state-title="<%=refund.state_title %>"
  state-event-url="<%=trigger_event_shop_admins_order_refund_path(current_shop, refund) %>"
  url-root="<%=shop_admins_order_refund_path(current_shop, refund) %>"
  data-token="<%= refund.order.try(:temporary_channel).try(:token) %>"
   >
  <div class="transaction-header">
    <div class="avatar">
      <%= image_tag buyer.photos.header, :class => 'img-polaroid' %>
    </div>

    <div class="container-fluid info-header">
      <div class="page-header">
        <div class="trasaction-title">
          <div class="name"><%= buyer.login %></div>
          <span class='order_number pull-right'>
            订单编号：<a href="<%=shop_admins_pending_path(current_shop) %>#open/<%=refund.order.id %>/order"><%=refund.order.try(:number) %></a>
          </span>   
        </div>
        <div class="transaction-address">
          <%=refund.order.try(:address).try(:location) %>
        </div>
      </div>
    </div>
  </div>
  <div class="transaction-body">
    <%=render refund.state, :refund => refund %>
    <div class='transaction-actions'>
      <%=render "state_button", :refund => refund %>
    </div>
  </div>
</div>