<% buyer = refund.order.buyer %>
<div id="refund<%=refund.id %>"
  class="transaction order_refund refund-<%=refund.id %>-<%=refund.state %>"
  state-id='<%=refund.id %>'
  state-url="<%=page_shop_admins_order_refund_path(current_shop, refund) %>"
  state-initial="<%=refund.state %>"
  state-event-url="<%=trigger_event_shop_admins_order_refund_path(current_shop, refund) %>"
  url-root="<%=shop_admins_order_refund_path(current_shop, refund) %>"
   >
  <div class="wrapper-box">
    <div class="transaction-header">

      <div class="avatar">
        <%= image_tag buyer.photos.header, :class => 'img-polaroid' %>
      </div>

      <div class="container-fluid info-header">
        <div class="page-header">
          <div class="trasaction-title">
            <div class="name"><%= buyer.login %></div>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%=render "state_button", :refund => refund %>
          </div>
          <div class="transaction-number">
            <span class='number'>编号: <%=refund.number %></span>
            <span class='order_number'>订单编号：<%=refund.order.number %></span>
            <span class='pull-right'><%=refund.created_at.strftime("%Y-%m-%d %H:%M:%S") %></span>
          </div>
          <div class="state-progress">
            <% unless refund.state == "failure" %>
              <%#=render "progress", :refund => refund %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="transaction-body">
      <%=render refund.state, :refund => refund %>
    </div>
  </div>
</div>