<div class='item' id="order_refunds<%=refund.id %>" data-value-id="<%=refund.id %>">
  <div class='summarize'>
    <div class='row-fluid head'>
      <div class='span3'>
        编号: <%=refund.number %>
      </div>
      <div class='span4'>
         在
        <small rel='tooltip' title="<%=I18n.l refund.created_at, :format => :long %>">
          <%= time_ago_in_words refund.created_at %>
        </small>
        之前退货
      </div>
      <div class='span2'>
        <%= link_to refund.buyer.login, person_path(refund.buyer)  %>
      </div>
      <div class='span3'>
        订单编号: <%=refund.order.number %>
      </div>
    </div>
    <div class='row-fluid products'>
      <div class='span7'>
        <% refund.items.each do |item| %>
        <%=render "product_item", :item => item %>
        <% end %>
      </div>
      <div class='span2'>
        <div>
          <%=number_to_currency refund.stotal %>
        </div>
        <div class='delivery_price'>
          (含<%=refund.delivery_price || 0 %>运费)
        </div>
      </div>
      <div class='span2 state_title'>
        <%=refund.state_title %>
      </div>
      <div class='span1'>
      </div>
    </div>
  </div>
  <div class='detail'>
  </div>
</div>