 <div class="products">
  <div class="item-details">
    <table class="table table-striped">
      <thead>
      <tr>
          <th class="hidden-phone-portrait">#</th>
          <th>图片</th>
          <th>商品</th>
          <th class="hidden-phone-portrait">数量</th>
          <th class="hidden-phone">单价</th>
          <th class="hidden-phone">金额</th>
      </tr>
      </thead>
      <tbody>
      <% refund.items.each do |item| %>
        <tr data-value-id="<%= item.id %>">
          <td><%= item.id %></td>
          <td><%= image_tag item.product.photos.icon %></td>
          <td><%= item.title %></td>
          <td><%= item.amount %></td>
          <td><%= number_to_currency(item.price) %></td>
          <td><%= number_to_currency(item.total) %></td>
        </tr>
      <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan='6' class='product_tfoot'>
            总金额(包含运费)：<span class='stotal'>
              <%= number_to_currency(refund.stotal) %>
            </span>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
