<div class="container-fluid ">
   <div class='row-fluid'>
    <div class='span12'>
      还有
      <span class='clock' time="<%= refund.current_state_detail.expired.to_i %>"></span>来确认收货，超时订单自动确认收货
    </div>
  </div>
  <div class="row-fluid">
    <div class="span2">
      运输方式
    </div>
    <div class="span4">
      <%= refund.transport_type %>
    </div>
    <div class="span2">
      发货单号
    </div>
    <div class="span4">
      <%= refund.delivery_code %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span2">
      退货原因
    </div>
    <div class="span4">
      <%= refund.order_reason.name %>
    </div>
    <div class='span2'>
      运费
    </div>
    <div class='span4'>
      <%= refund.delivery_price %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span2">
      退货说明
    </div>
    <div class="span10">
      <%= refund.decription %>
    </div>
  </div>
  <%=render "products", :refund => refund %>
</div>