<% admin_active_section :order_refunds %>

<div class='row-fluid order_refund_list'>
  <div class='span8'>
    <div class='widget'>
      <div class='row-fluid header'>
        <div class='span7'>
          <div class='span7'>
            商品
          </div>
          <div class='span3'>
            单价
          </div>
          <div class='span2'>
            数量
          </div>
        </div>
        <div class='span2'>
          合计
        </div>
        <div class='span2'>
          状态
        </div>
        <div class='span1'>
          操作
        </div>
      </div>
      <% if @refunds.length > 0 %>
        <% @refunds.each do |t| %>
        <%=render :partial => "item", :locals => {
          :refund => t
        } %>
        <% end %>
      <% else %>
        <div class='row-fluid'>
          <span class='span12 widget'>
            暂时还没有退货信息
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= paginate @refunds %>

<script type='text/javascript'>
  $(function(){

    new ShopOrderRefundList({
      el: $(".order_refund_list"),
      shop: {
        id: <%=current_shop.id %>,
        name: "<%=current_shop.name %>",
        token: "<%=current_shop.im_token %>"
      },
      remote_url: "<%= shop_admins_order_refunds_path(current_shop) %>"
    })

  })
</script>
