<div class='card_item_header'>
  <ul class='order_header'>
    <li class='actions'>
      <ul>
        <%=render :partial => "transactions/operator", :locals =>{ operator: row.current_operator } %>   
        <li >          
          <a href="javascript:void(0)" class='btn btn-primary btn-mini open operator'>
            <%= icon :open %>打开
          </a>
        </li>
        <% if row.order_refund_state? && row.refunds.count <= 0 %>
          <li>
            <a href='javascript:void(0)' class='returned-event btn btn-primary btn-mini'>
            申请退货
            </a>
          </li>
        <% end %>
        <% if row.waiting_sign_state? %>        
          <li>
            <a href='javascript:void(0)' class='delay-sign-event btn btn-primary btn-mini'>
            延长收货时间
            </a>
          </li>
        <% end %>
        <% if row.complete_state? %>
          <li>
            <a class='btn btn-primary btn-mini' href="<%= person_product_comment_path(@people, row.id) %>/order">
            商品评论
            </a>
          </li>
        <% end %>
        <li class='state'>
          <div class='state-label label label-success'>
            <%= buyer_state(row.state) %>
          </div>
        </li>

        <li class='time'>
          <%= icon :time %><%=I18n.l row.created_at, :format => :short %>
        </li>
      </ul>
    </li>
    <li class='title'>
      订单: <%= row.number %>
    </li>
  </ul>
</div>