<div class='row-fluid topics'>
  <div class='span5 left'>
    <div class='widget toolbar'>
      <textarea class='span12' placeholder='分享新鲜事'></textarea>
      <div class='row-fluid'>
        <div class='span2 title'>
          分享对象
        </div>
        <div class='span10'>
          <select class='span12'>
            <% @circle.categories.each do |c| %>
            <option value="<%=c.id %>">
              <%=c.name %>
            </option>
            <% end %>
          </select>
        </div>
      </div>
      <div class='row-fluid'>
        <div class='span12'>
          <input type='button' value='分 享' class='btn btn-primary' />
        </div>
      </div>
    </div>
  </div>
  <div class='span7 right'>
    <div class='widget'>
      <h4>
        所属者
        <a href='javascript:void(0)' data-toggle="tooltip" data-placement="top" title="" data-original-title="设置" class='setting'>
          <span class='icon-cog'></span>
        </a>
      </h4>
      <div class='owner'>
        <span class='user'>
          <img src="<%=@circle.owner.photos.icon %>" />
          <%=@circle.owner.login %>
        </span>
        <span class='following'>
          <input type='button' class='btn btn-primary' value='关注' />
        </span>
      </div>
      <h4>商圈简介</h4>
      <div class='description'>
        <p>
          <% if @circle.description.blank? %>
            暂无描述
          <% else %>
            <%=@circle.description %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>