<div class="row-fluid members widget">
  <div class="row-fluid head_content" >
    <div class="span4" style="margin-left:15px;"><span>成员(共<%=@members.count %>人)</span></div>
  </div>
  <% @members.each do |member| %>
    <div class='span2 member row-fluid' data-value-id="<%=member.user_id %>">
      <div class="span5 photo">
        <a href="<%= person_path(member.user) %>">
        <img src="<%=member.photos.header %>"  class="member_header"/>
        <% if member.manage? %>
          <a href='javascript:void(0)' data-toggle="tooltip" data-placement="bottom" title="" data-original-title="管理员" class='tag'>
            <img src="/assets/tag.png" />
          </a>
        <% end %>
        </a>
      </div>
      <div class="span7 info">
        <div class="member_login">
          <a href="<%= person_path(member.user) %>">
            <%=member.user.login %>
          </a>
          <% if @circle.is_manage?(current_user) %>
            <%=render :partial => "/communities/circles/circle_authority", :locals => {member: member, circle: @circle } %>
          <% end %>
        </div>
        <div>
          <% if @circle.is_owner_people?(member.user) %>
            群主
          <% else %>
            <div class="identy_name"><%=member.identity_title %></div>
          <% end %>
        </div>
        <div>
          <%if current_user.id != member.user_id %>
            <% if current_user.is_follow_user?(member.user_id) %>
              <span data-value-id="<%= current_user.follow_user(member.user_id).id %>" class="label  btn-warning unfollow">取消关注</span>
            <% else %>
              <span class="label  btn-warning follow">+ 关注</span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  $(function(){
    $(".members .member").each(function(i, elem){
      new FollowView({
        data: {
          follow_id:  $(elem).attr("data-value-id"),
          follow_type: "User"
        },
        login: "<%=current_user.login %>",
        el: $(elem)
      })
    })
    new MemberList({
      el: $(".members"),
      circle_id: "<%=@circle.id %>"
    })
  })
</script>