<div class='row-fluid notification'>
  <div class='span12 widget'>
    <div>
      <p>
        <a href="<%= person_path(@notice.send_user) %>">
          <img src="<%=@notice.send_user.photos.icon %>" />
          <%=@notice.send_user.login %>
        </a>
        申请加入商圈
        <% if @notice.apply_state.nil? %>
          <%=link_to "同意", agree_join_community_notification_path(@circle, @notice), :class => "btn btn-primary agree", :remote => true, :method => "POST" %>
          <%=link_to "拒绝", refuse_join_community_notification_path(@circle, @notice), :class => "btn btn-warning refuse", :remote => true, :method => "POST" %>
        <% elsif @notice.apply_state %>
          ,已经同意加入
        <% else %>
          ,已经拒绝加入
        <% end %>
      </p>
    </div>
  </div>
</div>