<div class='row-fluid'>
  <div class="preview">
    <%= image_tag @product.photos.preview, :id => 'zoom_01', "data-zoom-image" => "http://www.elevateweb.co.uk/wp-content/themes/radial/zoom/images/large/image3.jpg" %>
  </div>
  <script type="text/javascript">
    //$("#zoom_01").elevateZoom();
  </script>
  <div class="container-fluid property">
    <div class="row-fluid">
      <div class="span12">
      <% if @product.shop.present? %>
      <%= link_to t(:enter_shop, :name => @product.shop.try(:name)),
            shop_path(@product.shop.try(:name)),
            :class => 'btn pull-right' %>
      <% end %>
      <h5><%= @product.name %></h5>
      <p><small><%= @product.summary %></small></P>
      <hr>
        <%= simple_form_for @item,
          :url => person_transactions_path(current_user),
          :html => {:class => 'form-horizontal' } do |f| %>
          <%= f.input :title, :as => :hidden %>
          <%= f.input :price, :as => :hidden %>
          <%= f.input :product_id, :as => :hidden, :input_html => { :value => @product.id } %>
          <div class="control-group">
            <label class="control-label" for="inputEmail">价格</label>
            <div class="controls">
              <p class="text-surprised sub-product-price"><%= @product.price %></p>
            </div>
            <label class="control-label" for="inputEmail">配送</label>
            <div class="controls">
              <p class="text-surprised send-product-price"><%= @product.price %></p>
            </div>
            <label class="control-label" for="inputEmail">商品评分</label>
            <div class="controls">
              <p class="star"></p>
              <script type="text/javascript">
                $(".star").raty({
                  readOnly : true,
                  score    : 4,
                  path     : "/assets/raty"
                })
              </script>
            </div>
          </div>
          <div class="control-group">
              <label class="control-label" for="inputEmail">数量</label>
              <div class="controls">
                <%= f.input :amount, :as => :spinner %>
              </div>
            </div>
            <div class="control-group">
              <%= render_content @sale_options_content %>
            </div>
          <div class="control-group">
            <div class="control pull-right">
              <input class="btn btn-primary btn-large" value="BUY" type="submit">
              <%= add_to_my_cart("加入购物车", '.preview') %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>