<% admin_active_section :direct_transactions %>
<div class='row-fluid direct_transaction_list'>
  <div class='span12 left'>
    <div class='people-groups'>
    </div>

    <div class='threeD-viewport'>
       <div class='directs'>
        <%= render :partial => "direct_transactions/mini_row", :collection => @direct_transactions, :as => :row %>
      </div>
    </div>

    <div class='boxes'>
      <div class='upbox'></div>
      <div class='currentbox'></div>
      <div class='downbox'></div>
    </div>
    <%= paginate @direct_transactions %>
  </div>
  <div class='direct-detail'></div>
</div>

<script type="text/javascript">
  $(function(){

    var view = new TransactionTwoColumnsViewport({
      el: $(".direct_transaction_list"),
      secondContainer: ".direct-detail",
      warpClass: ".directs",
      remote_url: "<%= shop_admins_direct_transactions_path(current_shop) %>",
      leftSide: "#left_sidebar",
      registerView: function(view){
        new ShopDirectTransactionView({
          el: $(".direct", view.$detail)
        })
      }
    });

    // new ShopDirectTransactionList({
    //   el: $(".direct_transaction_list"),
    //   shop: {
    //     id: "<%=current_shop.id %>",
    //     name: "<%=current_shop.name %>",
    //     token: "<%=current_shop.im_token %>"
    //   },
    //   remote_url: "<%= shop_admins_direct_transactions_path(current_shop) %>"
    // })
  })
</script>