<% circle_active :related %>
<% content_for :topic_right do %>
<div>
  <div class='title title-first'>关注我的好友</div>
  <div class='content'>
    <ul class='friend-list'>
      <% if @followers.count > 0 %>
        <% @followers.each do |f| %>
        <li class='friend'>
          <img class='img-polaroid' src="<%=f.user.icon %>" />
          <span class='login'><%=f.user.login %></span>
        </li>
        <% end %>
      <% else %>
        <li>暂时没有好友</li>
      <% end %>
    </ul>
  </div>
</div>
<div>
  <div class='title'>分类</div>
  <div class='content topic_category'>
    <% @categories.each do | category | %>
    <a href="/shops/<%=current_shop.name%>/admins/topics/category/<%=category.id %>" class="badge badge-info">
      <%= category.name %>
    </a>
    <% end %>
  </div>
</div>
<div>
  <div class='title'>小编</div>
  <div class='content topic_admin'>
    <ul class='friend-list'>
      <li>
        <a href="#">
          <img class='img-polaroid' src="<%=current_shop.user.icon %>" />
          <%= current_shop.user.login %>
        </a>
      </li>
    </ul>
  </div>
</div>
<% end %>
<%=render :partial => "admins/shops/topics/topics_info", locals: {circles: @circles, circle: :community} %>