<% active_section :notification %>

<div class='row-fluid'>
  <div class="span7 widget">
    <div class='row-fluid'>
      <h3 class="page-title">
        通知的清单
      </h3>
    </div>

    <div class="tab-content">
      <div class='row-fluid notification_panel'>
        <ul>
          <% @notifications.each do |n| %>
            <li class='notification_one' data-id="<%= n.id %>">
              <ul class='notification-actions'>
                <li class='goto'>
                  <a href="<%= mark_as_read_person_notification_path(@people, n) %>">
                    查看
                  </a>
                </li>
                <li class='read'>
                  <a href='javascript:void(0);' title='标为已读'>
                    <i class="icon-check mark_read"></i>
                  </a>
                </li>
                <li class='avatar'>
                  <%#= image_tag n.additional[:avatar], :class => 'avatar avatar-icon pull-right' %>
                </li>
                <li class='age'>
                  <%= distance_of_time_in_words n.created_at, Time.now %>
                </li>
              </ul>
              <p class='content'>
                <%= raw n.content %>
                <label class="label <%=n.targeable_type.try(:downcase) %>">
                  <% if n.targeable_type.blank? %>
                    通知
                  <% else %>
                    <%= t("activerecord.models." + n.targeable_type.try(:underscore).to_s) %>
                  <% end %>
                </label>
              </p>
            </li>
          <% end %>
        </ul>
        <% unless params[:all] == "1" %>
          <div class='batch-btns pull-right'>
            <a href="<%= read_all_person_notifications_path(current_user.login) %>">全标为已读</a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
