<% active_section :notification %>

<div class='row-fluid'>
  <div class="span7 widget">
    <div class='row-fluid'>
      <h2 class="page-title">
        <small>通知的清单</small>
      </h2>
    </div>

    <div class='row-fluid notification_panel'>
      <ul>
        <% @notifications.each do |n| %>
          <li class="notification_one">
            <div class='people-info span2'>
            <div>
                <img class="img-circle" src="<%=n.mentionable_user.photos.icon %>" />
              </div>
              <div>
                <a href="javascript:void(0)"><%=n.mentionable_user.login %></a>
              </div>
            </div>
            <div class='content'>
              <p>
                <%=raw n.body %>
              </p>
              <p>
                <span class="label <%= n.read ? "" : "label-important" %>" style='position: absolute;top: 0px;right: 0px;'>
                  <%= n.read ? "已读取" : "未读取" %>
                </span>
                <span>
                  <a href="<%=person_notification_path(current_user.login, n.id) %>/enter">
                    查看&nbsp;&nbsp;
                  </a>
                  <a href="javascript:void(0)" class="mark_read" data-value-id='<%=n.id %>'>标为已读</a>
                </span>
              </p>
            </div>
          </li>
        <% end %>
      </ul>
      <% unless params[:all] == "1" %>
        <div>
          <a href="<%= person_notifications_path(current_user.login) %>?all=1">查看所有提醒</a>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    $(".mark_read").bind("click", function(){
      target = $(event.target),
      current_user="<%= current_user.id %>",
      notification=target.attr("data-value-id"),
      $.ajax({
        type: "post",
        url: "/people/"+current_user+"/notifications/"+notification+"/mark_as_read",
        success: function(){
          target.remove()
        }
      })
    })
  })
</script>