<% active_section :activity_likes %>
<div class='row-fluid'>
  <div class='span8 widget'>
    <table class='table table-striped'>
      <thead>
        <tr>
          <th>标题</th>
          <th>单价</th>
          <th>类型</th>
          <th>商家</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% if !@activities.present? %>
        <tr><td colspan="4" style="text-align:center;">您还没有喜欢的活动哦,赶紧去添加吧～～</td></tr>
      <% else %>
        <% @activities.each do |a| %>
        <tr class='activity' activity-id="<%=a.id %>">
          <td><%=a.title %></td>
          <td><%=a.price %></td>
          <td><%=t("activity.type.#{a.activity_type}") %></td>
          <td>
            <a href="/shops/<%=a.shop.name %>">
              <img src="<%=a.shop.photos.icon %>" />
              <%=a.shop.name %>
            </a>
          </td>
          <td>
            <a class='preview' href="javascript:void(0)">
              查看
            </a>
          </td>
        </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class='span5'>
  </div>
</div>
<script type='text/javascript'>
  $(function(){
    new ActivityPreview({
      el: $("tbody"),
      login: '<%= current_user.login %>'
    })
  })
</script>