<div class="address address<%=address.id%> out-box">
	<div class="address-details">
		<div class="address-button">
			<h3>地址<%= index + 1 %></h3>
			<div class="pull-right">
				<button href="#edit_address<%=address.id%>"  class="btn" type="button" data-toggle="modal">编辑</button>
				<%= button_to "删除", { :action => "destroy", :id => address.id }, :confirm => "确定要删除该收货地址吗？", :method => "delete", :class => "btn btn-danger" %>
			</div>
		</div>
		<div class="in-box">
			<div class="row-fluid">
				<div class="span2">
					<label class="control-label">收货地址：</label>
				</div>
				<div class="span4">
					<%= address.try(:location) %>
				</div>
			</div>

			<div class="row-fluid">
				<div class="span2">
					<label class="control-label">邮编：</label>
				</div>
				<div class="span4">
					<small><%= address.try(:zip_code) %></small>
				</div>
			</div>
		</div>
	</div>

	<%= render :partial => "people/addresses/edit", :locals => {:address => address} %>
</div>