<% side_nav_for 'fiery' %>
<div id="main" class="content">
  <section class="widget catalog-header">
    <div class="body-category">
      <ul id="activity-catalog" class="breadcrumb activity-catalog" >
        <li>
          <a href='/' >
            <%=icon 'eye-open' %>
          </a>
        </li>
        <li>
          <a href='#'>
            推荐分类
            <span class="divider">&gt;</span>
          </a>
        </li>
        <li class='active'>
          <%=@catalog.title %>
        </li>
      </ul>
    </div>
    <hr class="min-line">
    <div class='row-fluid'>
      <div class='span1 title'>
        分类
      </div>
      <div class='span11 values'>
        <ul>
          <% @catalog.categories.each do |c| %>
          <li>
            <a href="<%=category_path(c) %>"><%=c.name %></a>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </section>
  <%= render :partial => "activities/template" %>
</div>

<script type="text/javascript">
  $(function(){

    var load_view = new LoadActivities({
      el: $('.activities_panel')
    })

    load_view.reset_fetch({catalog_id: <%=@catalog.id %>})
  })
</script>
