<div class='chat_dialog_panel'>
  <div class='dialog_head'>
    在线-<%=@friend.login %>
  </div>
  <div class='dialog_content_panel'>
    <div class='dialog_content'>
      <ul></ul>
    </div>
    <div class='dialog_foot'>
      <form>
        <div class='content'>
          <textarea name='content'></textarea>
        </div>
        <div class='foot_nav'>
          <input type='submit' value='发送' />
        </div>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
  require(["jquery", "chats/chat"], function($, ChatView){
    var chat_view = new ChatView({
      el: $(".chat_dialog_panel")
    })

    chat_view.set_options({
      user: {
        id: "<%=current_user.id %>",
        login: "<%=current_user.login %>",
        icon_url: "<%=current_user.icon %>",
        token: "<%=current_user.id %>"},
      friend: {
        id: "<%=@friend.id %>",
        login: "<%=@friend.login %>",
        icon_url: "<%=@friend.icon %>"},
      faye_url: "<%=faye_server_uri %>"
    })

    chat_view.fetch()
  })
</script>