<% if @dialogue.present? %>
  <div class='chat_dialog_panel'>
    <div class='dialog_head'>
      <span class='state offline'></span>
      <span class='name'><%=@dialogue.friend.login %></span>
    </div>
    <div class='dialog_content_panel'>
      <div class='dialog_content'>
        <ul>
          <li>正在加载...</li>
        </ul>
      </div>
      <div class='dialog_foot'>
        <form>
          <input type='hidden' name='authenticity_token' value="<%= form_authenticity_token %>" />
          <div class='content'>
            <textarea name='content'></textarea>
          </div>
          <div class='foot_nav'>
            <input type='submit' value='发送' />
          </div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      var chat_view = new TransactionChatView({
        el: $(".chat_dialog_panel")
      })

      chat_view.set_options({
        user: {
          id: "<%=current_user.id %>",
          login: "<%=current_user.login %>",
          icon_url: "<%=current_user.icon %>",
          token: "<%=current_user.im_token %>"},
        friend: {
          id: "<%=@dialogue.friend.id %>",
          login: "<%=@dialogue.friend.login %>",
          icon_url: "<%=@dialogue.friend.icon %>",
          connect_state: <%= @dialogue.friend.connect_state %>},
        faye_url: "<%=faye_server_uri %>"
      })

      chat_view.fetch()
  </script>
<% else %>
  <div>无效的聊天框口</div>
<% end %>