<div class='transaction_dialog_panel'>
  <div class="toolbar">
  </div>
  <div class="messages">
    <% @messages.each do | m | %>
      <div class="row-msg">
        <div class="<%=m.send_user==current_user ? 'self' : 'people' %>">
          <div class='wrapper'>
            <div class="people-name">
              <p><%=m.send_user.login %>:</p>
            </div>
            <div class="msg">
              <p><%=m.content %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="me">
    <%= image_tag current_user.photos.icon, :class => 'img-polaroid' %>
    <p><%= current_user.login %></p>
  </div>
  <div class='input-msg'>
    <form>
      <textarea rows=3 class="span12"></textarea>
    </form>
  </div>
</div>