<div class="comments_div">
  <% @comments.each do |comment| %>
    <div class="comment_main">
    	<ul>
        <li><span>
        <img src="<%=comment.user.photos.icon %>">
        <a href=""><%= comment.user.login %></a>
        <%= comment.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
        </span></li>
    		<li class="content"><%= comment.content %></li>
    	</ul>
    </div>
  <% end %>
<%=render :template => "people/comments/new_activity",
      :locals=> { :activity => @activity  } %>
</div>