  <% @activities.each do |activity| %>
    <div id="activity_<%= activity.id %>" class="comment_body">
      <p><img src="<%= activity.url %>"></p>
      <div class='comments'></div>
    </div>
    <br>
    <script type="text/javascript">
      require(["commit_comment", "jquery", "hogan"], function(view, $, Hogan){
        template = Hogan.compile($("#comment_template").html());
        new view.CommitComment({
          login: "<%= @people.login %>",
          targeable_id: "<%= activity.id %>",
          el: $("#activity_<%= activity.id %>"),
          template: template
        });
      });
    </script>
  <% end %>
<template id="comment_template" style="display:none;">
  <div class="comment_main">
    <ul>
      <li>{{ comment.content }}</li>
      <li><span>
      <img src="{{ user.photos.icon }}">
      {{ user.login }}
      {{ comment.created_at }}
      </span></li>
    </ul>
  </div>
</template>
