<div class="left-panel">
	<table>
		<colgroup width="20%"></colgroup>
		<colgroup width="80%"></colgroup>
		<tbody>
			<tr>
				<td>编号ID</td>
				<td><%= @activity.id %></td>
			</tr>
			<tr>
				<td>URL</td>
				<td><%= @activity.url || "暂无" %></td>
			</tr>
			<tr>
				<td>活动类型</td>
				<td><%= @activity.activity_type %></td>
			</tr>
			<tr>
				<td>商店</td>
				<td>
					<%= @activity.shop.name %>
				</td>
			</tr>
			<tr>
				<td>原价</td>
				<td><%= number_to_currency @activity.shop_product.price %></td>
			</tr>
			<tr>
				<td>活动价</td>
				<td><%= number_to_currency @activity.price %></td>
			</tr>
			<tr>
				<td>活动描述</td>
				<td><%= @activity.description %></td>
			</tr>
			<tr>
				<td>开始时间</td>
				<td><%= @activity.start_time.strftime('%Y年%m月%d日 %H点%M分') %></td>
			</tr>
			<tr>
				<td>结束时间</td>
				<td><%= @activity.end_time.strftime('%Y年%m月%d日 %H点%M分') %></td>
			</tr>
			<tr>
				<td>创建人</td>
				<td><a href="/people/<%= @activity.author.login %>"><%= @activity.author.login %></a></td>
			</tr>
			<tr>
				<td>限制数量</td>
				<td><%= @activity.limit_count || '无' %></td>
			</tr>
			<tr>
				<td>所属商店</td>
				<td><a href="/system/shops/<%= @activity.shop.try(:id) %>"><%= @activity.shop.try(:name) %></a></td>
			</tr>
		</tbody>
	</table>
</div>

<div class="right-panel">
	<% atts = @activity.attachments[0] %>
	<img src="<%= atts.nil? ? @activity.photos.default : atts.file.url("240x240") %>">
</div>

<style type="text/css">
	form.button_to {
		display: inline;
	}
	form.button_to div {
		display: inline;
	}
	div.reject {
		margin-top: 20px;
	}
	div.reject h3{
		margin-top: 30px;
		margin-bottom: 5px;
	}
	.rejected-times h3.rejected-times {
		padding: 20px 0;
		border-top: 1px solid #6a7176;
		/*border-bottom: 1px solid #6a7176;*/
	}
	.rejected-times + div.rejected-reason {
		height: 100px;
		border-top: 1px solid #6a7176;
		border-bottom: 1px solid #6a7176;
		margin-bottom: 20px;
	}
	div.label {
		float: left;
		width: 20%;
		height: 100%;
		vertical-align: center;
	}
	div.reason {
		float: left;
		width: 80%;
		height: 100%;
		background-color: #dfe1e2;
	}

	div.left-panel {
		width: auto;
		float: left;
	}
	div.right-panel {
		display: inline-block;
	}
</style>

<% if @activity.status == Activity.statuses[:rejected] %>
	<div class='rejected-reason'>
		<div class='label'><span>被拒绝原因：</span></div>
		<div class='reason'><%= @activity.rejected_reason.try(:html_safe) || "" %></div>
	</div>
<% end %>

<% unless @activity.status == Activity.statuses[:access] %>
	<div class='checking'>
		<%= button_to "审核通过", { action: :check } %>
		<% if @activity.status != Activity.statuses[:rejected] %>
			<%= submit_tag "拒绝", class: "activity_reject" %>
			<%= form_tag "/system/activities/#{ @activity.id }/reject",
				method: :post, class: "activity_reject", style: "display: none;" do %>
				<div class='reject'>
					<h3>拒绝理由：</h3>
					<%= text_area_tag "reject_reason", nil, rows: 10 %><br>
					<%= submit_tag "确定" %>
					<%= button_tag "取消", class: "cancel" %>
				</div>
			<% end %>
		<% end %>
	</div>
<% end %>

<script type="text/javascript">
	$(function(){
		var AcitivtyView = Backbone.View.extend({
			events: {
				'click :submit.activity_reject' : 'reject',
				'click .cancel' : 'cancel',
				'submit form.activity_reject' : 'check_for_reason'
			},

			reject: function(event) {
				var that = this;
				this.$("form.activity_reject").slideToggle(function(event){
					that.$('textarea').focus();
				});
				return false;
			},

			cancel: function(event) {
				this.$("form.activity_reject").slideUp();
				return false;
			},

			check_for_reason: function(event) {
				if (!$('textarea').val()) {
					alert("请填写拒绝的原因！")
					return false;
				}
			}
		})
		var activity_view = new AcitivtyView({ el: $("div.checking") })
	})
</script>