<% if followings.count > 0 %>
  <% followings.each do |f| %>
    <div class='alert alert-info follow' data-value-id="<%= f.id %>" data-value-follow-id="<%= f.follow_id %>">
      <div class='avatar'>
        <img src="<%= f.follow.try(:icon) %>" class="img-rounded" />
      </div>
      <div class='info'>
        <div class='href_name'>
          <a href="/people/<%= f.follow.try(:login) %>" title="<%= f.follow.try(:login) %>">
            <%= f.follow.try(:login) %>
          </a>
        </div>
        <div>        
          <%= follow_action(f.follow) %>        
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class='alert alert-warning notify-message'>暂时没有关注的用户</div>
<% end %>