<span class="pull-right">
  <div class="btn-group">
    <% if Rails.env.development? %>
      <%= link_to '#',
            :class => 'btn btn-large',
            'event-name' => 'back' do %>
        <%=raw "#{caret(:left)}&nbsp;&nbsp;&nbsp;后退" %>
      <% end %>
    <% end %>
    <%= link_to '#', :class => 'btn btn-large disabled', 'event-name' => 'delivered' do %>
      <%= raw "等待发货&nbsp" %>
      <%= caret(:right) %>
    <% end %>
  </div>
</span>