<div class="container-fluid">
  <% if transaction.delivery_manner.express? %>
  <div class="row-fluid">
    <div class='span2'>
      物流公司
    </div>
    <div class='span4'>
      <%= transaction.logistics_company.try(:name) %>
    </div>
    <div class='span2'>
      快递单号
    </div>
    <div class='span4'>
      <%= transaction.delivery_code %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span2">
      配送方式
    </div>
    <div class="span4">
      <%= transaction.delivery_type.nil? ? "暂无" : transaction.delivery_type.name %>
    </div>
    <div class="span2">
      配送费用
    </div>
    <div class="span4">
      <%= number_to_currency(transaction.delivery_price) %>
    </div>
  </div>
  <% end %>
  <div class='row-fluid'>
    <div class='span2'>付款方式</div>
    <div class='span4'>
      <%=transaction.pay_manner.name %>
    </div>
    <div class='span2'>运输方式</div>
    <div class='span4'>
      <%=transaction.delivery_manner.name %>
    </div>
  </div>
  <div class='row-fluid'>
    <div class='span2'>
      送货地址
    </div>
    <div class='span10'>
      <%= transaction.address.nil? ? "暂无" : transaction.address.location %>
    </div>
  </div>
  <div class='row-fluid'>
    <div class='span12'>
      <%= render "products", :transaction => transaction %>
    </div>
  </div>
</div>