<div class='products'>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          图片
        </th>
        <th>商品</th>
        <th>
          数量
        </th>
        <th>
          单价
        </th>
        <th class="relative">
          <div class="btn-group">
            <%= link_to 'javascript:void(0)', :class => "btn detials download " do %>
              <%= icon :download %>
            <% end %>
            <%= link_to 'javascript:void(0)', :class => "btn print" do %>
              <%= icon :print %>
            <% end %>
          </div>

          <div class="right-frame"></div>
        </th>
      </tr>
    </thead>
    <tbody>
    <% transaction.items.each do |item| %>
    <tr>
      <td>
        <%= image_tag item.product.photos.icon %>
      </td>
      <td>
        <%= item.title %>
      </td>
      <td>
        <%= item.amount %>
      </td>
      <td>
        <%= item.price %>
      </td>
      <td>
        <%= number_to_currency item.total %>
      </td>
    </tr>
    <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan='5' class='product_tfoot'>
          合计(包含运费): <span class='stotal'><%=number_to_currency(transaction.stotal) %></span>
        </td>
      </tr>
    </tfoot>
  </table>

  <div class='print_display'>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    new OrderExport({
      url_print: "<%= print_shop_admins_transaction_path(current_shop, transaction) %>",
      url_download:"<%=shop_admins_transaction_path(current_shop, transaction) %>.csv",
      order_id: "<%=transaction.id %>",
      el: $(".transaction-<%=transaction.id %>-<%=transaction.state %>")
    })
  })
</script>