<% buyer = transaction.buyer %>
<div class="transaction transaction-<%=transaction.id %>-<%= transaction.state %>"
	 state-id="<%= transaction.id %>"
	 state-initial="<%= transaction.state %>"
	 state-url="<%= shop_admins_transaction_path(current_shop, transaction) %>"
	 state-event-url= "<%= trigger_event_shop_admins_transaction_path(current_shop, transaction) %>" >
	<div class="transaction-header">
		<div class="avatar">
			<%= image_tag buyer.photos.header, :class => 'img-polaroid' %>
		</div>
		<div class="container-fluid info-header">
			<div class="page-header">
				<h1><%= buyer.login %>
					<small rel='tooltip' title="<%=I18n.l transaction.created_at, :format => :long %>">
					<%= distance_of_time_in_words Time.now, transaction.created_at %>
					<%= transaction.state if Rails.env.development? %>
					</small>

					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<%= render "state_buttons", :transaction => transaction %>
				</h1>
				<div class="state-progress">
					<div class="progress progress-mini progress-striped active">
						<div class="state-bar" style="width: 30%;"></div>
						<div class="state-bar" style="width: 25%;"></div>
						<div class="state-bar" style="width: 20%;"></div>
						<div class="state-bar" style="width: 15%;"></div>
					</div>
					<span class="state-position badge order">1<div class="state-title">买家下单</div></span>
					<span class="state-position badge waiting_paid" style="left:30%">2<div class="state-title">买家付款</div></span>
					<span class="state-position badge waiting_delivery" style="left:55%">3<div class="state-title">确认发货</div></span>
					<span class="state-position badge waiting_sign" style="left:75%">3<div class="state-title">等待收货</div></span>
				</div>
			</div>
		</div>
	</div>
	<div class="transaction-body">
		<%= render state, transaction: transaction %>

	</div>
	<div class="transaction-footer" id="transaction_message_<%=transaction.id %>">
		<div class="message-toggle"><%= button_tag icon(:list), :class => "btn" %></div>
		<iframe src="<%=dialogue_shop_admins_transaction_path(current_shop.name, transaction.id) %>">
		</iframe>
	</div>
</div>
