<% buyer = transaction.buyer %>
<div id="order<%=transaction.id %>" class="transaction transaction-<%=transaction.id %>-<%= transaction.state %>"
   state-id="<%= transaction.id %>"
   state-initial="<%= transaction.state %>"
   state-url="<%= page_shop_admins_transaction_path(current_shop, transaction) %>"
   state-event-url= "<%= trigger_event_shop_admins_transaction_path(current_shop, transaction) %>"
   url-root="<%=shop_admins_transaction_path(current_shop, transaction)  %>">
  <div class='wrapper-box'>
    <div class='row-fluid'>
      <div class='left span7'>
        <div class="transaction-header">
          <h4><%= icon 'list-alt' %> 买家的销售交易单
            <em>
              编号：<%= transaction.number %>
            </em>
            <small rel='tooltip' title="<%=I18n.l transaction.created_at, :format => :long %>">
            <%= I18n.l transaction.created_at, :format => :short %>
            </small>
          </h4>
          <div class="avatar">
            <%= image_tag buyer.photos.header, :class => 'img-circle' %>
          </div>
          <div class="container-fluid info-header">
            <div class="page-header">
              <h3><%= buyer.login %>
              </h3>
<!--               <div class="state-progress">
                <% if state != "close" %>
                <%#=render "progress", transaction: transaction %>
                <% end %>
              </div>
 -->            </div>
          </div>
        </div>
        <div class="transaction-body">
          <%= render state, transaction: transaction %>
          <%= render "state_buttons", :transaction => transaction %>
        </div>
      </div>
      <div class='span5'>
        <div class="transaction-footer" id="transaction_message_<%=transaction.id %>">
          <div class="message-toggle"><%= button_tag icon(:comments), :class => "btn" %></div>
          <iframe frameborder='0' src="<%=dialogue_shop_admins_transaction_path(current_shop.name, transaction.id) %>">
          </iframe>
        </div>
      </div>
    </div>
  </div>
</div>