<div class="container-fluid">
  <div class='row-fluid'>
    <div class='span2 title'>运输方式</div>
    <div class='span4'>
      <%=transaction.delivery_manner.try(:name) || "卖家选择" %>
    </div>
    <div class='span2 title'>付款方式</div>
    <div class='span4'>
      <%=transaction.pay_manner.name %>
    </div>
  </div>

  <% unless transaction.delivery_manner.local_delivery? %>
    <div class="row-fluid">
      <div class="span2 title">
        配送方式
      </div>
      <div class="span4">
        <%= transaction.delivery_type.try(:name) %>
      </div>
      <div class="span2 title">
        配送费用
      </div>
      <div class="span4">
        <%= number_to_currency(transaction.try(:delivery_price)) %>
      </div>
    </div>
  <% end %>

  <div class="row-fluid">
    <div class="span2 title">
      收货地址
    </div>
    <div class="span4">
      <%= transaction.address.try(:location) %>
    </div>
    <div class="span2 title">
      邮编
    </div>
    <div class="span4">
      <small><%= transaction.address.try(:zip_code) %></small>
    </div>
  </div>
<%= render "products", :transaction => transaction %>
</div>