<div class="container-fluid">
  <%= render_base_template "refunds", :transaction => transaction %>
  <div class="row-fluid">
    <div class="span2 title">
      配送费用
    </div>
    <div class="span4 delivery_price">
      <%= number_to_currency(transaction.delivery_price) %>
    </div>
    <div class='span2 title'>
      快递编号
    </div>
    <div class='span4'>
      <input type='text' class='span12 delivery_code' />
    </div>
  </div>

  <%= render_base_template "manner", :transaction => transaction %>
  <div class='row-fluid'>
    <div class='span12'>
      还有
     <span class='clock' time="<%= transaction.current_state_detail.expired.to_i %>" date="<%=transaction.current_state_detail.expired.strftime('%Y-%m-%d') %>">
      </span>就送货延时, 请及时发货
    </div>
  </div>
  <p class="lead">请打印出交易清单, 请准备好你的商品, 并联系好您的物流, 再点击确认你的发货状态</p>
  <%= render "products", :transaction => transaction %>
</div>