<div class="container-fluid">
  <% if transaction.delivery_manner.present? %>
    <% if transaction.delivery_express? %>
      <%= render_base_template "chose_delivery", :transaction => transaction %>
    <% end %>
  <% else %>
    <%= render_base_template "chose_express", :transaction => transaction %>
  <% end %>
  <%=render_base_template "edit_delivery_price", :transaction => transaction %>
  <%= render_base_template "manner_and_address", :transaction => transaction %>
  <div class='row-fluid'>
    <div class='span12'>
      还有
      <span class='clock' time="<%= transaction.current_state_detail.expired.to_i %>">
      </span>就送货延时, 请及时发货
    </div>
  </div>
  <p class="lead">请打印出交易清单, 请准备好你的商品, 并联系好您的物流, 再点击确认你的发货状态</p>
  <%= render "products", :transaction => transaction %>
</div>