<div class="container-fluid">
  <div class='row-fluid'>
    <div class='span2 title'>
      <label class="control-label">订单编号</label>
    </div>
    <div class='span4'>
      <label class="control-label"><%= transaction.number %></label>
    </div>
  </div>
  <% if transaction.delivery_manner.express? %>
  <div class="row-fluid">
    <div class='span2 title'>
      <label class="control-label">快递单号</label>
    </div>
    <div class='span4'>
        <input type='text' value='<%=transaction.delivery_code %>' class='delivery_code span12' />
    </div>
  </div>
  <div class="row-fluid">
    <div class="span2 title">
      <label class="control-label">配送方式</label>
    </div>
    <div class="span4">
      <label class="control-label">
      <%= transaction.delivery_type.nil? ? "暂无" : transaction.delivery_type.name %>
      </label>
    </div>
    <div class="span2 title">
      <label class="control-label">配送费用</label>
    </div>
    <div class="span4">
      <label class="control-label">
        <%= number_to_currency(transaction.delivery_price) %>
      </label>
    </div>
  </div>
  <% end %>
  <div class='row-fluid'>
    <div class='span2 title'>
      送货地址
    </div>
    <div class='span10'>
      <%= transaction.address.nil? ? "暂无" : transaction.address.location %>
    </div>
  </div>
  <div class="row-fluid">
    <div class='span2 title'>运输方式</div>
    <div class='span4'>
      <%=transaction.delivery_manner.name %>
    </div>
  </div>
  <div class='row-fluid'>
    <div class='span12'>
      还有
      <span class='clock'>
      </span>就送货延时, 请及时发货
    </div>
  </div>
  <p class="lead">请打印出交易清单, 请准备好你的商品, 并联系好您的物流, 再点击确认你的发货状态</p>
</div>
<%= render "products", :transaction => transaction %>
<script type="text/javascript">
</script>