<% admin_active_section :complete %>

<div class='transaction-list'>
  <div class='row-fluid'>
    <div class='span8'>
      <h3 class='page-title'>担保交易</h3>
    </div>
  </div>
  <div class='row-fluid wrap_list'>
    <div class='span12 left-column'>
      <div class='people-groups'>
      </div>

      <div class='threeD-viewport'>
        <div class='orders card_list'>
          <% if @transactions.length > 0 %>
            <% @transactions.each do |row| %>
              <%=render_base_template "order_mini_row", :row => row %>
            <% end %>
          <% else %>
            <div class='widget'>
              没有已处理完的担保交易
            </div>
          <% end %>
        </div>
      </div>

      <div class='boxes'>
        <div class='upbox'></div>
        <div class='currentbox'></div>
        <div class='downbox'></div>
      </div>
      <%= paginate @transactions %>
    </div>
    <div class='order-detail'></div>
  </div>
</div>

<div class='direct_transaction_list'>
  <div class='row-fluid'>
    <div class='span8'>
      <h3 class='page-title'>直接交易</h3>
    </div>
  </div>
  <div class='row-fluid wrap_list'>
    <div class='span12 left-column'>
      <div class='people-groups'>
      </div>

      <div class='threeD-viewport'>
        <div class='directs card_list'>
          <% if @directs.length > 0 %>
            <%= render :partial => "admins/shops/direct_transactions/row", :collection => @directs, :as => :row %>
          <% else %>
            <div class='widget'>
              没有已处理完的直接交易
            </div>
          <% end %>
        </div>
      </div>

      <div class='boxes'>
        <div class='upbox'></div>
        <div class='currentbox'></div>
        <div class='downbox'></div>
      </div>
      <%= paginate @directs %>
    </div>
    <div class='direct-detail'></div>
  </div>
</div>

<!-- <div class='order_refund_list'>
  <div class='row-fluid'>
    <div class='span8'>
      <h3 class='page-title'>退货单</h3>
    </div>
  </div>
  <div class='row-fluid wrap_list'>
    <div class='span12'>
      <div class='left-column'>
        <div class='people-groups'>
        </div>

        <div class='threeD-viewport'>
          <div class='refunds card_list'>
            <%# if @refunds.length > 0 %>
              <%#= render :partial => "order_refunds/mini_row", :collection => @refunds, :as => :row %>
            <%# else %>
              <div class='widget'>
                没有已处理完的退货单
              </div>
            <%# end %>
          </div>
        </div>

        <div class='boxes'>
          <div class='upbox'></div>
          <div class='currentbox'></div>
          <div class='downbox'></div>
        </div>
        <%#= paginate @refunds %>
      </div>
      <div class='refund-detail'></div>
    </div>
  </div>
</div> -->

<script type="text/javascript">
  $(function(){
    var shop = {
      name: "<%= current_shop.name %>",
      id: "<%= current_shop.id %>",
      token: "<%= current_shop.im_token %>"
    }
    var view = new TransactionComplete()

    var orders = new ShopOrderTransactions({
      el: $(".transaction-list"),
      remote_url: "<%= shop_admins_transactions_path(current_shop) %>",
      shop: shop})
    view.register(orders)

    var directs = new ShopDirectTransactionList({
      el: $(".direct_transaction_list"),
      shop: shop,
      remote_url: "<%= shop_admins_direct_transactions_path(current_shop) %>"
    })
    view.register(directs)

    /*var refunds = new ShopOrderRefundList({
      el: $(".order_refund_list"),
      shop: shop,
      remote_url: "<%= shop_admins_order_refunds_path(current_shop) %>"
    })*/       
    // view.register(refunds)

  })
</script>