<% admin_active_section :complete %>

<div class='row-fluid'>
  <div class='span8'>
    <h2 class='page-title'>担保交易</h2>
  </div>
</div>
<div class='row-fluid'>
  <div class='span8'>
    <section class='widget'>
      <table class='table table-hover table-images complete'>
        <thead>
          <tr>
            <th>买家</th>
            <th>订单编号</th>
            <th>到货地址</th>
            <th>下单日期</th>
            <th style="min-width:45px;">操作</th>
          </tr>
        </thead>
        <tbody>
          <% if @transactions.present? %>
            <% @transactions.each do |t| %>
              <tr class="transaction_complete-<%=t.id%>">
                <td>
                  <%= image_tag t.buyer.photos.icon %>
                  <%= t.buyer.login %>
                </td>
                <td><%= t.number %></td>
                <td style="text-align:left;">
                  <%= t.address.location_without_contact %>
                </td>
                <td><%= t.created_at.strftime("%Y-%d-%m %H:%M") %></td>
                <td>
                  <a class="btn btn-info btn-small" href="/shops/<%=t.seller.name %>/admins/transactions/<%= t.id %>">明细</a>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr class="widget">
              <td colspan="5">您暂时还没有担保交易记录</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>
  </div>
</div>

<div class='row-fluid'>
  <div class='span8'>
    <h2 class='page-title'>直接交易</h2>
  </div>
</div>
<div class='row-fluid'>
  <div class='span8'>
    <section class='widget'>
      <table class='table table-images table-hover complete'>
        <thead>
          <tr>
            <th>买家</th>
            <th>编号</th>
            <th>金额</th>
            <th>下单日期</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <% if @direct_transactions.present? %>
            <% @direct_transactions.each do |t| %>
              <tr class="transaction_complete-<%=t.id%>">
                <td>
                  <%= image_tag t.buyer.photos.icon %>
                  <%= t.buyer.login %>
                </td>
                <td><%= t.number %></td>
                <td><%= t.total %></td>
                <td>
                  <%= t.created_at.strftime("%Y-%d-%m %H:%M") %>
                </td>
                <td>
                  <a class="btn btn-info btn-small" href="/shops/<%=t.seller.name %>/admins/direct_transactions/<%= t.id %>">明细</a>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr class="widget"><td colspan="5">暂无直接交易记录</td></tr>
          <% end %>
        </tbody>
      </table>
    </section>
  </div>
</div>