
<div class='title'>
  <h1>未处理</h1>
  <hr />
</div>
<table class='table table-striped table-bordered table-hover untransactions'>
  <thead>
    <tr>
      <th>买家</th>
      <th>商品数量</th>
      <th>总金额</th>
      <th>下单日期</th>
      <th>状态</th>
      <th>地址</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<div class='title'>
  <h1 >正在处理</h1>
  <hr />
</div>


<div class='transaction_list'>
  <% @transactions.each do |transaction| %>
      <%= render :partial => "transaction" ,:locals => {
          :transaction => transaction,
          state: transaction.state,
          people: current_user } %>
  <% end %>
</div>

<script type="text/javascript">
  require(['jquery', "jquery_ujs", "admins/shops/shop_transaction_card", "admins/shops/transaction_dispose", "lib/transaction_bubbling" ,"lib/hogan"], function($, _a, Transaction, TransactionDispose, TransactionBubbling){

    var transactionCard = function(elem){
      var card = new Transaction.ShopTransactionCard({
        el: elem,
        realtime: {
          url: '<%= faye_server_uri %>',
          token: '<%= token %>'
        }
      })
    }

    $(".transaction").each(function(i, elem){
      transactionCard(elem)
    });

    var dispose_view = new TransactionDispose({
      el: $("table.untransactions"),
      realtime_url: '<%= faye_server_uri %>',
      shop: {
        name: "<%=current_shop.name %>",
        id: "<%=current_shop.id %>"},
      tranOpts: {
        tran_panel: $(".transaction_list"),
        tran_card: transactionCard
      },
      template: Hogan.compile("<%=j render :partial => 'untransaction' %>")
    })

    <% @untransactions.each do |t| %>
      dispose_view.add({
        id: <%=t.id %>,
        buyer_login: "<%=t.buyer.login %>",
        items_count: "<%=t.items_count %>",
        total: "<%=t.total %>",
        created_at: "<%=t.created_at.strftime('%Y-%m-%d %H:%M:%S') %>",
        state: "<%=t.state %>",
        address: "<%=t.address.try(:location) %>",
        unmessages_count: "<%=t.unmessages.count %>"
      })
    <% end %>

    new TransactionBubbling({
      url: "http://<%=request.env['HTTP_HOST'] %>/shops/<%=current_shop.name %>/admins/pending#order"
    })
  });
</script>