<% admin_active_section :pending %>
<% if @transaction.present? %>
  <div class='card_item'>
    <%=render_base_template "header", :row => @transaction %>
  </div>
  <%= render :partial => "transaction" ,:locals => {
      :transaction => @transaction,
      state: @transaction.state,
      people: current_user } %>
  <script type="text/javascript">
    $(function(){
      var card = new ShopTransactionCard({
        el: $("#order<%= @transaction.id %>"),
        realtime: {
          url: '<%= realtime_uri %>',
          token: '<%= token %>'
        },
        shop: {
          token: "<%= current_shop.im_token %>"
        }
      });
    });
  </script>
<% else %>
  <p>订单已经不存在</p>
<% end %>