<div class="address-panel">
  <%= simple_form_for address, :url => url, :html => {:id => "address", :class => 'form-horizontal'} do |address_form| %>
    <label class="chosen optional control-label" for="address">选择省,市,县</label>
    <div class="controls">
      <div class="control-group">
        <%= address_form.input :province_id,
                     :as => :depend_select,
                     :children => :city_id,
                     :object => address,
                     :wrapper => :inline,
                     :collection => get_city %>

        <%= address_form.input :city_id,
                     :as => :depend_select,
                     :children => :area_id,
                     :target => :province,
                     :object => address,
                     :wrapper => :inline,
                     :collection_url => "/city/" %>

        <%= address_form.input :area_id,
                     :as => :depend_select,
                     :object => address,
                     :target => :city,
                     :wrapper => :inline,
                     :collection_url => "/city/" %>
        <%= address_form.error :province_id %>
      </div>
    </div>
    <%= address_form.input :road, :label => "街道"  %>
    <%= address_form.input :zip_code, :label =>"邮编" %>
    <%= address_form.input :contact_name, :label => "联系人"  %>
    <%= address_form.input :contact_phone, :label => "联系电话", hint: "手机: xxxxxxxxxxx<br />固定电话: xxxx-xxxxxxx " %>

  <% end %>
</div>