<!-- 积分 -->
<%= simple_form_for activity, wrapper: :default, :url => activities_score_index_path, :remote => true, :html => { class: 'form-horizontal' } do |f| %>
  <div class="control-group">
    <label class="control-label" for="inputProduct">产品</label>
    <div class="controls">
		<div class="input-append">
      <%= f.association :product,
                        :wrapper      => false,
                        :label        => false,
                        :collection   => Product.all %>
		  <div class="btn-group">
		    <button class="btn dropdown-toggle" data-toggle="dropdown">
		      选择
		      <span class="caret"></span>
		    </button>
<!-- 		    <ul class="dropdown-menu">
		      ...
		    </ul>
 -->		  </div>
		</div>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputPrice">图片</label>
    <div class="controls">
		<img data-src="holder.js/140x140" class="img-rounded" alt="140x140" style="width: 140px; height: 140px;" src="">
		<img data-src="holder.js/140x140" class="img-rounded" alt="140x140" style="width: 140px; height: 140px;" src="">
		<img data-src="holder.js/140x140" class="img-rounded" alt="140x140" style="width: 140px; height: 140px;" src="">
    </div>
  </div>

  <div class="control-group">
    <%= f.input :price, :wrapper => :bootstrap %>
  </div>

  <div class="control-group" >
    <label class="control-label" for="inputGiveScore">回赠积分</label>
    <div class="controls controls-row" >
      <%= f.input :give_score, :wrapper => false, :label => false, :input_html => { class: :span2 } %>
      <label class="control-label span2" for="inputUseScore">可抵用积分</label>
      <%= f.input :limit_score,
                  :wrapper => false,
                  :label => false,
                  :input_html => { :class => :span2 } %>

      <!-- <input class="span2" name="inputScore" placeholder="可抵用积分" type="text"> -->
    </div>
  </div>

  <div class="control-group" >
    <label class="control-label" for="inputStartTime">起始时间</label>
    <div class="controls controls-row">
      <%= f.input :start_time,
                  :as         => :string,
                  :wrapper    => false,
                  :label      => false,
                  :input_html => { class: :span2 } %>

      <label class="control-label span2" for="inputEndTime">结束时间</label>
      <%= f.input :end_time,
                  :as         => :string,
                  :wrapper    => false,
                  :label      => false,
                  :input_html => { class: :span2 } %>
    </div>
  </div>
<% end %>