<% active_section :ask_buy %>

<div class='row-fluid'>
  <div class='span8 widget'>
    <table class='table table-striped ask_buies'>
      <thead>
        <tr>
          <th>标题</th>
          <th>单价</th>
          <th>数量</th>
          <th>状态</th>
          <th>描述</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% @ask_buy.each do |a| %>
        <tr class='ask_buy' ask-buy-id="<%=a.id %>">
          <td><%=a.title %></td>
          <td><%=a.price %></td>
          <td><%=a.amount %></td>
          <td><%=a.status %></td>
          <td><%=a.describe %></td>
          <td>
            <a href="javascript:void(0)" class='preview'>
              查看
            </a>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class='span5'>
  </div>
</div>
<script type='text/javascript'>
$(function(){
  new AskBuyPreview({
    el: $("table.ask_buies>tbody"),
    login: '<%= current_user.login %>'
  })
})
</script>