<tr <%= tr_category_attributes(@shops_category) %> >
	<td>
		<%= category_name_field @shops_category %>
	</td>
	<td></td>
	<td></td>
	<td>
		<%= category_util_field @shops_category %>
	</td>
	<td class="hide">
		<%= render :partial => "form", :object => @shops_category %>
	</td>
</tr>

<%= register_javascript :ajax_category_editor, :only => :ajax do %>
<script type="text/javascript">
	var target = $("tr#<%= @shops_category.id %>")
	var model = new CategoryModel(<%=raw @shops_category.to_json %>);
	model.set("id", model.get("_id"));
	new CategoryRow({el: target, model: model });
</script>
<% end %>