<div class='transaction_dialog_panel'>
  <div class="toolbar">
  </div>
  <div class="message_panel">
    <div class='message-list'>
      <div class="messages">
        正在加载...
      </div>
      <div class='foot-line'></div>
    </div>
  </div>
  <div class='foot row-fluid'>
    <form class="message-form">
      <input type='hidden' name='authenticity_token' value="<%= form_authenticity_token %>" />
      <textarea rows=3 class="span12 textarea-message" name='content' placehold='输入你的信息'></textarea>
      <div class='message_send'>
        <input type='submit' value='提交' class='btn btn-primary disabled' />
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
  var template = Hogan.compile("<%=j render :partial => 'transactions/message' %>")

  new TransactionMessageView({
    el: $(".transaction_dialog_panel"),
    remote_url: "<%=transaction_message_url %>",
    template: template,
    current_user: {
      id: <%=current_user.id %>,
      token: "<%=current_user.im_token %>",
      login: "<%=current_user.login %>"
    },
    faye_url: "<%=faye_server_uri %>",
    tansaction_id: <%=transaction.id %>,
    shop: {
      id: "<%=transaction.seller.id %>",
      name: "<%=transaction.seller.name %>"
    }
  })
</script>