<div class='activities_panel'>
  <div id="activities">
  </div>
  <div class='scroll-load-msg'>
    <img alt="正在加载..." src='/assets/loading_max.gif' />正在加载...
  </div>
</div>

<script type="text/template" id="product-preview-template">
  <%=render "activities/products/preview_template" %>
</script>

<script type="text/template" id="shop-product-preview-template">
  <%=render "shop_products/preview_template" %>
</script>

<script type="text/template" id="auction-preview-template">
  <%=render "activities/auction/preview_template" %>
</script>

<script type="text/template" id="focus-preview-template">
  <%=render "activities/focus/preview_template" %>
</script>

<script type="text/template" id="ask_buy-preview-template">
  <%=render "ask_buy/preview_template" %>
</script>

<script type='text/template' id="user_template">
  <%=render "users/template" %>
</script>

<script type='text/template' id="shop_template">
  <%=render "shops/template" %>
</script>

<script type="text/template" id='circle_template'>
  <%=render "circles/template" %>
</script>

