<% side_nav_for 'fiery' %>
<div id="main" class="content">
	<section class="widget">
		<div class="body">
			<ul id="activity-category" class="nav nav-tabs activity-category" >
				<li class="active">
					<a href='#' ><%=icon 'eye-open' %> </a>
				</li>
				<% product_categories.each do |c| %>
				<li>
					<a href="<%= category_path(c) %>"><%=c.name %></a>
				</li>
				<% end %>
			</ul>
		</div>
	</section>
	<div class='activities_panel'>
		<div id="activities">
		</div>
		<div class='load_msg'>
			<img src='/assets/loading_max.gif' />正在加载...
		</div>
	</div>
</div>

<script type="text/template" id="product-preview-template">
	<%= render "activities/products/preview_template" %>
</script>

<script type="text/template" id="auction-preview-template">
	<%= render "activities/auction/preview_template" %>
</script>

<script type="text/javascript">
	$(function(){
		new ActivitiesView({
			el: '#activities',
			wrap_id: "activities"
		})
		new LoadActivities({
			el: $('.activities_panel')
		})
	})
</script>
