<% side_nav_for 'fiery' %>
<div id="main" class="content">
  <div class="widget">
    <div class="body-category">
      <ul id="activity-category" class="nav nav-tabs activity-category" >
        <li class='active'>
          <a href='/' >
            <%=icon 'eye-open' %>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <%= render :partial => "activities/template" %>
</div>
<script type="text/javascript">
  $(function(){
    topbar.start();
    
    new ActivityLayoutView({
      el: '#activities'
    })

    new ActivityPreview({
      el: $("#activities"),
      login: '<%= current_user.login %>'
    })

    new AskBuyPreview({
      el: $("#activities"),
      login: '<%= current_user.login %>'
    })

    new ShopProductPreview({
      el: $("#activities")
    })

    new ProductPreview({
      el: $("#activities")
    })

    new CirclePreview({
      el: $("#activities"),
      login: '<%= current_user.login %>'
    })

    var load_view = new LoadActivities({
      el: $('.activities_panel')
    });
    load_view.fetch();

    new CatalogViewList({
      el: $("#activity-category"),
      search: function(data){
        data.search_type = "activities";
        $(window).trigger("reset_search", data);
      }
    })
  })
</script>


