<table class = 'index_table' >
	<thead>
		<tr>
			<th>名称</th>
			<th>标题</th>
			<th>取值类型</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		<% properties.each do |property| %>
			<tr>
				<td> <%= property.name %> </td>
				<td> <%= property.title %> </td>
				<td> <%= property.property_type %></td>
				<td>
					<%#= form_for property, url: delete_relation_system_category_path(category) do |f| %>
						<%#= f.hidden_field :id %>
						<%#= f.submit '删除'%>
					<%# end %>
					<span>
						<%= link_to "详细", system_property_path(property) %>
					</span>
					<span style='margin-left:20px;'>
						<%= link_to "属性项", items_system_property_path(property) %>
					</span>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>