<table class="index_table index">
	<tr>
		<th>热推分类名</th>
		<th>挂载分类名</th>
		<th>创建时间</th>
		<th>操作</th>
	</tr>
	<% @catalogs.each do |catalog| %>
		<tr id="<%= catalog.id %>">
			<td class="title"><%= catalog.title %></td>
			<td class-="category"><%= catalog.categories.map { |c| c.name } %></td>
			<td class="time"><%= catalog.created_at %></td>
			<td>
				<a href="#" class="delete_catalog">删除</a>
			</td>
		</tr>
	<% end %>
</table>

<br/>
<script type="text/javascript">
	$(function() {
		$(".delete_catalog").bind("click",function(event){
		    tr = event.target.parentElement.parentElement;
		    id = $(tr).attr("id");
		    $.ajax({
		        type: "delete",
		        url: "/system/categories/catalog_delete?id="+id,
		        dataType: "json",
		        success: function(){
		          tr.remove()
		        } 
		    })
		})
	})
</script>
<%= render "new_hot" %>