<style type="text/css">
	body.active_admin ul {
		list-style: none;
	}
</style>

<table class="index_table index">
	<tr>
		<th>栏目名</th>
		<th>包含的分类</th>
		<th>创建时间</th>
		<th>操作</th>
	</tr>
	<% @catalogs.each do |catalog| %>
		<tr id="<%= catalog.id %>">
			<td class="title"><%= catalog.title %></td>
			<td class="category"><%= catalog.categories.map { |c| c.name } %></td>
			<td class="time"><%= catalog.created_at %></td>
			<td>
				<a href="#" class="delete_catalog">删除</a>
			</td>
		</tr>
	<% end %>
</table>

<div class="category_sidebar">
	<%= render :partial => "tree", :locals => { :root => Category.root } %>
</div>

<%= render "new_hot" %>

<script type="text/javascript">
	$(function() {
		$(".delete_catalog").bind("click",function(event){
			tr = event.target.parentElement.parentElement;
			id = $(tr).attr("id");
			$.ajax({
					type: "delete",
					url: "/system/categories/catalog_delete?id="+id,
					dataType: "json",
					success: function(){
						tr.remove()
					} 
			})
		})
	})
</script>
