<% last = @category.children.last %>

<% @category.children.each do |c| %>
  <% class_name, hitarea_name = tree_cls_name(c, last) %>
  <li class='<%=class_name %>' data-value-id="<%= c.id %>" data-value-name="<%= c.name %>">
    <% if hitarea_name.present? %>
      <div class="hitarea <%=hitarea_name %>">
      </div>
    <% end %>
    <input type="checkbox" name="check_category">
    <span><%= c.name %></span>

    <% if c.children.length > 0 %>
      <% last_ch = c.children.last %>
      <ul style='display:none;'>
        <% c.children.each do |ch| %>
          <% class_name, hitarea_name = tree_cls_name(ch, last_ch) %>
          <li class='<%=class_name %>' data-value-id="<%=ch.id %>" data-value-name="<%= ch.name %>">
            <% if hitarea_name.present? %>
              <div class="hitarea <%=hitarea_name %>">
              </div>
            <% end %>
            <input type="checkbox" name="check_category">
            <span><%= ch.name %></span>

            <% if ch.children.length > 0 %>
              <ul style='display:none;'></ul>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </li>
<% end %>