<% last = @category.children.last %>
<% @category.children.each do |c| %>
  <% class_name, hitarea_name = tree_cls_name(c, last) %>
  <li class='<%=class_name %>' data-value-id="<%=c.id %>">
    <% if hitarea_name.present? %>
    <div class="hitarea <%=hitarea_name %>"></div>
    <% end %>
    <span><%=c.name %></span>
    <% if c.children.length > 0 %>
      <% last_ch = c.children.last  %>
      <ul style='display:none;'>
        <% c.children.each do |ch| %>
          <% class_name, hitarea_name = tree_cls_name(ch, last_ch) %>
          <li class='<%=class_name %>' data-value-id="<%=ch.id %>">
            <% if hitarea_name.present? %>
            <div class="hitarea <%=hitarea_name %>"></div>
            <% end %>
            <span><%=ch.name %></span>
            <% if ch.children.length > 0 %>
            <ul style='display:none;'></ul>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </li>
<% end %>
<script type='text/javascript'>
  $(document).ready(function(){
    //var tbody = $("table#categories").find(">tbody")
    //tbody.find(">tr").remove();
    <% @category.children.each do |c| %>
      // var strHtml = "<tr><td><%=c.id %></td><td><%=c.name %></td><td><%=c.ancestry %></td><td><%=c.created_at %></td><td><a href='/system/categories/<%=c.id %>/properties'><%=c.properties.size %>个属性</a></td><td><a href='/system/categories/<%=c.id %>'>查看</a><a href='/system/categories/<%=c.id %>/edit'>编辑</a><link_to '删除', system_category_path(c) ></td></tr>"

      // tbody.append(strHtml)
    <% end %>
  })
</script>
