<% @category.children.each do |c| %>
<tr id='category<%=c.id %>'>
  <td><%=c.id %></td>
  <td><%=c.name %></td>
  <td><%=c.ancestry %></td>
  <td><%=c.created_at %></td>
  <td><%=link_to "#{c.properties.size}个属性", properties_system_category_path(c)%></td>
  <td>
    <%=link_to "查看", system_category_path(c) %>
    <%=link_to "编辑", edit_system_category_path(c) %>
    <%=link_to "删除", system_category_path(c), confirm: "是否确认删除？", method: "delete" %>
  </td>
</tr>
<% end %>

<script type="text/javascript">
  $(function(){
    $(".pagination").hide();
    var label = "共有 <b><%=Category.count %></b> 分类, 当前显示<b><%=@category.children.count %></b>条"
    $(".pagination_information").html(label)
  })
</script>