<% buyer = transaction.buyer %>
<div id="order<%=transaction.id %>" class="transaction transaction-<%=transaction.id %>-<%= transaction.state %>"
   state-id="<%= transaction.id %>"
   state-initial="<%= transaction.state %>"
   state-title="<%= transaction.seller_state_title %>"
   state-url="<%= card_shop_admins_transaction_path(current_shop, transaction) %>"
   state-event-url= "<%= trigger_event_shop_admins_transaction_path(current_shop, transaction) %>"
   url-root="<%=shop_admins_transaction_path(current_shop, transaction)  %>"
   data-token="<%= @transaction.temporary_channel.try(:token) %>"
   >
  <div class="transaction-header">
    <div class="avatar">
      <%= image_tag buyer.photos.header, :class => 'img-polaroid' %>
    </div>
    <div class="container-fluid info-header">
      <div class="page-header">
        <div class="trasaction-title">
          <div class="name">
            <%= buyer.login %>
          </div>
        </div>
        <div class="transaction-address">
          <%=render_base_template "address", :transaction => transaction  %>
        </div>     
      </div>
    </div>
  </div>
  <div class="transaction-body">
    <%= render transaction.state, transaction: transaction %>
    <div class='transaction-actions'>
      <%= render "state_buttons", :transaction => transaction %>
    </div>
  </div>
</div>