<div class='card_item_header'>
  <ul class='order_header'>
    <li class='actions'>
      <ul>
        <%=render :partial => "transactions/operator", :locals =>{ operator: row.current_operator } %>   
        <li >          
          <a href="javascript:void(0)" class='btn btn-primary btn-mini open operator'>
            <%= icon :open %>
            打开</a>
        </li>
        <li>
          <% unless row.operator_state %>
          <a href='javascript:void(0)' class='btn btn-primary btn-mini dispose'>
            接单
          </a>
          <% end %>
        </li>
        <li class='state'>
          <div class='state-label label label-success'>
            <%= seller_state(row.state) %>
          </div>
        </li>

        <li class='time'>
          <%= icon :time %><%=I18n.l row.created_at, :format => :short %>
        </li>
      </ul>
    </li>
    <li class='title'>
      订单: <%= row.number %>
    </li>
  </ul>
</div>