<div class="connect-<%=refund.id %> connect">
  <p>请联系万流客服：<%=Settings.service_phone %></p>
</div>

<div class="container-fluid">
  <div class='row-fluid'>
    <div class='span2'>拒绝理由</div>
    <div class='span10'>
      <%= refund.refuse_reason %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span2">
      运输方式
    </div>
    <div class="span4">
      <%= refund.transport_type %>
    </div>
  </div>
  <div class='row-fluid'>
    <div class="span2">
      退货原因
    </div>
    <div class="span4">
      <%= refund.order_reason.name %>
    </div>
    <div class="span2">
      退运费
    </div>
    <div class="span4">
      <%=render "edit_delivery_price", :refund => refund %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span2">
      退货说明
    </div>
    <div class="span10">
      <%= refund.decription %>
    </div>
  </div>
  <%=render "products", :refund => refund %>
</div>

