<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      运输方式
    </div>
    <div class="span4">
      <%= refund.transport_type %>
    </div>
    <div class='span2'>物流编号</div>
    <div class='span4'>
      <%= refund.delivery_code %>
    </div>
  </div>
  <div class='row-fluid'>
    <div class="span2">
      退货原因
    </div>
    <div class="span4">
      <%= refund.order_reason.name %>
    </div>
    <div class="span2">
      退运费
    </div>
    <div class="span4">
      <%=render "edit_delivery_price", :refund => refund %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span2">
      退货说明
    </div>
    <div class="span10">
      <%= refund.decription %>
    </div>
  </div>
  <%=render "products", :refund => refund %>
</div>
