<nav id='community-sidebar' class="sidebar nav nav-collapse collapse affix-top" >
  <div class='avatar'>
    <a href="<%= person_path(@people) %>">
    <%= image_tag @circle.photos.avatar %>
    </a>
  </div>
  <h4 class='title'><%= @circle.name %></h4>
  <ul id="community-side-nav" class="side-nav">
    <li class='accordion-group active'>
      <a class="accordion-toggle" href="#">
        所有信息
      </a>
    </li>
    <li class='accordion-group'>
      <a class="accordion-toggle" href="#info-collapse">
        <span class="name">讨论</span>
      </a>
    </li>
    <li>
      <a class="people-cart" href="<%=person_cart_index_path(@people.login) %>">
        <span class="name">分享</span>
      </a>
    </li>
    <li>
      <a class="people-cart" href="<%=person_cart_index_path(@people.login) %>">
        <span class="name">扯淡</span>
      </a>
    </li>
    <li>
      <a class="people-cart" href="<%=person_cart_index_path(@people.login) %>">
        <span class="name">活动</span>
      </a>
    </li>
  </ul>
  <hr />
  <div class='friends'>
    <div>
      <span class='member'>
        成员 (<%=@circle.friend_count %> 人)
      </span>
      <span class='all_member'>
        <a href='#'>所有成员</a>
      </span>
    </div>
    <div class='top_member'>
      <ul class='member'>
        <% @circle.friends.each do |f| %>
          <li>
            <img class='photo' src="<%=f.photos.icon %>" />
            <% if f.manage? %>
            <a href='javascript:void(0)' data-toggle="tooltip" data-placement="bottom" title="" data-original-title="管理员" class='tag'>
              <img src="/assets/tag.png" />
            </a>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>