<nav id='community-sidebar' class="sidebar nav nav-collapse collapse affix-top" >
  <div class='head-avatar'>
    <a href="<%= community_circles_path(@circle) %>">
    <%= image_tag @circle.photos.avatar, :class => 'img-polaroid' %>
    </a>
  </div>
  <h4 class='title'>
    <a href="<%= community_circles_path(@circle) %>">
      <%= @circle.name %>
    </a>
  </h4>
  <ul id="community-side-nav" class="side-nav community_category">
    <li class='category_ active'>
      <a class="accordion-toggle" href="<%= community_circles_path(@circle) %>">
        所有信息
      </a>
    </li>
    <% @circle.categories.each do |c| %>
    <li class='category_<%=c.id %>'>
      <a class="circle-category-<%=c.id %>"  href="<%=community_category_path(@circle, c) %>">
      <%=c.name %>
      </a>
    </li>
    <% end %>
  </ul>
  <% if @circle.is_manage?(current_user.id) %>
    <div class='row-fluid create_category'>
      <a class="add_category pull-right" href="javascript:void(0)" data-toggle="tooltip" data-placement="top" data-original-title="添加分类">
        <i class=" icon-plus"></i>
      </a>
    </div>
  <% end %>
  <hr />
  <div class='friends row-fluid'>
    <div>
      <span class='member'>
        成员 (<%=@circle.friend_count %>人)
      </span>
      <span class='all_member'>
        <a href='/communities/<%=@circle.id %>/circles/members'>所有成员</a>
      </span>
    </div>
    <div class='top_member clearfix'>
      <ul class='member'>
        <% @circle.top_friends.each do |f| %>
          <li>
            <img class='photo' src="<%=f.photos.icon %>" />
            <% if f.manage? %>
            <a href='javascript:void(0)' data-toggle="tooltip" data-placement="bottom" title="" data-original-title="管理员" class='tag'>
              <img src="/assets/tag.png" />
            </a>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <% if @circle.city.present?  %>
    <div class='address'>
      <i class='icon-map-marker'></i>
      <%= @circle.address %>
    </div>
  <% end %>
</nav>

<script type="text/javascript">
  $(function() {
    new CircleCategory({
      el: $("#community-sidebar"),
      circle_id: "<%=@circle.id %>"
    })

    $("#community-side-nav>li").removeClass("active")
    $("#community-side-nav>li.category_<%=  yield(:side_active) %>").addClass("active")
  })
</script>
