<nav id='people-sidebar' class="sidebar nav nav-collapse collapse affix-top" >
  <div class='head-avatar'>
    <a href="<%= person_path(@people) %>">
    <%= image_tag @people.photos.avatar, :class => "img-polaroid" %>
    </a>
    <h4><%= @people.login %></h4>
  </div>

  <ul id="people-side-nav" class="side-nav">
    <li class='accordion-group'>
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#people-side-nav" href="#info-collapse">
        <i class="icon-user"></i>
        <span class="name">账户管理</span>
      </a>
      <ul id="info-collapse" class="accordion-body collapse">        
        <li>
        <a class='people-person_info' href="<%=person_path(@people.login) %>">
          基本资料
        </a>
        </li>
        <% if can? :manage, User %>
          <li>
            <a class='people-notification' href="<%=person_notifications_path(@people.login) %>">通知中心</a>
          </li>
          <li>
            <a class='people-bank' href="<%= person_banks_path(@people) %>">银行卡</a>
          </li>        
          <li>
            <a class='people-delivery_addresses' href='<%= person_delivery_addresses_path(@people.login) %>'>
              收货地址
            </a>
          </li>

          <% unless @people.is_seller? || @people.belongs_shop %>
            <li>
              <a class='people-create_shop' href="/completing_shop/authenticate_license">
                我要开店
              </a>
            </li>
          <% else %>
            <% if @people.shop  && @people.shop.actived == false %>
              <li><a href="#">商店审核中..</a></li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </li>
    <% if can? :manage, User %>
      <li>
        <a class="people-cart" href="<%=person_cart_index_path(@people.login) %>">
          <i class="icon-shopping-cart"></i>
          <span class="name">购物车</span>
        </a>
      </li>
    <% end %>
    <% if can? :index, OrderTransaction %>
      <li class="accordion-group">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#people-side-nav" href="#purchaser-collapse">
          <i class="icon-edit"></i>
          <span class="name">订单管理</span>
        </a>
        <ul id="purchaser-collapse" class="accordion-body collapse">
          <li>
            <a class="people-transaction" href="<%= person_transactions_path(@people.login) %>">
              担保交易
            </a>
          </li>
          <li>
            <a class="people-direct_transaction" href="<%= person_direct_transactions_path(@people.login) %>">
              直接交易
            </a>
          </li>
          <li>
            <a class='people-completed' href='<%= completed_person_transactions_path(@people.login) %>'>完成的
            </a>
          </li>
          <li>
            <a class='people-refunds' href='<%= person_order_refunds_path(@people.login) %>'>退&nbsp;&nbsp;货
            </a>
          </li>
        </ul>
      </li>
    <% end %>
    <% if can? :manage, User %>
    <li class='accordion-group'>
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#people-side-nav" href="#activity-collapse">
        <i class="icon-calendar"></i>
        <span class="name">活动</span>
      </a>
     <ul id="activity-collapse" class="accordion-body collapse">
      <li>
        <a class='people-activity_likes' href="/people/<%=@people.login %>/activities/likes">
          喜欢的活动
        </a>
      </li>
      <li>
        <a class='people-my_activity' href="/people/<%=@people.login %>/my_activity">参与的活动</a>
      </li>
      <!-- <li><a href="expired">往期活动</a></li> -->
      <li>
        <a class='people-ask_buy' href="<%=person_ask_buy_index_path(@people.login) %>">我的求购</a>
      </li>
     </ul>
    </li>

    <li class='accordion-group'>
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#people-side-nav" href="#soical-collapse"><i class="icon-group"></i> <span class="name">社区</span></a>
      <ul id="soical-collapse" class="accordion-body collapse">
        <li>
          <a class='people-communities' href="<%=person_communities_path(@people.login) %>">个人商圈
          </a>
        </li>
        <li>
          <a class='people-following' href="<%=person_followings_path(@people.login) %>">我关注的
          </a>
        </li>
        <li>
          <a class='people-followers' href="<%=person_followers_path(@people.login) %>">关注我的
          </a>
        </li>
        <% if can? :manage, User %>
        <li>
          <a class='people-product-comment' href="<%=person_product_comments_path(@people.login) %>">商品评论</a>
        </li>
        <% end %>
      </ul>
    </li>
    <% end %>
  </ul>

  <div class='row-fluid'>
    <% if can? :manage, User %>
    <div class='span6 followers'>
      <div class='count'>
        <a href='/people/<%=@people.login %>/followers'>
          <%= @people.followers.length %>
        </a>
      </div>
      <div class='title'>
        <a href='/people/<%=@people.login %>/followers'>
          关注我
        </a>
      </div>
    </div>
    <div class='span6 followings'>
      <div class='count'>
        <a href='/people/<%=@people.login %>/followings'>
        <%= @people.followings.length %>
        </a>
      </div>
      <div class='title'>
        <a href='/people/<%=@people.login %>/followings'>
        我关注
        </a>
      </div>
    </div>
    <% end %>
  </div>
</nav>