<section class="right-sidebar widget widget-tabs">
</section>

<!-- js模板 -->
<div id="right-sidebar-templates" style='display: none;'>
	<div class="main">
		<header>
			<ul class="nav nav-tabs">
			</ul>
			<div id="sidebar-settings" class="settings">
				<button type="button" data-value="icons" class="btn-icons btn btn-transparent btn-small">Icons</button>
				<button type="button" data-value="auto" class="btn-auto btn btn-transparent btn-small">Auto</button>
			</div>
		</header>
		<div class="body tab-content">
		</div>
	</div>

	<div class="container">
			<ul class="notices-list users-list">
			</ul>
	</div>

	<div class='sign-item'>
		<%#= image_tag current_user.icon, :class => "pull-left img-circle" %>
		<div class="user-info">
			<div class="name"><a href="#">Finees Lund</a></div>
			<div class="position">Product Designer</div>
			<div class="time">Last logged-in: Mar 20, 18:46</div>
		</div>
	</div>

	<div class='activity-item'>
		<% unless Activity.first.blank? %>
		<%= image_tag Activity.first.photos.avatar,:class => "pull-left img-circle" %>
		<div class="user-info">
			<div class="name"><a href="#"><%= Activity.first.title %></a></div>
			<div class="position">Activity</div>
			<div class="time"><%= Activity.first.updated_at %></div>
		</div>
		<% end %>
	</div>
</div>

<script type="text/javascript">
		window.right_sidebar = window.right_sidebar || new RightSideBar({el: ".right-sidebar"});

		var transaction_message_view = {
			top : {klass: "icon-edit", tool_tip: "交易消息" },
			container_view: TransactionView.extend({
				realtime_url: '<%= faye_server_uri %>',
				token: '<%= current_user.im_token %>',
				current_user_login: '<%= current_user.login %>'
			}),
		};
		right_sidebar.register(transaction_message_view);

	var friends_message_view = {
		top : {klass: "icon-group", tool_tip: "show messages" },
		container_view : FriendsContainerView.extend({
			faye_url: "<%= faye_server_uri %>",
			token: "<%= current_user.im_token %>"
		})
	};
	right_sidebar.register(friends_message_view);
</script>
