<div class="set_location" data-spy="affix" data-offset-top="20">

	<%= simple_form_for @address, :url => "/", :html => {:class => 'form-horizontal set_location_form'} do |address_form| %>
		<label class="chosen optional control-label" for="circle_address">
			<span><%= @city.try(:name) %>
				<% unless @region.try(:name).blank? %>
					(<%= @region.try(:name) %>)
				<% end %> 
			</span>
			&nbsp;
			<span class="change_area">切换地区</span>
		</label>
		<div class="controls controls-row hide">
			<div class="control-group">
				<%= address_form.input :province_id,
							 :as => :depend_select,
							 :children => :city_id,
							 :wrapper => :inline,
							 :object => @address,
							 :collection => get_city %>

				<%= address_form.input :city_id,
							 :as => :depend_select,
							 :children => :area_id,
							 :target => :province,
							 :wrapper => :inline,
							 :object => @address,
							 :collection_url => "/city/" %>

				<%= address_form.input :area_id,
							 :as => :depend_select,
							 :target => :city,
							 :wrapper => :inline,
							 :object => @address,
							 :collection_url => "/city/" %>
			</div>
		</div>
	<% end %>
</div>

<script type="text/javascript">
	$(function(){
		$(".navbar #search-form").hide()
		$(".set_location .change_area").bind("click", function(){
			$(".set_location .controls").toggle()
		})
		$("#address_area_id").bind("change", function(){
			if($(this).val().trim() != ""){
				$selected = $(this).find("option:selected")
				window.location.href = "/cities/"+$selected.val()+"/communities"
			}
		})
	})
</script>
