<ul class='nav'>
	<li><%= link_to_notice %></li>
	<li><%= image_tag current_user.icon, :class => "user_icon" %></li>
	<li><%= link_to_account %></li>
	<li><%= link_to_admin %></li>
	<li><%= link_to_logout %></li>
</ul>