<ul id='topbar' class="nav pull-right">
    <form id="search-form" class="navbar-search">
        <input type="search" class="search-query" placeholder="搜索...">
    </form> 
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="icon-plus"></i>&nbsp;发布</a>
      <ul class="dropdown-menu publish">
        <% if current_user.is_seller? && current_user.shop.try(:actived?) %>
        <li>
            <a href="/activities/new.dialog" class="create_active" data-toggle="modal" data-target="#active_dialog">优惠活动</a>
        </li>
        <% end %>
        <li><a href="#" class="create_buy">求购信息</a></li>
      </ul>
    </li>

    <!--购物车信息-->
    <li class="dropdown shoppingcart">
        <a href="#" title="cart" id="cart" class="dropdown-toggle" data-toggle="dropdown">
             <i class="icon-shopping-cart handle"></i> 
            <span id="shop_count" class="badge badge-important">0</span>
        </a>
         <ul id="shopping-cart" class="dropdown-menu support" role="menu">
            <li role="presentation">
                <div class="details">
                    <%= render_widget :my_cart %>
                </div>
            </li>
        </ul> 
    </li>

    <!--商店入口-->
    <% if current_user.is_seller? && current_user.shop.try(:name) && current_user.shop.actived? %>
        <li class="dropdown">
            <a href="/shops/<%= current_user.shop.name %>/admins">
                <i class="icon-building handle"></i>
            </a>
        </li>
    <% end %>

    <!-- 聊天信息 -->
    <li class="dropdown">
        <a href="#" title="Messages" id="messages" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-comments"></i>
        </a>
        <ul id="messages-menu" class="dropdown-menu messages" role="menu">
            <li role="presentation">
                <a href="#" class="text-align-center see-all">
                    See all messages <i class="icon-arrow-right"></i>
                </a>
            </li>
        </ul>
    </li>
    <!-- 通知信息 -->
    <li class="dropdown">
        <%= link_to_notice %>
        <ul id="support-menu" class="dropdown-menu support" role="menu">
            <li role="presentation">
                <a href="#" class="support-ticket">
                    <div class="picture">
                        <span class="label label-important"><i class="icon-bell-alt"></i></span>
                    </div>
                    <div class="details">
                        Check out this awesome ticket
                    </div>
                </a>
            </li>

            <li role="presentation">
                <a href="#" class="support-ticket">
                    <div class="picture">
                        <span class="label label-warning"><i class="icon-question-sign"></i></span>
                    </div>
                    <div class="details">
                        "What is the best way to get ...
                    </div>
                </a>
            </li>
            <li role="presentation">
                <a href="#" class="support-ticket">
                    <div class="picture">
                        <span class="label label-success"><i class="icon-tag"></i></span>
                    </div>
                    <div class="details">
                        This is just a simple notification
                    </div>
                </a>
            </li>
            <li role="presentation">
                <a href="#" class="support-ticket">
                    <div class="picture">
                        <span class="label label-info"><i class="icon-info-sign"></i></span>
                    </div>
                    <div class="details">
                        12 new orders has arrived today
                    </div>
                </a>
            </li>
            <li role="presentation">
                <a href="#" class="support-ticket">
                    <div class="picture">
                        <span class="label label-important"><i class="icon-plus"></i></span>
                    </div>
                    <div class="details">
                        One more thing that just happened
                    </div>
                </a>
            </li>
            <li role="presentation">
                <a href="#" class="text-align-center see-all">
                    See all tickets <i class="icon-arrow-right"></i>
                </a>
            </li>
        </ul>
    </li>
    <li class="divider"></li>
    <li><%= link_to_admin %></li>
<!--     <li class="hidden-phone">
        <a href="#" id="settings" title="" data-toggle="popover" data-placement="bottom" data-original-title="Settings">
            <i class="icon-cog"></i>
        </a>
    </li>
 -->    <!-- 帐号信息 -->
    <li class="hidden-phone dropdown">
        <a href="#" title="Account" id="account" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-user"></i>
        </a>
        <ul id="account-menu" class="dropdown-menu account" role="menu">
            <li role="presentation" class="account-picture">
                <%= account_info %>
            </li>
            <li role="presentation">
                <%= link_to_account %>
            </li>
            <li><%= link_to_logout %></li>    
         </ul>
    </li>
    <li class="visible-phone">
        <a href="#" class="btn-navbar" data-toggle="collapse" data-target=".sidebar" title="">
            <i class="icon-reorder"></i>
        </a>
    </li>
    <li role="presentation">
        <a href="component_calendar.html" class="link friends">
            <i class="icon-resize-horizontal "></i>
        </a>
    </li>    
    <!-- <li class="hidden-phone"><a href="login.html"><i class="icon-signout"></i></a></li> -->
</ul>
<%= javascript_include_tag "my_cart" %>

<script type="text/javascript">
  var topbar = new TopBar({el: "#topbar"});
  // var pb = new PublishButton({el: ".publish_button"})
</script>