<div class=' widget circles'>
  <h3><%= @city %>商圈</h3>
  <hr />
  <div class ="wrapper row-fluid circles-list">
    <% @circles.each do |circle| %>
      <div class='businiess_community span3' id="<%= circle.id %>">
        <div class="head_img">
          <a href="/shops/<%= circle.owner.name %>">
            <img src="<%= circle.owner.photos.icon %>" class="user_icon"/>
          </a>
        </div>
        <div  class="circle_detail">
          <div class ="circle_name">
            <a href ="#"><%=circle.name %></a>
          </div>
          <div class="create_name">
            <span><i class="icon-user"></i></span>
            <a href="/people/<%= circle.owner.try(:user).try(:login) %>">
              <%= circle.owner.user.login %>
            </a>
          </div>
          <div class="join">
            <span class="label label-important circle_count"><%=circle.friend_count %></span>
            <% if current_user.shop != circle.owner  %>
              <% if circle.already_has?(current_user.id) %>
                <span data-value-id="<%=circle.id %>" class="label label-warning">已加入</span>
              <% else %>
                  <a href="#" data-value-id="<%=circle.id %>" class="label label-warning add_circle">加入该商圈</a>
              <% end %>
            <% else %>
              <span data-value-id="<%=circle.id %>" class="label label-warning">你是群主</span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  $(function() {
    new ApplyJoinCircleList({
      el: $(".circles-list"),
      current_user_login: '<%= current_user.login %>'
    })
  })
  $(function() {
    new ApplyJoinCircleList({
      el: $(".circles-list"),
      current_user_login: '<%= current_user.login %>'
    })
    $(".businiess_community").bind("mouseenter",function(){
      $(this).find(".popover").css("display","block");
    })
    $(".businiess_community").bind("mouseleave",function(){
      $(this).find(".popover").css("display","none");
    })
  })
</script>