<div class='widget circles'>
  <div class="title row-fluid">
    <div class="span4">
      <span style="font-size:25px;font-weight:bold;"><%= @city.try(:name) %>商圈</span>
    </div>
    <div class="span8"> <%= render "find_circles" %></div>
  </div>
 
  <div class='alert hide find_circle_tip'>
    没有找到符合要求的本地商圈
  </div>

  <div class ="info-wrapper wrapper row-fluid circles-list">
    <% if @circles.length > 0 %>
      <% @circles.each do |circle| %>
        <div class='businiess_community span3 circle_info' id="<%= circle.id %>">
          <div class="head_img">
            <a href="/communities/<%=circle.id %>/circles">
              <img src="<%= circle.photos.avatar %>" class="circle_icon" alt="头像"/>
            </a>
          </div>
          <div  class="circle_detail">
            <div class ="circle_name">
              <a href="/communities/<%=circle.id %>/circles"><%=circle.name %></a>
            </div>

            <div class="row-fluid">
              <div class="friends_count span7">
                <span class="circle_count"><%=circle.friend_count %> 个成员</span>
              </div>

              <div class="create_name span5">
                <span><i class="icon-user"></i></span>
                <a href="/shops/<%=circle.shop_name %>">
                  <%=circle.shop_name %>
                </a>
              </div>
            </div>
            
            <div class="row-fluid">
              <div class="friends_icons span9">
                <% @friends.each do |friend| %>
                    <% if friend.circle_id == circle.id %>
                      <img src="<%=friend.photos.icon %>" alt="头像"/>
                    <% end %>
                <% end %>
              </div>
              <div class="join span3 pull-right">
                <% if current_user.shop != circle.owner  %>
                  <% if circle.already_has?(current_user.id) %>
                    <span data-value-id="<%=circle.id %>" class="label label-warning">已加入</span>
                  <% else %>
                      <a href="javascript:void(0)" data-value-id="<%=circle.id %>" class="label label-warning add_circle">加入</a>
                  <% end %>
                <% else %>
                  <span data-value-id="<%=circle.id %>" class="label label-warning">群主</span>
                <% end %>
              </div>
            </div>

          </div>
        </div>
      <% end %>
    <% else %>
      <div class="widget">该地区暂时还没有商家入驻</div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    new ApplyJoinCircleList({
      el: $(".circles-list"),
      current_user_login: '<%= current_user.login %>'
    })
  })
</script>