<div class='base_info widget span9 buyer'>
	<h3>入驻买家</h3>
	<div class="hot_region buyer">
		<strong>热门区域: </strong>
		<span></span>
	</div>
	<%= render "new_address",locals: {:id => "buyer_user"} %>
	<div class ="wrapper">
		<% @buyer_users.each do |buyer_user| %>
			<div class='span3 buyer_user user_info' id="<%= buyer_user.id %>">
				<div>
					<a href="people/<%= buyer_user.login_name %>">
						<img src="<%= buyer_user.ower_photos.icon %>" class="user_icon"/>
					</a>
				</div>
				<div  class="pull-right title"> 
					<div class="name"><a href="people/<%= buyer_user.login_name %>"><%= buyer_user.login_name %></a></div>
					<div class="tel"><i class="icon-phone-sign"></i> <%= buyer_user.try(:phone)%></div>
				</div>
			</div>
		<% end %>
	</div>
</div>