<div class='user_base_info' user-id='<%= new_user.id %>' >
  <div class="bg_nature">
  	<img src="http://lorempixel.com/240/150/nature" />
  </div>
  <div class='userinfo'>
    <div class="circle_avatar">
    	<img src='<%= new_user.ower_photos.icon %>', class="author img-circle " />
    </div>
    <div class="login">
    	<a href="/people/<%= new_user.login_name %>"><%= new_user.login_name %></a>
    </div>
    <div class="industry_type">
    	<span>行业：<%= new_user.industry_type %></span>
    </div>
    <div class="tel">
    	<span>联系方式：<%= new_user.phone %></span>
    </div>
    <div class="add_friend">
    	<button><a href="javascript: void(0)">添加关注</a></button>
    </div>
    <div class="contact">
    	<a href="#"><i class="icon-leaf"></i></a>
    </div>
  </div>
</div>
