<div class='newer_panel newer widget'>
	<div class="title row-fluid">
		<div class="span4"><span style="font-size:25px;font-weight:bold;">新入驻成员</span></div>
		<div class="span8"><%= render "find_people" %></div>
	</div>
	<div class="hot_region newer row-fluid">
		<strong>热门城市: </strong>
		<span></span>
	</div>
	<%#= render "new_address" , locals: {:id => "new_user"} %>
	<div class="wrapper row-fluid">
		<% if  @new_users.length > 0 %>
			<% @new_users.each do |new_user| %>
				<div class='span3 new_user user_info' id="<%= new_user.id %>">
				    <div class="hover_place">
						<% if new_user.service_id == 1 %>
							<%= render :partial => "hover_buyer_template", :locals => { new_user: new_user} %>
							<span class="label label-warning pull-right">买家</span>
					    	<a href="/people/<%= new_user.try(:user).try(:login) %>">
					    		<img src="<%= new_user.ower_photos.icon %>" class="user_icon"/>
					    	</a>
						<% else %>
							<%= render :partial =>"hover_seller_template", :locals => { new_user: new_user} %>
							<span class="label label-important pull-right">卖家</span>
							<a href="/shops/<%= new_user.try(:shop_name) %>">
								<img src="<%= new_user.shop_photos.icon %>" class="user_icon" />
							</a>
						<% end %>
					</div>
					<div  class="content">
						<div class="name">
							<i class="icon-user"></i>
							<% if new_user.service_id == 1 %>
								<a href="/people/<%= new_user.try(:user).try(:login) %>" class="title"><%= new_user.try(:user).try(:login) %></a>
							<% else %>
								<a href="/shops/<%= new_user.try(:shop_name) %>" class="title"><%= new_user.try(:shop_name) %></a>
							<% end %>
						</div>
						<div class="industry"> 
							<i class=" icon-star"></i>
							<a href="#"><%= new_user.try(:industry_type)%></a>
						</div>
					</div>
				</div>
			<% end %>
		<% else %>
			<div class="widget">该地区暂时还没有商家入驻</div>
		<% end %>
	</div>
</div>

<script type="text/javascript">
	$(function(){
		$(".user_info").mouseenter(function(e){
			$top = e.pageY - $(document).scrollTop();
			$left = e.pageX - $(document).scrollLeft();
			$(".user_base_info", this).css('top', $top - 5);
            $(".user_base_info", this).css('left', $left + 5);
			$(".user_base_info", this).fadeIn();
		}).mouseleave(function(e){
			$(".user_base_info", this).fadeOut();
		})
	})
</script>