<% side_nav_for :communities %>
<div class="content container-fluid yellow_page">
  <div class="container-fluid ">
    <div class="row-fluid"> 
      <div class="span9">
        <%= render "show_special" %>
        <%= render "new_user" %>
        <%= render "business_communities" %>
      </div>
      <div class="span3">
        <!--排行榜-->
        <div class="top_10">
          <h4>排行榜</h4>
          <ul class="shops-list ">
          <% if  @top_10_shops.length > 0  %>
            <% @top_10_shops.each do |shop|%>
              <li data-value-id="<%= shop.id %>" class="row top_shop">
                <div class="top_image span4">
                  <a href="/shops/<%=shop.name %>">
                    <img src= "<%=shop.photos.icon %>" alt="头像"/>
                  </a>
                </div>
                <div class="span7"> 
                  <div class="shop_name">
                    <a href="/shops/<%=shop.name %>"><%=shop.name %></a>
                  </div>
                  <div class="follows">
                    关注人数: 
                    <span class="follows_count">  
                      <%=shop.followers.count %>
                    </span>
                  </div>
                  <% if current_user != shop.user  %>
                    <% if current_user.is_follow_shop?(shop.id) %>
                      <span data-value-id="<%= current_user.follow_shop(shop.id).id %>" class="label  btn-warning unfollow">取消关注</span>
                    <% else %>
                        <span class="label  btn-warning follow">+ 关注</span>
                    <% end %>
                  <% end %>
                </div>
              </li>     
            <% end %>
          <% else %>
            <li style="text-align:center;">暂无排行</li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/template" id= "seller_base_template">
  <%= render "shops/user_template" %>
</script>

<script type="text/template" id= "buyer_base_template">
  <%= render "users/template" %>
</script>

<script type="text/javascript">
  $(function() {    
    new FindUserView({
      el: $(".newer_panel"),
      area_id: "<%=@city.id %>",
      current_user_login: '<%=current_user.login %>'
    })

    var new_user_view = new NewUsersView({
      el: $(".newer_panel"),
      current_user_login: '<%=current_user.login %>'
    })
    new_user_view.render(<%= @new_users.to_json.html_safe %>)


    new FindCircleView({
      el: $(".circles"),
      area_id: "<%=@city.id %>",
      current_user_login: '<%=current_user.login %>'
    })
      
    $(".depend_select>option[value=]").html("--请选择--")

    $(".shops-list .top_shop").each(function(i, elem){
      new FollowView({
        el: $(elem),
        login: "<%=current_user.login %>",
        data: {
          follow_type: "Shop",
          follow_id:  $(elem).attr("data-value-id")
        }
      })
    })
  })
</script>