<% side_nav_for 'communities' %>

<div id="set_area_modal" class="modal hide fade detail_city_choice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <h3>地区选择</h3>
    </div>
    <div class="modal-body">
      	<%= simple_form_for @address, :url => "/", :html => {:class => 'form-horizontal edit_circle_from'} do |address_form| %>
		    <label class="chosen optional control-label" for="circle_address">选择地区</label>
		    <div class="controls controls-row">
				<div class="control-group">
					<%= address_form.input :province_id,
					             :as => :depend_select,
					             :children => :city_id,
					             :object => @circle,
					             :wrapper => :inline,
					             :collection => get_city %>

					<%= address_form.input :city_id,
					             :as => :depend_select,
					             :children => :area_id,
					             :target => :province,
					             :object => @circle,
					             :wrapper => :inline,
					             :collection_url => "/city/" %>

					<%= address_form.input :area_id,
					             :as => :depend_select,
					             :target => :city,
					             :object => @circle,
					             :wrapper => :inline,
					             :collection_url => "/city/" %>
				</div>
		 	</div>

      <div class="area_list">
        直接选择：<br>
  		 	<% @city.children.each do |city| %>
  		 		<a href="/cities/<%= city.id %>/communities" class="city_name"><%= city.name %></a>
  		 	<% end %>
      </div>
		<% end %>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary enter-area hide">进入</button>
    </div>
</div>

<script type="text/template" id= "seller_base_template">
  <%= render "shops/user_template" %>
</script>

<script type="text/template" id= "buyer_base_template">
  <%= render "users/template" %>
</script>

