<div class="row-fluid paid_bank">
  <div class="bank-wrapper nav-tabls-wrapper">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#bank" data-toggle="tab">
          银行卡
        </a>
      </li>
      <li>
        <a href="#pay_plat" data-toggle="tab">
          支付平台
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="bank">
        <div class='row-fluid'>
          <% default = Bank.first %>
          <% Bank.all.each do |bank| %>
            <%= content_tag :div, :class => 'bank_card' do %>
              <% state = default == bank %>
              <%= radio_button_tag :bank, bank.code, state %>
              <%= label_tag "bank_#{bank.code.downcase}" do %>
                <span class="banks bank-<%= bank.code.downcase %>">
                  <%= bank.name %>
                </span>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class='tab-pane' id="pay_plat">
        <ul class='payments-plat clearfix'>
          <li class='payment 99bill'>
            <a href='javascript:void(0)'>
              <input type='radio' name='pay_plat' value='99bill' checked class='pull-left' />
              <img src='/assets/payments/99bill.png' />
            </a>
          </li>
        </ul>
      </div>
      <div>
        <input type='button' value='支 付' class='btn btn-large btn-primary btn_paid' />
      </div>
    </div>
  </div>
  <div class='clearfix'></div>
  <% if payment_mode? %>
  <div>支付开启测试模式</div>
  <% end %>
</div>