<!-- Modal -->
<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">修改商圈</a></li>
    <li>
      <a href="#tab2" data-toggle="tab">邀请朋友</a>
    </li>
  </ul>
  <div class="tab-content cirlce_info">
    <div class="tab-pane active" id="tab1">
      <div>
        <span class="m_r">商圈</span>
        <input type="text" class="circle_name" value="<%=circle.name %>"/>
      </div>
      <div class="row-fluid">
        <span class="span1 circle_icon m_r">封面</span>
        <%= render "/circles/update_photo", circle: circle %>
      </div>
      <div class="row-fluid">
        <%= render "/circles/update_address", circle: circle %>
      </div>
      <div class="settings">
        <span class="m_r">设置</span>
        <span>限制地区</span>
        <input type="checkbox" <% if circle.setting.try(:limit_city)  %> checked= 'checked' <% end %> class="limit_area m_r" />
        <span>申请加入</span>
        <input type="checkbox" <% if circle.setting.try(:limit_join) %> checked= 'checked' <% end %> class="limit_join " />
      </div>
      <div>
        <span class="m_r">简介</span>
        <textarea class="introduce"><%=circle.description %></textarea>
      </div>
      <div class="foot">
        <div class="pull-left">
          <%= button_to '解散商圈', destroy_circle_community_circles_path(circle), class: 'btn btn-danger', confirm: '确定要解散商圈吗？此操作不可恢复。', method: :delete %>
        </div>
        <div class="pull-right save">
          <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
          <button class="btn btn-primary update_circle">保存</button>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="tab2">
      <div>
      <% if circle.is_manage?(current_user.id) %>
        <%= render "/communities/invite/new" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    new CircleUpdate({
      el: $(".cirlce_info"),
      circle_id: <%=circle.id  %>
    })
  })
</script>