<!DOCTYPE html>
<%= html_tag :class => "no-js" %>
  <head>
    <title></title>
    <%= stylesheet_link_tag :message %>
    <%= javascript_include_tag :chat %>
    <style>
      html,body{
        padding: 0px;
        margin: 0px;
        height: 100%;
      }
    </style>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%=yield %>
  </body>
</html>