<!DOCTYPE html>
<%# http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither %>
<%= html_tag :class => "no-js" %>
<%= render "head", :styles => [:admins], :javascripts => [:admins] %>

<body class="<%= controller.controller_name %>">
	<%= render "header" %>
	<%= render "flashes" %>
  	<div id="admin_content" class="container relative">
  		<div class="row">
		    <div id="admin_main">
		      <div class="container-fluid">
		        <%= yield %>
		      </div>
		    </div>
		    <%= side_bar :admin_left_side %>
		</div>
	</div>
    <%#= render "javascripts" %>
	<%= javascripts_codes %>
	<script type="text/javascript">
		Ajaxify.start();
	</script>

	<div class='footer_nav'>
		<%= render_widget :chat %>
	</div>
	<%= render "footer" %>
  	<%= render "baidu_analyzer" %>

</body>
</html>