<!DOCTYPE html>
<%# http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither %>
<%= html_tag :class => "no-js" %>
<%= render "head", :styles => [:admins], :javascripts => [:admins] %>

<body class="<%= controller.controller_name %>" style="zoom: 1">
    <%= render "chromeframe" %>
    <div class="logo" data-spy="affix" data-offset-top="20">
        <h4><a href="/">万流 <strong>市场</strong></a></h4>
    </div>
	<%= render "flashes" %>

	<%= side_bar :admin_left_side %>
    <div class="wrap">
        <%= render "header" %>
      	<div class='content container-fluid'>
        	<%= yield %>
      	</div>
    </div>

    <div id="popup-layout"></div>
    <%= render "right_sidebar" %>
    <%#= render 'header' %>
    <%= render "footer" %>
    <%# Javascript at the bottom for fast page loading %>
    <%= render "baidu_analyzer" %>
    <%#= render "javascripts" %>
	<%= javascripts_codes %>
</body>
</html>
<script type="text/javascript">
$(document).ready(function(){
  notifier.setPermission()
})
</script>