<!DOCTYPE html>
<%# http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither %>
<%= html_tag :class => "no-js" %>
<%= render "head" %>
<body class="<%= controller.controller_name %>">
	<%= render "header" %>

  <%= render "main_nav" %>
  <div id="slide-back">
  </div>
  <div id="content" class="container relative">
    <div id="main">
        <div id="slide-box">
          <%#= render_cell :slide, :show %>
        </div>
      <div class="container-fluid">
        <%= render "flashes" %>
        <%= yield %>
        <%= render "footer" %>
      </div>
    </div>
    <%= render "left_sidebar" %>
	</div>
  <%# Javascript at the bottom for fast page loading %>
  <%= render "baidu_analyzer" %>
  
</body>
</html>