<!DOCTYPE html>
<%# http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither %>
<%= html_tag :class => "no-js" %>
<%= render "head", :javascripts => [:panama], :styles => [:category] %>
<body class="<%= controller.controller_name %>">
	<%= render "header" %>
	<%= render "category_breadcrumbs" %>
	<div id='wrapper' class='container'>
		<%= yield %>
	</div>

  <div class='footer_nav'>
  	<%= render_widget :my_cart %>
  </div>
</body>
</html>