<!DOCTYPE html>
<%= html_tag :class => "no-js" %>
  <head>
    <title> </title>
    <script type="text/javascript">
      this.clients = window.parent.clients;
    </script>
    <%= stylesheet_link_tag :another_bootstrap, :chat %>
    <%= javascript_include_tag :chat %>
    <style>
      html,body{
        padding: 0px;
        margin: 0px;
        height: 100%;
      }
    </style>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%=yield %>
    <%= render "baidu_analyzer" %>
  </body>
</html>