<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<%= html_tag :class => "no-js" %>
  <head>
    <title></title>
    <%= stylesheet_link_tag :another_bootstrap, :chat %>
    <%= javascript_include_tag faye_server_uri + "/client.js" %>
    <%= javascript_include_tag :chat %>
    <style>
      html,body{
        padding: 0px;
        margin: 0px;
        height: 100%;
      }
    </style>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%=yield %>
  </body>
</html>