<!DOCTYPE html>
<%# http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither %>
<%= html_tag :class => "no-js" %>
<%= render "head", :styles => ["people"] %>
<body class="<%= controller.controller_name %>" style="zoom: 1">
  <%= render "chromeframe" %>
  <%= render "logo" %>
  <%= render "people_sidebar" %>
  <div class="wrap">
    <%= render "header" %>
    <div class='content container-fluid'>
      <%= yield %>
    </div>
  </div>
  <div id="popup-layout"></div>
  <%= render "right_sidebar" %>
  <%= render "footer" %>
  <%= render "baidu_analyzer" %>
  <%= javascript_include_tag "people" %>
  <%= javascript_include_tag "my_cart" %>  
  <%= javascript_include_tag "polyfills" %>
  <%= render "javascripts" %>

  <script type="text/javascript">
    $(function(){
      <% if current_user.present? %>
        new PeopleSideView({ el: $("#people-sidebar") })
      <% end %>
      var section = "<%= yield :people_siderbar %>"
      if (section != "") {
        $(".people-" + section)
          .parents("li").addClass("active")
          .parents(".accordion-body").addClass("in")
      }

      var notification_id = ~~paramsFromUrl().id;
      if (notification_id > 0) {
        $target = $('.notification_panel').find('[data-id="'+notification_id+'"]');
        $target.css('background-color', 'rgb(29, 107, 126)');
      }
      
      $(".mark_read").bind("click", function(event){
        target = $(event.target),
        current_user = "<%= current_user.login %>",
        notification = target.parents('.notification_one').attr("data-id"),
        $.ajax({
          type: "post",
          dataType: "json",
          url: "/people/"+current_user+"/notifications/"+notification+"/mark_as_read",
          success: function(){
            target.parents('.notification_one').fadeOut();
          }
        })
      })      
    })
  </script>  
  <%# 开发环境下显示500错误信息 %>
  <% unless Rails.env.production? %>
    <%= javascript_include_tag "show_500_error_in_dev" %>
  <% end %>     
</body>
</html>