<!DOCTYPE html>
<%# http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither %>
<%= html_tag :class => "no-js" %>
<%= render "head", :styles => [:another_bootstrap, :products], :javascripts => [:panama] %>
<body class="<%= controller.controller_name %>">
  	<%= render "header-fluid" %>
  	<%#= render "main_nav-fluid" %>
    <div id="content" class="container-fluid relative">
		<%= render "category_breadcrumbs" %>
	    <%#= render "comments_sidebar" %>
		<%= yield %>

	</div>
  <div class='footer_nav'>
  	<%= render_widget :my_cart %>
  </div>
</body>
</html>