<!DOCTYPE html>
<%# http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither %>
<%= html_tag :class => "no-js" %>
  <%#= cache do %>
    <%= render "head", :styles => ['application'], :javascripts => ['application'] %>
  <%# end %>
  <body class="<%= controller.controller_name %>" style="zoom: 1">
    <%= render "chromeframe" %>
    <%= render "logo" %>
    <%= render "left_sidebar" %>
    <div class="wrap">
        <%= render "header" %>
        <%= yield %>
    </div>
    <div id="popup-layout"></div>
    <%= render "right_sidebar" %>
    <%#= render 'header' %>
    <%= render "footer" %>
    <%# Javascript at the bottom for fast page loading %>
    <%= render "baidu_analyzer" %>

  </body>
</html>
<script type="text/javascript">
  $(function(){
    notifier.setPermission()
  })
</script>