<div class='ask_buy' ask-buy-id='<%= ask_buy.id %>' id="ask_buy<%= ask_buy.id %>">
  <div class='out-box'>
    <div class='in-box'>
      <%= image_tag ask_buy.photos.avatar, :class => "preview a-#{ask_buy.id}" %>
    </div>
    <div class='summary'>
      <h5 class="title href_name"><%= ask_buy.title %> 求购</h5>
      <p class='describe' style=""><%= ask_buy.describe %> </p>
    </div>
    <div class='userinfo'>
      <%= image_tag ask_buy.user.icon, :class => [:author, :''] %>
      <p>
        <a href="<%= person_path(ask_buy.user) %>">
          <%= ask_buy.user.login %>
        </a>
      </p><br />
    </div>
    <div class="buttons">
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    new AskBuyPreview({
      el: $("#ask_buy<%= ask_buy.id %>"),
      id: <%= ask_buy.id %>,
      login: '<%= current_user.login %>'
    })
  })
</script>