<%= simple_form_for @ask_buy, :remote => true, :url => ask_buy_index_path, :html => { class: 'form-horizontal form_ask_buy' }  do |f| %>
  <%#= f.input :title, :input_html => {
    :class => "ask_buy_title"
  } %>
  <%= f.input :title,
              :collection => [],
              :input_html => {
                :class => "ask_buy_title"
              } %>
  <div class="control-group">
    <label class="control-label" for="inputPrice">图片</label>
    <div class="controls">
      <ul class='attachment-list'></ul>
    </div>
  </div>
  <%= f.input :price %>
  <%= f.input :amount, input_html: { value: 1 } %>
  <%= f.input :describe, :as => :text %>
<% end %>

<template class='upload_template'>
  <div class="attachable">
    <img class="img-rounded attachable-preview" />
    <input type="hidden" />
    <div class="attachment-upload"></div>
    <div class="nav-panle">
    </div>
    <div class="progress-panle">
      <div class="progress progress-mini progress-success">
        <div class="bar" style="width: 0%"></div>
      </div>
    </div>
  </div>
</template>

<script type='text/javascript'>
  $(document).ready(function(){

    view = new AskBuyView({
      el: $("form.form_ask_buy"),
      params: {
        url_upload: "<%=attachments_path %>",
        default_img_url: "<%=default_img_url('100x100') %>",
        template: $(".upload_template").remove().html()
      }
    })

    // new TypeaheadExtension({
    //   el: $("input.ask_buy_title"),
    //   field: "name",
    //   source: "/product_search",
    //   select: function(id){
    //     view.fetch_product(id)
    //   }
    // })

    $('.form_ask_buy .ask_buy_title').chosenEx({
      allow_single_deselect : true,
      placeholder_text : "选择一个商品",
      no_results_text : "没有以该关键词开头的商品",
      <% if @ask_buy.product.present? %>
      data: [{id: <%= @ask_buy.product_id %>, name: "<%=@ask_buy.product.name %>"}]
      <% end %>
      remote: {
        url: "/product_search",
        dataType: "json"
      },
      select: function(id){
        view.fetch_product(id)
      }
    });

  })
</script>
