<div class='dialog-panel'>
  <div class="container ask_buy">
    <div class="row-fluid ">
      <div class="offset1 span7">
        <!-- 主展示框 -->
        <div id="main-model" class="dialog">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3><%=@ask_buy.title %> 求购</h3>
          </div>
          <div class="modal-body main-show">
            <div class='picture'>
              <% if @ask_buy.attachments.length > 1  %>
                <div id="myCarousel" class="carousel slide">
                  <div class="carousel-inner">
                      <% @ask_buy.attachments.each do |picture| %>
                        <div class="item">
                          <img class="preview" src="<%=picture.file %>" alt="求购-图片">
                        </div>
                      <% end %>
                  </div>
                  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                </div>
              <% else %>
                <img class="preview" src="<%=@ask_buy.photos.default %>" />
              <% end %>
            </div>

            <h4 class="right_bottom2 animate1 fadeInRight">
              价格: <span>￥<%=@ask_buy.price %></span>
            </h4>
            <h4>
              求购: <span><%=@ask_buy.amount.to_i %></span>
              <%= @ask_buy.product.try(:unit).try(:name) %>
            </h4>
            <h4>商品描述：</h4>
            <span style="word-wrap:break-word;margin-left:10px;">
              <%=@ask_buy.describe %>
            </span>
            
            <% if current_user == @ask_buy.user %>
              <h4>商家报价</h4>
              <table class="report">
                <% answer_ask_buys = @ask_buy.answer_ask_buys %>
                <% unless answer_ask_buys.blank? %>
                  <% answer_ask_buys.each do |answer_ask_buy| %>
                    <%= render partial: "anwser_list.html", locals: {answer_ask_buy: answer_ask_buy} %>
                  <% end %>    
                <% else %>
                  <tr><td colspan="5">暂无人参与报价</td></tr>
                <% end %>
              </table>
            <% end %>

          </div>
          <div class="modal-footer">
            <div class="big_comments_and_reply">
              <div class="comments">
              </div>
              <div class="reply_form">
                <div class='user-info'>
                  <img src="<%= current_user.photos.icon %>">
                  <a href='javascript:void(0)'>
                    <%= current_user.login %>
                  </a>
                </div>
                <div class='message'>
                  <textarea name='content' placeholder="发表评论..."></textarea>
                </div>
                <button class="submit-comment disabled btn btn-danger">评论</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="span3">
        <div class="dialog">
          <div class="modal-body">
            <a href="<%= person_path(@ask_buy.user) %>">
              <img class="author_image" src="<%=@ask_buy.user.photos.icon %>" />
            </a>
            <h4>
              <a href="<%= person_path(@ask_buy.user) %>">
                <%=@ask_buy.user.login %>
              </a>
            </h4>
            <p>
              关注 <%=@ask_buy.user.followings.count %>
            </p>
            <p>
              粉丝 <%=@ask_buy.user.followers.count %>
            </p>
          </div>
          <div class="modal-footer">
          </div>
        </div>

        <div class="dialog" id="purchase-forms">
          <div class="modal-body">
            <% if has_right_to_answer_ask_buy?(@ask_buy) %>
              <h4>我的报价</h4>
              <%= simple_form_for @answer_ask_buy, :remote => true, :url => answer_ask_buy_index_path, :html => { class: 'form-horizontal form_answer_ask_buy'},:method => "post", :type => :json do |f| %>
                <%=f.input :ask_buy_id, :as => :hidden, :input_html => { :value => @ask_buy.id } %>
                <%=f.input :shop_product_id,
                            :label => "商品",
                            :collection => [],
                            :wrapper_html => {
                              :class => "shop_product_wrap"
                            },
                            :collection => [],
                            :input_html => {
                              :class => "shop_product_id span-blank",
                              :id => "answer_ask_buy_shop_product"
                            } %>
                <%=f.input  :price,  
                            :label => "单价", 
                            :wrapper_html => {
                              :class => "answer_ask_buy_price_wrap"
                            }, 
                            :input_html => { 
                              :value => @ask_buy.price, 
                              :class => "answer_ask_buy_price span-blank",
                              :type => "text" }%>

                <%=f.input :amount,
                           :label => "数量",
                           :wrapper_html => {
                              :class => "answer_ask_buy_amount_wrap"
                            },
                           :input_html => { 
                            :value => @ask_buy.amount.to_i,
                            :class => "answer_ask_buy_amount span-blank",
                            :type => "text" }%>
                <% total = @ask_buy.price * @ask_buy.amount %>
                <%=f.input :total,
                           :label => "总计",
                           :wrapper_html => {
                              :class => "answer_ask_buy_total_wrap"
                            },
                           :input_html => { 
                            :value => total,
                            :class => "answer_ask_buy_total span-blank",
                            :type => "text" }%>
              <% end %>
              <% if current_user.answered_ask_buy(@ask_buy.id).nil? %>
                <input type="button" value="提交报价" class="btn btn-danger pull-right submit_report">
              <% end %>
            <% else %>
              <h4><%=@ask_buy.title %> 求购</h4>
              <label class="decimal optional control-label" for="product_item_price">价格</label>
              <input type='text' class='span12' value="<%=@ask_buy.price %>"  readonly=true />
              <label class="integer optional control-label" for="product_item_amount">数量</label>
              <input class="numeric integer span12" name="" readonly=true type="number" value="<%=@ask_buy.amount %>">
            <% end %>
            <div class="modal-footer">
              <% unless @ask_buy.open %>
                <span class="label label-important">求购已关闭</span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/template" id="ask_buy-comment-template">
  <%= render "comment.html" %>
</script>

<script type="text/javascript">
  $(function(){
    $(".item").first().addClass("active")
  });
  <% if has_right_to_answer_ask_buy?(@ask_buy) %>
    var sp_elem = $(".form_answer_ask_buy .shop_product_id")
    <% shop_product = current_user.belongs_shop.has_product(@ask_buy.product_id) %>

    sp_elem.chosenEx({
      allow_single_deselect : true,
      placeholder_text : "选择一个商品",
      <% if @answer_ask_buy.shop_product.present? %>
        data: [{
          id: <%= @answer_ask_buy.shop_product_id %>,
          name: "<%= @answer_ask_buy.shop_product.name %>"
        }],
      <% elsif shop_product.present? %>
        data: [{
          id: <%= shop_product.id %>,
          name: "<%= shop_product.product.name %>"
        }],
      <% end %>
      remote: {
        url: "/search/shop_products",
        dataType: "json",
        no_results_text : "没有找到你的商品, 请到<a href='/shops/<%=current_user.belongs_shop.name %>/admins/shop_products'>商品管理</a>中添加"
      }
    });

    $('#answer_ask_buy_shop_product_chzn .chzn-results>li').live("click", function(event){
      $(".form_answer_ask_buy .shop_product_wrap").removeClass("error");
    })
  <% end %>
  <% if !current_user.answered_ask_buy(@ask_buy.id).nil? %>
    $(".form_answer_ask_buy input").attr("readonly","readonly")
  <% end %>
</script>